@model List<鮮蔬果季_前台.ViewModels.ReviewViewModel>

@{
    ViewData["Title"] = "Coupons";
}

@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
    <style>
        /*            .dropdown-item:focus {
                background-color: transparent;
            }

            .dropdown-item:hover {
                background-color: transparent;
                color: darkcyan;
            }*/

        .reviewlist tr:hover {
            background-color: aliceblue;
        }

        .control-label {
            font-weight: bold;
        }

        /*        .cpcondition{
            float:left;
            width:45%;
            padding-right:2.5%;
        }
        .cpdisc{
            float:left;
            width:45%;
            padding-left:2.5%;
        }*/
        .rvopt {
            padding-left: 25%;
        }

        td i {
            color: yellowgreen;
        }

        .hideshield {
            font-style: italic;
            color: darkred;
        }
        #loader { /*   這是整個會蓋住畫面的底色色塊  */
            position: fixed;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 25%;
            background-color: transparent;
            z-index: 9999;
        }

        #shippingmsgbox {
            background-color: #E0E0E0;
            z-index: 100;
            height: 70px;
            width: 150px;
            position: fixed;
            top: 30%;
            left: 53%;
            margin-top: -35px;
            margin-left: -75px;
            align-items: center;
            display: flex;
            padding-top: 75px;
            border-radius: 15px;
            font-weight: bolder;
            font-size: 15px;
            box-shadow: 1.5px 1.5px 7px 1px #5b5b5b;
        }

        #shippingmsgText {
            height: 100px;
            width: 200px;
            text-align: center;
            color: #4D0000;
            font-weight: bold;
        }
    </style>
}
<div id="loader" hidden>
    <img id="imgLoad" style="width:110px;" src="~/images/loading.gif" />
</div>
<div class="alert-autocloseable-warning" id="shippingmsgbox" hidden>
    <div class="alert-autocloseable-warning" id="shippingmsgText">
        屏蔽成功
    </div>
</div>
<div class="alert-autocloseable-warning2" id="shippingmsgbox" hidden>
    <div class="alert-autocloseable-warning2" id="shippingmsgText">
        解除屏蔽成功
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title">評論管理</h2>
        <p class="card-text"></p>
        <div class="row my-4">
            <!-- Small table -->
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <!-- table -->
                        <table class="table datatables border-dark" id="dataTable-1">
                            <thead class="thead-dark">
                                <tr>
                                    <th>序號</th>
                                    <th>@Html.DisplayNameFor(model => model.First().SupplierName)</th>
                                    <th>@Html.DisplayNameFor(model => model.First().ProductName)</th>
                                    <th>@Html.DisplayNameFor(model => model.First().OrderDetailId)</th>
                                    <th>@Html.DisplayNameFor(model => model.First().MemberName)</th>
                                    <th>@Html.DisplayNameFor(model => model.First().ReviewDate)</th>
                                    <th>@Html.DisplayNameFor(model => model.First().Comments)</th>
                                    <th>@Html.DisplayNameFor(model => model.First().StarRanking)</th>
                                    <th>@Html.DisplayNameFor(model => model.First().Shield)</th>
                                    <th>屏蔽功能</th>
                                    @*<th>編輯</th>*@
                                </tr>
                            </thead>
                            <tbody class="reviewlist">
                                @{ int count = 0;
                                    foreach (var item in Model)
                                    {
                                        count++;
                                        string 評論日期 = (item.ReviewDate).ToString("yyyy/MM/dd tt hh:mm");
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.SupplierName</td>
                                            <td>@item.ProductName</td>
                                            <td>
                                                <span style="padding-left:15%">No. </span>@item.OrderDetailId
                                            </td>
                                            <td>@item.MemberName</td>
                                            @{ 
                                                string ReviewDate = (item.ReviewDate).ToString("yyyy/MM/dd hh:mm tt");
                                                <td>@ReviewDate</td>
                                            }
                                            @{
                                                if (item.Comments == null && item.Shield == false)
                                                {
                                                    <td style="font-style:italic">*沒有留下評論*</td>
                                                }
                                                else if (item.Shield == true)
                                                {
                                                    <td class="hideshield" style="font-weight:bold">*內容已屏蔽*</td>
                                                    <td class="showshield" hidden>@item.Comments</td>
                                                }
                                                else
                                                {
                                                    <td class="commval">@item.Comments</td>
                                                }
                                            }
                                            <td>
                                                @{
                                                    if (item.StarRanking == 1)
                                                    {
                                                        <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                                    }
                                                    if (item.StarRanking == 2)
                                                    {
                                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                                    }
                                                    if (item.StarRanking == 3)
                                                    {
                                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                                    }
                                                    if (item.StarRanking == 4)
                                                    {
                                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    }
                                                    if (item.StarRanking == 5)
                                                    {
                                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                    }
                                                    <p hidden>@item.StarRanking</p>
                                                }
                                            </td>
                                            @{
                                                if (item.Shield == true)
                                                {
                                                    <td>
                                                        <span style="padding-left:15px;" class="fe fe-24 fe-eye-off eyeclose"></span>
                                                        <span style="padding-left:15px;" hidden class="fe fe-24 fe-eye eyeopen"></span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }

                                            }
                                            <td>
                                                <button class="btn btn-sm dropdown-toggle more-horizontal rvopt" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="text-muted sr-only">Action</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <button type="button" class="dropdown-item btnShield" data-toggle="modal" data-target="#exampleModal">
                                                        屏蔽
                                                    </button>
                                                    <input type="hidden" class="Rid" value="@item.ReviewId" />
                                                    <button class="dropdown-item btnUnshield">解除</button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- simple table -->
        </div> <!-- end section -->
    </div> <!-- .col-12 -->
</div> <!-- .row -->

@section Scripts{
    <script src='~/backstage/js/jquery.dataTables.min.js'></script>
    <script src='~/backstage/js/dataTables.bootstrap4.min.js'></script>
    <script>
        $('#dataTable-1').DataTable(
            {
                autoWidth: true,
                "lengthMenu": [
                    [16, 32, 64, -1],
                    [16, 32, 64, "All"]
                ]
            });

        $(document).on('click', '.btnShield', function () {
            var Rid = $(this).next(".Rid").val();
            async function changeshield() {
                var response = await fetch('@Url.Content("~/BackstageReviewsApi/ReviewsShield/")' + Rid);
                var data = await response.text();
                if (data == 1) {
                $('.card-body').load("@Url.Content("~/BackstageReviewsApi/ReviewsListPartial")", function () {
                    $('#dataTable-1').DataTable(
                        {
                            autoWidth: true,
                            "lengthMenu": [
                                [16, 32, 64, -1],
                                [16, 32, 64, "All"]
                            ]
                        });
                    $('#loader').attr("hidden", true);
                    $('.alert-autocloseable-warning').attr("hidden", false);
                    $('.alert-autocloseable-warning').delay(2000).fadeOut("slow", function () {
                        $('.alert-autocloseable-warning').attr("hidden", true);
                        $('.alert-autocloseable-warning').removeAttr("style");
                    });
                })
            }
            }
            changeshield();
        });

        $(document).on('click', '.btnUnshield', function () {
            var Rid = $(this).prev(".Rid").val();
            async function changeunshield() {
                var response = await fetch('@Url.Content("~/BackstageReviewsApi/ReviewsUnShield/")' + Rid);
                var data = await response.text();
                if (data == 1) {
                $('.card-body').load("@Url.Content("~/BackstageReviewsApi/ReviewsListPartial")", function () {
                    $('#loader').attr("hidden", true);
                    $('.alert-autocloseable-warning2').attr("hidden", false);
                    $('.alert-autocloseable-warning2').delay(2000).fadeOut("slow", function () {
                        $('.alert-autocloseable-warning2').attr("hidden", true);
                        $('.alert-autocloseable-warning2').removeAttr("style");
                    });
                    $('#dataTable-1').DataTable(
                        {
                            autoWidth: true,
                            "lengthMenu": [
                                [16, 32, 64, -1],
                                [16, 32, 64, "All"]
                            ]
                        });
                })
            }
            }
            changeunshield();
        });

        $(document).on("mousedown", ".eyeclose", function () {
            $(this).attr("hidden", true);
            $(this).next().removeAttr("hidden");
            /*            $(".hideshield").attr("hidden", true);*/
            $(this).parent().prev().prev().prev().attr("hidden", true);

            /*            $(".showshield").removeAttr("hidden");*/
            $(this).parent().prev().prev().removeAttr("hidden");

        })
        $(document).on("mouseup", ".eyeopen", function () {
            $(this).attr("hidden", true);
            $(this).prev().removeAttr("hidden");
            /*            $(".showshield").attr("hidden", true);*/
            $(this).parent().prev().prev().attr("hidden", true);
            /*            $(".hideshield").removeAttr("hidden");*/
            $(this).parent().prev().prev().prev().removeAttr("hidden");
        })

        $(document).on("mouseout", ".eyeopen", function () {
            $(this).attr("hidden", true);
            $(this).prev().removeAttr("hidden");
            /*            $(".showshield").attr("hidden", true);*/
            $(this).parent().prev().prev().attr("hidden", true);
            /*            $(".hideshield").removeAttr("hidden");*/
            $(this).parent().prev().prev().prev().removeAttr("hidden");
        })



        //$(document).on("mousedown", ".hideshield", function () {
        //    timeout = setTimeout(function () {
        //        var commvalue = $()
        //        $(".hideshield").removeClass("hideshield").addClass("showshield");
        //        $(.showshield).val();
        //    }, 500);
        //})

        //$(“#mydiv”).mouseup(function () {
        //    clearTimeout(timeout);
        //    $(“#mydiv”).text(“out”);
        //});

        //$(“#mydiv”).mouseout(function () {
        //    clearTimeout(timeout);
        //    $(“#mydiv”).text(“out”);
        //});




    </script>
    <script src="https://kit.fontawesome.com/28e604edf6.js" crossorigin="anonymous"></script>
}
