@model 鮮蔬果季_前台.ViewModels.ShoppingListViewModel
@section Styles{
    <style>
        .custom-file-label::after {
            content: "選擇";
        }
    </style>


}
<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProductId" />
        <div class="form-group">
            <label asp-for="ProductName" class="control-label"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        @*<div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>*@
        <div class="form-group">
            <label asp-for="SupplierName" class="control-label"></label>
            <select asp-for="SupplierName" class="form-control">
                @foreach (var item in ViewBag.AllSupp)
                {
                    if (Model.SupplierName == item.SupplierName)
                    {
                        <option selected>@item.SupplierName</option>
                    }
                    else
                    {
                        <option>@item.SupplierName</option>
                    }

                }

            </select>
            <span asp-validation-for="SupplierName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductUnitPrice" class="control-label"></label>
            <input asp-for="ProductUnitPrice" class="form-control" />
            <span asp-validation-for="ProductUnitPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductCostPrice" class="control-label"></label>
            <input asp-for="ProductCostPrice" class="form-control" />
            <span asp-validation-for="ProductCostPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductUnitsInStock" class="control-label"></label>
            <input asp-for="ProductUnitsInStock" class="form-control" />
            <span asp-validation-for="ProductUnitsInStock" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProductDescription" class="control-label"></label>
            <input asp-for="ProductDescription" class="form-control" />
            <span asp-validation-for="ProductDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductSize" class="control-label"></label>
            <input asp-for="ProductSize" class="form-control" />
            <span asp-validation-for="ProductSize" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">產品相片(第一張圖片會為封面)</label>
            <div class="col-md-12 photobox" style="border:1px solid lightgray;padding:20px">
                <div class="imgLoad">
                    @foreach (var item in Model.photoBank)
                    {
                        <img src="~/images/商品照/@item.PhotoPath" style="width:150px;height:100px;object-fit:cover;margin-right:10px;margin-bottom:10px;">
                        <input type="hidden" name="photoList" class="photoHid" value="@item.PhotoPath" />
                    }
                </div>
                <div class="input-group mb-3">
                    @*<input type="file" class="selectphoto"/>*@
                    <div class="custom-file">
                        <input type="file" multiple class="custom-file-input selectphoto" id="inputGroupFile02" name="photo">
                        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02" >選擇圖片</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" id="inputGroupFileAddon02">清空</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProduceDate" class="control-label"></label>
            @if (Model.InShop)
            {
                <input asp-for="ProduceDate" class="form-control" disabled />
            }
            else
            {
                <input value="尚未上架" class="form-control" disabled />
            }

            <span asp-validation-for="ProduceDate" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="InShop" /> @Html.DisplayNameFor(model => model.InShop)
            </label>
        </div>

        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="DefectiveGood" /> @Html.DisplayNameFor(model => model.DefectiveGood)
            </label>
        </div>

        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="HotProduct" /> @Html.DisplayNameFor(model => model.HotProduct)
            </label>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

</script>
}
