@model List<鮮蔬果季_前台.ViewModels.BlogDetailListViewModel>
@*@{
        ViewData["Title"] = "EventList";
    }*@

@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
}

<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title">部落格管理</h2>
        <br />

        <button type="button" class="btn btn-primary btn-lg " id="CreateModal"   data-toggle="modal" data-target="#CreateModal" > 新增部落格
            @*@Html.ActionLink("新增部落格文章", "EventCreate", "BackstageEvent", new { }, new { @style = "color:White" })*@
        </button>

        <div class="row my-3" style="margin-top:0.5rem">
            <!-- Small table -->
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">

                        <!-- table -->
                        <table class="table datatables border-dark" id="dataTable-1">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>部落格ID</th>
                                    <th>供應商名稱</th>
                                    <th>部落格主標題</th>
                                    <th>部落格次標題</th>
                                    <th>標籤分類</th>
                                    <th>發布日期</th>
                                    <th></th>
                                    <th>編輯</th>
                                </tr>
                            </thead>
                            @{
                                foreach (var item in Model)
                                {
                                    <tbody class="tEventBody">
                                        <tr>
                                            <td>
                                                <!--<div class="custom-control custom-checkbox">-->
                                                @*<input type="checkbox" class="custom-control-input">*@
                                                @*<label class="custom-control-label"></label>*@
                                                <!--</div>-->
                                            </td>
                                            <td>@item.BlogDetail.BlogDetailId</td>
                                            <td>@item.Supplier.SupplierName</td>
                                            <td>@item.BlogDetail.Title</td>
                                            <td>@item.BlogDetail.Subtitle</td>
                                            <td>@item.BlogDetail.Label</td>
                                            <td>@ViewBag.活動日期</td>
                                            <td></td>

                                            <td>
                                                @*修改按鈕*@
                                                <button type="button" class="btn btn-success btnEdit" data-toggle="modal" data-target="#exampleModal">
                                                    <i class="fe fe-edit fe-16"></i>
                                                </button>
                                                <input type="hidden" class="Eid" value="@item.BlogDetail.BlogDetailId" />
                                            </td>                                                   @*透過vaule回傳的ID*@

                                        </tr>
                                    </tbody>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div> <!-- simple table -->
        </div> <!-- end section -->
    </div> <!-- .col-12 -->
</div> <!-- .row -->
<!-- Modal 修改-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">部落格修改</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="EventEdit">
                @*此處Form的內容就是EventEditPartial.cshtml*@
                <div class="modal-body eventBody">
                    @*載入的主體*@
                    <!--內容-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <input type="submit" value="儲存" class="btn btn-primary btnSave" data-dismiss="modal" />
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal 新增-->
<div class="modal fade" id="CreateModal" tabindex="-1" aria-labelledby="CreateModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">部落格新增</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="EventEdit">
                @*此處Form的內容就是EventEditPartial.cshtml*@
                <div class="modal-body eventBody">
                    @*載入的主體*@
                    <!--內容-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <input type="submit" value="儲存" class="btn btn-primary CreatebtnSave" data-dismiss="modal" />
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts{
    <script src='~/backstage/js/jquery.dataTables.min.js'></script>
    <script src='~/backstage/js/dataTables.bootstrap4.min.js'></script>
    <script>



            //開啟修改的PartialView
        $(document).on("click", ".btnEdit", function () {
            var eid = $(this).next(".Eid").val();
/*            console.log(eid);*/
            $(".eventBody").load("@Url.Content("~/BackstageBlog/BlogEditPartial")/" + eid, function () {
                   var editor = document.getElementById('editor');    //取得文字編輯器的id
                   if (editor) {
                         //以下為文字編輯器套件的程式碼
                       var toolbarOptions = [
                           [
                               {
                                   'font': []
                               }],
                           [
                               {
                                   'header': [1, 2, 3, 4, 5, 6, false]
                               }],
                           ['bold', 'italic', 'underline', 'strike'],
                           ['blockquote', 'code-block'],
                           [
                               {
                                   'header': 1
                               },
                               {
                                   'header': 2
                               }],
                           [
                               {
                                   'list': 'ordered'
                               },
                               {
                                   'list': 'bullet'
                               }],
                           [
                               {
                                   'script': 'sub'
                               },
                               {
                                   'script': 'super'
                               }],
                           [
                               {
                                   'indent': '-1'
                               },
                               {
                                   'indent': '+1'
                               }], // outdent/indent
                           [
                               {
                                   'direction': 'rtl'
                               }], // text direction
                           [
                               {
                                   'color': []
                               },
                               {
                                   'background': []
                               }], // dropdown with defaults from theme
                           [
                               {
                                   'align': []
                               }],
                           ['clean'] // remove formatting button
                       ];
                       var quill = new Quill(editor,
                           {
                               modules:
                               {
                                   toolbar: toolbarOptions
                               },
                               theme: 'snow'
                           });
                   }
               })
             });




                //修改儲存
        $(document).on("click", ".btnSave", async function (e) {
            e.preventDefault();

            //讀取文字編輯器
            var discription = $(".ql-editor").html();
            $(".Maintext").val(discription);

            const formData = new FormData(document.EventEdit)     @* EventEdit 為Form的Name*@
            const response = await fetch('@Url.Content("~/BackstageBlog/BlogEditPartial")', {
                method: "POST",
                body: formData
            })

            const data = await response.text()
            console.log(data)
            if (data == 1) {            //寫入後需要重新載入的原因,在於修改是使用浮動視窗,並不會把更新資料修改上去
                $('.card-body').load("@Url.Content("~/BackstageBlog/BlogListPartial")", function () {
                    alert("修改成功")
                    $('#dataTable-1').DataTable(     //此段待確認作用
                        {
                            autoWidth: true,
                            "lengthMenu": [
                                [16, 32, 64, -1],
                                [16, 32, 64, "All"]
                            ]
                        });
                })
            }
        })


        $(document).on("click", ".BtnEdit", function () {
            var mid = $(this).next(".Membid").val();
            console.log(mid);
            $(".memberBody").load("@Url.Content("~/BackstageMember/MemberDetailPartial")/" + mid)
        })

        $(document).on("change", ".PartialselectPhoto", async function () {
            var mid = $(".Membid").val();
            console.log(mid);
            const fromData = new FormData(document.MembEdit)
            const response = await fetch('@Url.Content("~/BackstageMember/uploadPhoto")', {
                method: "POST",
                body: fromData
            })
            const data = await response.text()
            if (data == 1) {
                $(".PartialPhotoLoad").load("@Url.Content("~/BackstageMember/Photoload/")" + mid, function () {
                    alert("上傳圖片成功")
                })
            }
        });


        $(document).on("change", ".PartialselectPhoto", async function () {
            var mid = $(".Membid").val();
            console.log(mid);
            const fromData = new FormData(document.MembEdit)
            const response = await fetch('@Url.Content("~/BackstageMember/uploadPhoto")', {
                method: "POST",
                body: fromData
            })
            const data = await response.text()
            if (data == 1) {
                $(".PartialPhotoLoad").load("@Url.Content("~/BackstageMember/Photoload/")" + mid, function () {
                    alert("上傳圖片成功")
                })
            }
        });





            //開啟新增的PartialView
        $(document).on("click", "#CreateModal", function () {

            $(".eventBody").load("@Url.Content("~/BackstageBlog/BlogCreatePartial")", function () {
                var editor = document.getElementById('editorCreate');    //取得文字編輯器的id
                   if (editor) {
                       //以下為文字編輯器套件的程式碼
                       console.log(editor)
                       var toolbarOptions = [
                           [
                               {
                                   'font': []
                               }],
                           [
                               {
                                   'header': [1, 2, 3, 4, 5, 6, false]
                               }],
                           ['bold', 'italic', 'underline', 'strike'],
                           ['blockquote', 'code-block'],
                           [
                               {
                                   'header': 1
                               },
                               {
                                   'header': 2
                               }],
                           [
                               {
                                   'list': 'ordered'
                               },
                               {
                                   'list': 'bullet'
                               }],
                           [
                               {
                                   'script': 'sub'
                               },
                               {
                                   'script': 'super'
                               }],
                           [
                               {
                                   'indent': '-1'
                               },
                               {
                                   'indent': '+1'
                               }], // outdent/indent
                           [
                               {
                                   'direction': 'rtl'
                               }], // text direction
                           [
                               {
                                   'color': []
                               },
                               {
                                   'background': []
                               }], // dropdown with defaults from theme
                           [
                               {
                                   'align': []
                               }],
                           ['clean'] // remove formatting button
                       ];
                       var quill = new Quill(editor,
                           {
                               modules:
                               {
                                   toolbar: toolbarOptions
                               },
                               theme: 'snow'
                           });
                   }
               })
             });



    </script>
}


