@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model List<鮮蔬果季_前台.ViewModels.BlogDetailListViewModel>
<!-- table -->
<table class="table datatables border-dark" id="dataTable-1">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>部落格ID</th>
            <th>供應商名稱</th>
            <th>部落格主標題</th>
            <th>部落格次標題</th>
            <th>標籤分類</th>
            <th>發布日期</th>
            <th></th>
            <th>編輯</th>
        </tr>
    </thead>
    @{
        foreach (var item in Model)
        {
            <tbody class="tEventBody">
                <tr>
                    <td>
                        <!--<div class="custom-control custom-checkbox">-->
                        @*<input type="checkbox" class="custom-control-input">*@
                        @*<label class="custom-control-label"></label>*@
                        <!--</div>-->
                    </td>
                    <td>@item.BlogDetail.BlogDetailId</td>
                    <td>@item.Supplier.SupplierName</td>
                    <td>@item.BlogDetail.Title</td>
                    <td>@item.BlogDetail.Subtitle</td>
                    <td>@item.BlogDetail.Label</td>
                    <td>@ViewBag.活動日期</td>
                    <td></td>

                    <td>
                        @*修改按鈕*@
                        <button type="button" class="btn btn-success btnEdit" data-toggle="modal" data-target="#exampleModal">
                            <i class="fe fe-edit fe-16"></i>
                        </button>
                        <input type="hidden" class="Eid" value="@item.BlogDetail.BlogDetailId" />
                    </td>                                                   @*透過vaule回傳的ID*@

                </tr>
            </tbody>
        }
    }
</table>