@model List<鮮蔬果季_前台.ViewModels.MemberViewModel>
@{
    ViewData["Title"] = "Member";
}
@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
}
<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title">會員管理</h2>
        <p class="card-text"></p>
        <div class="row my-4">
            <!--Small talble-->
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <!--table-->
                        <table class="table datatables border-dark" id="dataTable-1">
                            <thead class="thead-dark">
                                <tr>
                                    <th>編號</th>
                                    <th>頭像</th>
                                    <th>會員</th>
                                    <th>帳號</th>
                                    <th>密碼</th>
                                    <th>地址</th>
                                    <th>城市</th>
                                    <th>電話</th>
                                    <th>生日</th>
                                    <th>動作</th>
                                </tr>
                            </thead>
                            <tbody class="tmemberbody MemberBody">
                                @{
                                    int count = 0;
                                    foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>
                                                <p class="mb-0 text-muted">
                                                    @item.MemberId
                                                </p>
                                            </td>
                                            <td>
                                                <div class="avatar avatar-sm">
                                                    <img src="~/images/MemberPhoto/@item.MemberPhotoPass" alt="..." class="avatar-img rounded-circle" style="object-fit: cover; height: 32px; ">
                                                </div>
                                            </td>
                                            <td>
                                                <p class="mb-0 text-muted mName">
                                                    <strong>@item.MemberName</strong>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="mb-0 text-muted">
                                                    <strong>@item.UserId</strong>
                                                </p>
                                            </td>
                                            <td>
                                                <input readonly="readonly" value="@item.Password" type="password"  style="border:0 ; outline:none ;background-color:rgba(0,0,0,0); margin-bottom:5.6px;">
                                            </td>
                                            <td>
                                                <p class="mb-0 text-muted">
                                                    <strong>@item.MemberAddress</strong>
                                                </p>
                                            </td>
                                            <td>
                                                <small class="mb-0 text-muted"><strong>@item.city</strong></small>
                                            </td>
                                            <td>
                                                <p class="mb-0 text-muted">
                                                    <a href="#" class="text-muted"><strong>@item.Mobile</strong></a>
                                                </p>
                                            </td>
                                            @{
                                                string date = (item.BirthDate).ToString();
                                                date = date.Split(" ")[0];
                                                <td class="text-muted">
                                                    <strong>@date</strong>
                                                </td>
                                            }

                                            <td>
                                                @*<button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="text-muted sr-only">Action</span>
                                                </button>*@
                                                @*<div class="dropdown-menu dropdown-menu-right">*@
                                                    <button type="button" class="btn btn-success BtnEdit" data-toggle="modal" data-target="#EditModal"><i class="fe fe-16 fe-edit"></i></button>
                                                    <input type="hidden" class="Membid" id="memeberid" value="@item.MemberId" />
                                                @*</div>*@
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- Modal 會員修改-->
                    <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="max-width: 1000px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">資料修改</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form name="MembEdit">
                                    <div class="modal-body memberBody">
                                        <!--內容-->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        <input type="submit" value="儲存" class="btn btn-primary BtnSave" data-dismiss="modal" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .col-12 -->
</div> <!-- .row -->
@section Scripts{
    <script src='~/backstage/js/jquery.dataTables.min.js'></script>
    <script src='~/backstage/js/dataTables.bootstrap4.min.js'></script>
    <script>
        var partialMid = null;
        $('#dataTable-1').DataTable(
            {
                autoWidth: true,
                "lengthMenu": [
                    [16, 32, 64, -1],
                    [16, 32, 64, "All"]
                ]
            });
        $(document).on("click", ".BtnEdit", function () {
            var mid = $(this).next(".Membid").val();
            partialMid = mid;
            console.log(mid);
            $(".memberBody").load("@Url.Content("~/BackstageMember/MemberDetailPartial")?id=" + mid)
        })
        $(document).on("change", ".PartialselectPhoto", async function () {
            console.log(partialMid);
            const fromData = new FormData(document.MembEdit)
            const response = await fetch('@Url.Content("~/BackstageMember/uploadPhoto")', {
                method: "POST",
                body: fromData
            })
            const data = await response.text()
            if (data == 1) {
                $(".PartialPhotoLoad").load("@Url.Content("~/BackstageMember/Photoload/")?id=" + partialMid, function () {
                    alert("上傳圖片成功")
                })
            }
        });
        $(document).on("change", ".statechange", function () {
            var city = $(".statechange").val();
            console.log(city)
            $(".cityLB").val(city)
        })
        $(document).on("change", ".Gender", function () {
            var gender = $(".Gender").val();
            $(".GenderLB").val(gender);
        })
        $(document).on("click",".PartialTriggerUpload",function () {
            $(".PartialselectPhoto").click();
        })
        $(document).on("click", ".BtnSave", async function (e) {
            e.preventDefault();
            const fromData = new FormData(document.MembEdit)
            const response = await fetch('@Url.Content("~/BackstageMember/submitMemberDetil")', {
                method: "POST",
                body: fromData
            })
            const data = await response.text()
            if (data == 1) {
                $(".card-body").load("@Url.Content("~/BackstageMember/showNewMemberDetil")", function () {
                    alert("修改成功")
                    $('#dataTable-1').DataTable(
                        {
                            autoWidth: true,
                            "lengthMenu": [
                                [16, 32, 64, -1],
                                [16, 32, 64, "All"]
                            ]
                        });
                })
            }
        });
    </script>
}