@model List<鮮蔬果季_前台.ViewModels.MemberViewModel>
@{
    ViewData["Title"] = "Member";
}
@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
}
<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title">會員管理</h2>
        <p class="card-text"></p>
        <div class="row my-4">
            <!--Small talble-->
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <!--table-->
                        <table class="table datatables border-dark" id="dataTable-1">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>編號</th>
                                    <th>頭像</th>
                                    <th>會員</th>
                                    <th>帳號</th>
                                    <th>密碼</th>
                                    <th>地址</th>
                                    <th>城市</th>
                                    <th>電話</th>
                                    <th>生日</th>
                                    <th>動作</th>
                                </tr>
                            </thead>
                            <tbody class="tmemberbody MemberBody">
                                @{
                                    int count = 0;
                                    foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="@count">
                                                    <label class="custom-control-label" for="@count"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="mb-0 text-muted" id="mid">
                                                    @item.member.MemberId
                                                </p>
                                            </td>
                                            <td>
                                                <div class="avatar avatar-sm">
                                                    <img src="~/images/MemberPhoto/@item.member.MemberPhotoPass" alt="..." class="avatar-img rounded-circle">
                                                </div>
                                            </td>
                                            <td>
                                                <p class="mb-0 text-muted mName">
                                                    <strong>@item.member.MemberName</strong>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="mb-0 text-muted">
                                                    <strong>@item.member.UserId</strong>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="mb-0 text-muted">
                                                    <strong>@item.member.Password</strong>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="mb-0 text-muted">
                                                    <strong>@item.member.MemberAddress</strong>
                                                </p>
                                            </td>
                                            <td>
                                                <small class="mb-0 text-muted"><strong>@item.city</strong></small>
                                            </td>
                                            <td>
                                                <p class="mb-0 text-muted">
                                                    <a href="#" class="text-muted"><strong>@item.member.Mobile</strong></a>
                                                </p>
                                            </td>
                                            @{
                                                string date = (item.member.BirthDate).ToString();
                                                date = date.Split(" ")[0];
                                                <td class="text-muted">
                                                    <strong>@date</strong>
                                                </td>
                                            }

                                            <td>
                                                <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="text-muted sr-only">Action</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#" id="btnEdit">修改</a>
                                                    <a class="dropdown-item" href="#">移除</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <nav aria-label="Table Paging" class="my-3">
                    <ul class="pagination justify-content-end mb-0">
                        <li class="page-item">
                            <a class="page-link" href="#">上一頁</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">下一頁</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div> <!-- .col-12 -->
</div> <!-- .row -->
@section Scripts{
    <script src='~/backstage/js/jquery.dataTables.min.js'></script>
    <script src='~/backstage/js/dataTables.bootstrap4.min.js'></script>
    <script>
        $('#dataTable-1').DataTable(
            {
                autoWidth: true,
                "lengthMenu": [
                    [16, 32, 64, -1],
                    [16, 32, 64, "All"]
                ]
            });
        $(document).on("click", "#btnEdit", function () {
            var mid = $(this).next("#mid").val();
            console.log(mid);
            $(".MemberBody").load("@Url.Content("~/BackstageMember/MemberDetailPartial")/" + mid)
        })

    </script>
}