@model List<鮮蔬果季_前台.ViewModels.ShoppingListViewModel>
@{
    ViewData["Title"] = "Product";
}
@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
}

<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title">產品管理</h2>
        <p class="card-text" style="padding-left:20px;text-align:left">
            <button class=" btn btn-primary btnCreate" data-toggle="modal" data-target="#prodCreateModal">+產品新增</button>
        </p>
        <div class="row my-3" style="margin-top:0.5rem">
            <!-- Small table -->
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <!-- table -->
                        <table class="table datatables border-dark" id="dataTable-1">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>序號</th>
                                    <th>產品名稱</th>
                                    <th>照片</th>
                                    <th>供應商名稱</th>
                                    <th>售價</th>
                                    <th>進價</th>
                                    <th>庫存</th>
                                    <th>上架時間</th>
                                    <th>分類名稱</th>
                                    <th>編輯</th>
                                </tr>
                            </thead>
                            <tbody class="tprodbody">
                                @{ int count = 0;
                                    foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="@count">
                                                    <label class="custom-control-label" for="@count"></label>
                                                </div>
                                            </td>
                                            <td>@count</td>
                                            <td>@item.ProductName</td>
                                            @{if (@item.photoBank[0] != null)
                                                {
                                                    <td>
                                                        <img src="~/images/商品照/@item.photoBank[0].PhotoPath" class="" alt="Image" style="width:100px;height:70px;object-fit:cover">
                                                    </td>
                                                }
                                            }
                                            <td>@item.SupplierName</td>
                                            <td>@item.ProductUnitPrice</td>
                                            <td>@item.ProductCostPrice</td>
                                            @if (@item.ProductUnitsInStock == 0)
                                            {
                                                <td style="color:red;font-weight:bolder">@item.ProductUnitsInStock</td>
                                            }
                                            else
                                            {
                                                <td>@item.ProductUnitsInStock</td>
                                            }

                                            @{
                                                string date = (item.ProduceDate).ToString();
                                                date = date.Split(" ")[0];
                                                if (item.InShop)
                                                {
                                                    <td>@date</td>
                                                }
                                                else
                                                {
                                                    <td>尚未上架</td>
                                                }

                                            }
                                            <td>@item.category.CategoryName</td>
                                            <td>
                                                @*<button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="text-muted sr-only">Action</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <button type="button" class="dropdown-item btnEdit" data-toggle="modal" data-target="#exampleModal">
                                            修改
                                        </button>
                                        <input type="hidden" class="Pid" value="@item.ProductId" />
                                        <a class="dropdown-item" href="#">移除</a>
                                    </div>*@
                                                <button type="button" class="btn btn-success btnEdit" data-toggle="modal" data-target="#exampleModal">
                                                    <i class="fe fe-edit fe-16"></i>
                                                </button>
                                                <input type="hidden" class="Pid" value="@item.ProductId" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                    <!-- Modal 修改-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="max-width: 1000px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">產品修改</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form name="ProdEdit">
                                    <div class="modal-body prodBody">
                                        <!--內容-->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        <input type="submit" value="儲存" class="btn btn-primary btnSave" data-dismiss="modal" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Modal 新增 -->
                    <div class="modal fade" id="prodCreateModal" tabindex="-1" aria-labelledby="prodCreateModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="max-width: 1000px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="prodCreateModalLabel">產品新增</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form name="ProdCreate">
                                    <div class="modal-body prodCreateBody">
                                        <!--內容-->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary CreateDemo" >Demo</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        <input type="submit" value="儲存" class="btn btn-primary CreateSubmit " data-dismiss="modal" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- simple table -->
        </div> <!-- end section -->
    </div> <!-- .col-12 -->
</div> <!-- .row -->
@section Scripts{
    <script src='~/backstage/js/jquery.dataTables.min.js'></script>
    <script src='~/backstage/js/dataTables.bootstrap4.min.js'></script>
    <script>
        $('#dataTable-1').DataTable(
            {
                autoWidth: true,
                "lengthMenu": [
                    [16, 32, 64, -1],
                    [16, 32, 64, "All"]
                ]
            });
        //產品修改=========================================================================
        //修改按鈕
        $(document).on("click", ".btnEdit", function () {
            var pid = $(this).next(".Pid").val();
            console.log(pid);
            $('.prodBody').load("@Url.Content("~/BackstageProductApi/ProdDetailPartial")/" + pid, function () {
                var editor = document.getElementById('editor');
                if (editor) {
                    console.log(editor)
                    var toolbarOptions = [
                        [
                            {
                                'font': []
                            }],
                        [
                            {
                                'header': [1, 2, 3, 4, 5, 6, false]
                            }],
                        ['bold', 'italic', 'underline', 'strike'],
                        ['blockquote', 'code-block'],
                        [
                            {
                                'header': 1
                            },
                            {
                                'header': 2
                            }],
                        [
                            {
                                'list': 'ordered'
                            },
                            {
                                'list': 'bullet'
                            }],
                        [
                            {
                                'script': 'sub'
                            },
                            {
                                'script': 'super'
                            }],
                        [
                            {
                                'indent': '-1'
                            },
                            {
                                'indent': '+1'
                            }], // outdent/indent
                        [
                            {
                                'direction': 'rtl'
                            }], // text direction
                        [
                            {
                                'color': []
                            },
                            {
                                'background': []
                            }], // dropdown with defaults from theme
                        [
                            {
                                'align': []
                            }],
                        ['clean'] // remove formatting button
                    ];
                    var quill = new Quill(editor,
                        {
                            modules:
                            {
                                toolbar: toolbarOptions
                            },
                            theme: 'snow'
                        });
                }
            })
        })
        //修改儲存
        $(document).on("click", ".btnSave", async function (e) {
            e.preventDefault();

            //讀取文字編輯器
            var discription = $(".ql-editor").html();
            $(".prodDescription").val(discription);

            const formData = new FormData(document.ProdEdit)
            const response = await fetch('@Url.Content("~/BackstageProductApi/ProdEditPartial")', {
                method: "POST",
                body: formData
            })
            const data = await response.text()
            console.log(data)
            if (data == 1) {
                $('.card-body').load("@Url.Content("~/BackstageProductApi/ProdListPartial")", function () {
                    alert("修改成功")
                    $('#dataTable-1').DataTable(
                        {
                            autoWidth: true,
                            "lengthMenu": [
                                [16, 32, 64, -1],
                                [16, 32, 64, "All"]
                            ]
                        });
                })
            }
        })
        //圖片上傳
        console.log($(".selectphoto"))
        $(document).on("change",".selectphoto",async function () {
            let pid = $("#ProductId").val()
            @*上傳圖片後，用load進去把圖片新增後，去讀取照片*@
            let obj = $(this);
            const formData = new FormData(document.ProdEdit)
            const response = await fetch('@Url.Content("~/BackstageProductApi/PhotoLoad")', {
                method: "POST",
                body: formData
            })
            const data = await response.text()
            if (data == 1) {
                $('.imgLoad').load("@Url.Content("~/BackstageProductApi/imgLoad/")" + pid, function () {
                    alert("上傳圖片成功");
                    obj.val("")
                })
            }
        });
        //圖片清空
        $(document).on("click", ".imgClear", async function (e) {
            let pid = $("#ProductId").val()
            const response = await fetch('@Url.Content("~/BackstageProductApi/ClearImg/")'+pid)
            const data = await response.text()
            console.log(data)
            if (data == 1) {
                $('.imgLoad').load("@Url.Content("~/BackstageProductApi/imgLoad/")" + pid, function () {
                    alert("清空圖片成功")
                })
            }
        })
        //商品分類修改
        $(document).on("change", ".CategeoryFirst", async function (e) {
            var catefirst = document.querySelector(".CategeoryFirst");
            const value = catefirst.options[catefirst.selectedIndex].value
            //console.log(value);
            const response1 = await fetch('@Url.Content("~/BackstageProductApi/categoryLoad/")' + value)
            RenderCategeory(await response1.json())
        })
        function RenderCategeory(datas) {
            //console.log(datas)
            var catesecond = document.querySelector(".CategeorySecond");
            catesecond.options.length = 0
            datas.forEach((item) => {
                const opt = new Option(item.categoryName, item.categoryId)
                catesecond.options.add(opt)
            })
        }
        //新增產品=========================================================================

        //新增的商品分類修改
        $(document).on("change", ".CategeoryCreateFirst", async function (e) {
            var catefirst = document.querySelector(".CategeoryCreateFirst");
            const value = catefirst.options[catefirst.selectedIndex].value
            //console.log(value);
            const response1 = await fetch('@Url.Content("~/BackstageProductApi/categoryLoad/")' + value)
            RenderCategeory2(await response1.json())
        })
        function RenderCategeory2(datas) {
            //console.log(datas)
            var catesecond2 = document.querySelector(".CategeoryCreateSecond");
            catesecond2.options.length = 0
            datas.forEach((item) => {
                const opt = new Option(item.categoryName, item.categoryId)
                catesecond2.options.add(opt)
            })
        }
        //產品新增按鈕
        $(document).on("click", ".btnCreate", function () {
            $('.prodCreateBody').load("@Url.Content("~/BackstageProductApi/ProdCreatePartial")", function () {
                var editor = document.getElementById('editorcreate');
                if (editor) {
                    console.log(editor)
                    var toolbarOptions = [
                        [
                            {
                                'font': []
                            }],
                        [
                            {
                                'header': [1, 2, 3, 4, 5, 6, false]
                            }],
                        ['bold', 'italic', 'underline', 'strike'],
                        ['blockquote', 'code-block'],
                        [
                            {
                                'header': 1
                            },
                            {
                                'header': 2
                            }],
                        [
                            {
                                'list': 'ordered'
                            },
                            {
                                'list': 'bullet'
                            }],
                        [
                            {
                                'script': 'sub'
                            },
                            {
                                'script': 'super'
                            }],
                        [
                            {
                                'indent': '-1'
                            },
                            {
                                'indent': '+1'
                            }], // outdent/indent
                        [
                            {
                                'direction': 'rtl'
                            }], // text direction
                        [
                            {
                                'color': []
                            },
                            {
                                'background': []
                            }], // dropdown with defaults from theme
                        [
                            {
                                'align': []
                            }],
                        ['clean'] // remove formatting button
                    ];
                    var quill = new Quill(editor,
                        {
                            modules:
                            {
                                toolbar: toolbarOptions
                            },
                            theme: 'snow'
                        });
                }
            })
        })
        //上傳圖片時預覽圖案
        var imginput = document.querySelector(".createimg")
        $(document).on("change", ".createimg", function (e) {
            readURL(this);
        })
        function readURL(input) {
            document.querySelector(".imgCreate").innerHTML=""
            console.log(input.files.length)
            for (i = 0; i < input.files.length; i++) {
                if (input.files && input.files[i]) {
                    var reader = new FileReader();
                    console.log(reader)
                    reader.onload = function (e) {
                        var img = document.createElement("img")
                        img.src = e.target.result;
                        img.setAttribute("style", "width:150px;height:100px;object-fit:cover;margin-right:10px;margin-bottom:10px;")
                        document.querySelector(".imgCreate").appendChild(img)
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }
        }
        //新增產品
        $(document).on("click", ".CreateSubmit", async function (e) {
            e.preventDefault();
            //讀取文字編輯器
            var discription = $(".ql-editor").html();
            $(".prodCreateDescription").val(discription);
            const formData = new FormData(document.ProdCreate)
            const response = await fetch('@Url.Content("~/BackstageProductApi/ProdCreatePartial")', {
                method: "POST",
                body: formData
            })
            const data = await response.text()
            console.log(data)
            if (data == 1) {
                $('.card-body').load("@Url.Content("~/BackstageProductApi/ProdListPartial")", function () {
                    alert("新增成功")
                    $('#dataTable-1').DataTable(
                        {
                            autoWidth: true,
                            "lengthMenu": [
                                [16, 32, 64, -1],
                                [16, 32, 64, "All"]
                            ]
                        });
                })
            }
        })
        //產品Demo
        $(document).on("click", ".CreateDemo", async function (e) {
            $("#ProductName").val("紅蘿蔔")
            $("#ProductUnitPrice").val(55)
            $("#ProductCostPrice").val(35)
            $("#ProductUnitsInStock").val(100)
            $("#ProductSize").val("600g/包")
            $(".ql-editor").html("<h1><strong style='color: rgb(230, 0, 0);'>又大又甜的紅蘿蔔!!!</strong></h1><p>好吃又甜美的紅蘿蔔</p><p>歡迎採購!!</p>")
        })
    </script>

}
