@model 鮮蔬果季_前台.ViewModels.MemberViewModel
@{
    ViewData["Title"] = "MemberCenter";
}
@section Scripts {
    <script>
        var xhr = new XMLHttpRequest();
        var selCity = document.querySelector("#State");
     async function Loadcity() {
            /*const response = await fetch("/Login/LoadCities")*/
            const response = await fetch("@Url.Action("LoadCities","Login")")
            RenderCity(await response.json())
        }
        Loadcity()
        function RenderCity(datas) {
            datas.forEach((item) => {
                const opt = new Option(item.cityName, item.cityName)
                selCity.options.add(opt)
            })
        }
        $("#State").change(function () {
            var ct = $("#State").find(":selected").text();
           /* console.log(ct);*/
            $("#cityLB").val(ct)

        })
        $("#gender").change(function () {
            var gt = $("#gender").find(":selected").text();
            $("#genderLB").val(gt)
        })
        //正規表示法
        @*$("#email").blur(function () {
            console.log(this)
            var Useremail = $("#email").val();
            console.log(Useremail)
            const xhr = new XMLHttpRequest()
            xhr.open("get", "@Url.Action("AccountVerification", "Login")?email=" + Useremail)
            xhr.send()
            xhr.addEventListener("load", () => {
                //存放並顯示回傳的文字
                const data = xhr.responseText
                console.log(data)
                $("#emailerr").html(data)
            })
        })*@
        @*$("#Password").blur(function () {
            var UserPassword = $("#Password").val();
            const xhr = new XMLHttpRequest()
            xhr.open("get", "@Url.Action("PasswordRegex","Login")?Password=" + UserPassword)
            xhr.send()
            xhr.addEventListener("load", () => {
                const data = xhr.responseText
                $("#Passworderr").html(data)
            })
        })*@
        $("#MemberName").blur(function () {
            var UserName = $("#MemberName").val();
            const xhr = new XMLHttpRequest()
            xhr.open("get", "@Url.Action("MemberNameRegex","Login")?MemberName=" + UserName)
            xhr.send()
            xhr.addEventListener("load", () => {
                const data = xhr.responseText
                $("#MemberNameerr").html(data)
            })
        })
        $("#Mobile").blur(function () {
            var UserMobile = $("#Mobile").val();
            const xhr = new XMLHttpRequest()
            xhr.open("get", "@Url.Action("MobileRegex","Login")?Mobile=" + UserMobile)
            xhr.send()
            xhr.addEventListener("load", () => {
                const data = xhr.responseText
                $("#Mobileerr").html(data)
            })
        })
        @*$("#birthdate").change(function () {
            var UserBD = $("#birthdate").val();
            const xhr = new XMLHttpRequest();
            xhr.open("get", "@Url.Action("BirthDateRegex","Login")?birthdate=" + UserBD)
            xhr.send();
            xhr.addEventListener("load", () => {
                const data = xhr.responseText
                $("#BirthDateerr").html(data)
            })
        })*@
        $("#contactForm").submit(function () {
            //我們的規則驗證錯誤時要加上這條class，submit時才會送不出去
            if ( $("#MemberNameerr").html() == "字數不能小於兩字" || $("#Mobileerr").html() == "號碼長度不能小於10碼" || $("#Mobileerr").html() == "請輸入數字" )
            {
                var msgClasses = "h3 text-center text-danger";
                $("#msgSubmit").addClass(msgClasses).text("尚未填寫完資料，請確認。");
                return false;
            }
        })
    </script>
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>會員中心</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <h2 class="h3 mb-4 page-title" style="margin-top:50px;">會員資料</h2>
                <div class="my-4">
                    <form id="contactForm" asp-action="MemberCenter">
                        <div class="row mt-5 align-items-center">
                            <div class="col-md-3 text-center mb-5">
                                <div id="photo" style="margin-left:-120px; margin-top: 0px; padding-bottom: 0px; height: 100px ">
                                    <p style="position:relative;">
                                        @{
                                            if (Model.MemberPhotoPass != null)
                                            {
                                                <img src="~/images/MemberPhoto/@Model.MemberPhotoPass" width="120" height="120" style="left:160px; position:absolute; object-fit:cover; border-radius: 50%;" />
                                            }
                                            else
                                            {
                                                <img src="~/images/MemberPhoto/inihead.png" width="120" height="120" style="left:160px; position:absolute; object-fit:cover; border-radius: 50%;" />
                                            }
                                        }
                                        <a class="fas fa-camera btn hvr-hover" style="border-radius:50%; left:250px; top:60px; position:absolute; color:white; margin-top:20px; padding:10px;"></a>
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="hidden" asp-for="MemberId" name="MemberId" />
                                <label for="name">姓名</label>
                                <input asp-for="MemberName" type="text" id="MemberName" name="MemberName" class="form-control" placeholder="您的大名" required data-error="請填寫您的欄位">
                                <div class="help-block with-errors">
                                    @*錯誤訊息的ul要先自己建出來 並且li需要給個id(emailerr)*@
                                    <ul class="list-unstyled">
                                        <li id="MemberNameerr"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                性別：
                                <input readonly="readonly" id="genderLB" asp-for="Gender" name="Gender" style="border:0 ; outline:none ;background-color:rgba(0,0,0,0); margin-bottom:5.6px;">
                                <select id="gender" class="form-control">
                                    <option></option>
                                    <option>男</option>
                                    <option>女</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail4">電子郵件帳號</label>
                            <input readonly="readonly" asp-for="UserId" type="email" name="UserId" class="form-control" id="inputEmail4" placeholder="您的電子郵件" required data-error="請填寫您的欄位">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress5">現居地址</label>
                            <input asp-for="MemberAddress" type="text" name="MemberAddress" class="form-control" id="inputAddress5" placeholder="您的現居地址" required data-error="請填寫您的欄位">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">聯絡電話</label>
                                <input asp-for="Mobile" type="text" name="Mobile" id="Mobile" class="form-control" placeholder="您的電話" required data-error="請填寫您的欄位">
                                <div class="help-block with-errors">
                                    @*錯誤訊息的ul要先自己建出來 並且li需要給個id(emailerr)*@
                                    <ul class="list-unstyled">
                                        <li id="Mobileerr"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                現居縣市：
                                <input readonly="readonly" id="cityLB" asp-for="city" name="city" style="border:0 ; outline:none ;background-color:rgba(0,0,0,0); margin-bottom:5.6px;">
                                <select id="State" class="form-control">
                                    <option></option>
                                </select>
                            </div>
                        </div>  //密碼更動移動至其他頁面
                        <hr class="my-4">
                        @*<div class="row mb-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputPassword4">舊的密碼</label>
                                    <input type="password" class="form-control" id="oldPassword">
                                </div>
                                <div class="form-group">
                                    <label for="newPassword">新的密碼</label>
                                    <input type="password" class="form-control" id="newPassword">
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">確認新的密碼</label>
                                    <input type="password" class="form-control" id="confirmPassword">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-2">修改密碼注意事項</p>
                                <p class="small text-muted mb-2">為了建立新的密碼，您需遵守以下條件：</p>
                                <ul class="small text-muted pl-4 mb-0">
                                    <li> 最少６個字元。</li>
                                    <li>英數混合。</li>
                                    <li>禁止使用英數以外的字體。</li>
                                    <li>不能與舊的密碼相同。 </li>
                                </ul>
                            </div>
                        </div>*@
                        <div class="submit-button">
                            <button class="btn hvr-hover" id="submit" type="submit" style="color:white">確認修改</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div> <!-- /.card-body -->
            </div> <!-- /.col-12 -->
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
</main> <!-- main -->
