@model List<鮮蔬果季_前台.ViewModels.OrderListViewModel>
@{
    ViewData["Title"] = "OrderDetail";
}
@section Styles{
    <style>
        .order-box h3 {
            font-size: 18px;
        }

        .order-box {
            padding-top: 20px;
        }

        #units {
            padding-left: 10px;
        }

        #odnum {
            padding-left: 10px;
        }

        .add-pr {
            text-align: right;
            padding-right: 10px;
        }

        .add-rv {
            text-align: right;
            padding-right: 20px;
            width: 160px;
        }

        .last-th {
            text-align: right;
        }

        .table td {
            padding-right: 5px
        }

        .table th {
            padding-right: 35px;
        }

        .img-fluid {
            width: 100px;
            height: 80px;
            object-fit: cover;
        }

        .open-review-box {
            color: white;
        }

        #postrv {
            padding-left: 170px;
        }

        .starbox {
            width: 90%;
            margin: auto;
            padding: 20px;
        }

        .score {
            text-align: center;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 40px;
            letter-spacing: 10px;
            clear: both;
        }

        .stargroup {
            padding-top: 10px;
        }

            .stargroup i {
                font-size: 20px;
                color: yellowgreen;
            }

        #divtotal {
            height: 220px;
        }

        #rvfocus {
            padding-bottom: 10px
        }

        #sprname {
            color: darkslategrey;
            font-weight: bold;
        }

        #pdname {
            color: cornflowerblue;
            font-weight: bold;
        }

        .findodid {
            width: 88px;
            height: 40px;
            background-color: darkslategray;
            color: azure;
        }
        #addmsgbox {
            background-color: #7AFEC6;
            z-index: 100;
            height: 70px;
            width: 150px;
            position: fixed;
            top: 55%;
            left: 50%;
            margin-top: -35px;
            margin-left: -75px;
            align-items: center;
            display: flex;
            padding-top: 70px;
            border-radius: 30px;
        }

        #addmsgText {
            height: 100px;
            width: 200px;
            text-align: center;
            color: forestgreen;
            font-weight: bold;
        }
    </style>
}
@section Scripts{
    <script>
        $('.alert-autocloseable-warning').hide();
        (function (e) { var t, o = { className: "autosizejs", append: "", callback: !1, resizeDelay: 10 }, i = '<textarea tabindex="-1" style="position:absolute; top:-999px; left:0; right:auto; bottom:auto; border:0; padding: 0; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; word-wrap:break-word; height:0 !important; min-height:0 !important; overflow:hidden; transition:none; -webkit-transition:none; -moz-transition:none;"/>', n = ["fontFamily", "fontSize", "fontWeight", "fontStyle", "letterSpacing", "textTransform", "wordSpacing", "textIndent"], s = e(i).data("autosize", !0)[0]; s.style.lineHeight = "99px", "99px" === e(s).css("lineHeight") && n.push("lineHeight"), s.style.lineHeight = "", e.fn.autosize = function (i) { return this.length ? (i = e.extend({}, o, i || {}), s.parentNode !== document.body && e(document.body).append(s), this.each(function () { function o() { var t, o; "getComputedStyle" in window ? (t = window.getComputedStyle(u, null), o = u.getBoundingClientRect().width, e.each(["paddingLeft", "paddingRight", "borderLeftWidth", "borderRightWidth"], function (e, i) { o -= parseInt(t[i], 10) }), s.style.width = o + "px") : s.style.width = Math.max(p.width(), 0) + "px" } function a() { var a = {}; if (t = u, s.className = i.className, d = parseInt(p.css("maxHeight"), 10), e.each(n, function (e, t) { a[t] = p.css(t) }), e(s).css(a), o(), window.chrome) { var r = u.style.width; u.style.width = "0px", u.offsetWidth, u.style.width = r } } function r() { var e, n; t !== u ? a() : o(), s.value = u.value + i.append, s.style.overflowY = u.style.overflowY, n = parseInt(u.style.height, 10), s.scrollTop = 0, s.scrollTop = 9e4, e = s.scrollTop, d && e > d ? (u.style.overflowY = "scroll", e = d) : (u.style.overflowY = "hidden", c > e && (e = c)), e += w, n !== e && (u.style.height = e + "px", f && i.callback.call(u, u)) } function l() { clearTimeout(h), h = setTimeout(function () { var e = p.width(); e !== g && (g = e, r()) }, parseInt(i.resizeDelay, 10)) } var d, c, h, u = this, p = e(u), w = 0, f = e.isFunction(i.callback), z = { height: u.style.height, overflow: u.style.overflow, overflowY: u.style.overflowY, wordWrap: u.style.wordWrap, resize: u.style.resize }, g = p.width(); p.data("autosize") || (p.data("autosize", !0), ("border-box" === p.css("box-sizing") || "border-box" === p.css("-moz-box-sizing") || "border-box" === p.css("-webkit-box-sizing")) && (w = p.outerHeight() - p.height()), c = Math.max(parseInt(p.css("minHeight"), 10) - w || 0, p.height()), p.css({ overflow: "hidden", overflowY: "hidden", wordWrap: "break-word", resize: "none" === p.css("resize") || "vertical" === p.css("resize") ? "none" : "horizontal" }), "onpropertychange" in u ? "oninput" in u ? p.on("input.autosize keyup.autosize", r) : p.on("propertychange.autosize", function () { "value" === event.propertyName && r() }) : p.on("input.autosize", r), i.resizeDelay !== !1 && e(window).on("resize.autosize", l), p.on("autosize.resize", r), p.on("autosize.resizeIncludeStyle", function () { t = null, r() }), p.on("autosize.destroy", function () { t = null, clearTimeout(h), e(window).off("resize", l), p.off("autosize").off(".autosize").css(z).removeData("autosize") }), r()) })) : this } })(window.jQuery || window.$);
        $(function () {

            $('.new-review').autosize({ append: "\n" });
            let starnum = 0;
            let flag = false;
            $(document).on("click", ".open-review-box", function (e) {
                $('.post-review-box').slideDown(400, function () {
                    $('.new-review').trigger('autosize.resize');
                    $('.new-review').focus();
                });
                $(".open-review-box").fadeIn(200);
                $(this).fadeOut(100);
                $('.close-review-box').show();

                //星星
                $(function () {
                    $(".stargroup > i").mouseenter(function () {
                        starnum = $(".stargroup i").index(this) + 1;
                        console.log(starnum);
                        $(this).removeClass('far fa-star').addClass('fas fa-star')
                        $(this).prevAll().removeClass('far fa-star').addClass('fas fa-star');
                        $(this).nextAll().removeClass('fas fa-star').addClass('far fa-star');
                        $(".result").text("評分中... 分數為" + starnum + "分嗎?");
                    })

                    $(".stargroup").mouseleave(function () {
                        $(".result").text("評分中...");
                        $(this).children().removeClass('fas fa-star').addClass('far fa-star');

                    }).mousedown(function () {
                        $(this).off("mouseenter mouseleave");
                        $(".stargroup > i").nextAll().off("mouseenter");
                        $(".stargroup > i").prevAll().off("mouseenter");
                        $(".result").text("分數為" + starnum + "分！");
                        $(".showRanking").val(starnum);
                        flag = true;
                        console.log($(".showRanking").val())
                    }).dblclick(function () {
                        flag = false;
                        $(".result").text("評分中...");
                        $(this).children().removeClass('fas fa-star').addClass('far fa-star');
                        $(".stargroup > i").mouseenter(function () {
                            starnum = $(".stargroup i").index(this) + 1;
                            //console.log(starnum);
                            $(this).removeClass('far fa-star').addClass('fas fa-star')
                            $(this).prevAll().removeClass('far fa-star').addClass('fas fa-star');
                            $(this).nextAll().removeClass('fas fa-star').addClass('far fa-star');
                            $(".result").text("評分中... 分數為" + starnum + "分嗎?");
                        })
                        $(".stargroup").mouseleave(function () {
                            $(".result").text("評分中...");
                            $(this).children().removeClass('fas fa-star').addClass('far fa-star');
                        })
                    });
                })
            });
            $(document).on("click", ".close-review-box", function (e) {
                e.preventDefault();
                $('.post-review-box').slideUp(300, function () {
                    $('.new-review').focus();
                    $('.open-review-box').fadeIn(200);
                });
                $('.close-review-box').hide();
            });

            var getodid = null;
            const showsprname = document.querySelector('#sprname');
            const showpdname = document.querySelector('#pdname');
            var openReviewBtn = $('.open-review-box');


            $(document).on("click", ".open-review-box", function(e){
            $(".showid").val($(this).val())
            let value = $(".showid").val();
             async function rvwho() {
            //console.log("AAAA"+value)
            const responsesprname = await fetch('@Url.Action("ShowSuplierName", "Order")/' + value)
            let data = await responsesprname.text()
            showsprname.innerHTML = data;
            console.log(data)
            const responsshowpdname = await fetch('@Url.Action("ShowProdName", "Order")/' + value)
            let data2 = await responsshowpdname.text()
            showpdname.innerHTML = data2;
            getodid = value;
        }
        rvwho()
        });


            $(document).on("click", ".addrvbtn", function () {
            var comments = $(".getcomments").val()
            console.log(getodid)
            //console.log(starnum)
                console.log(comments)
                if (flag==false)
                {
                    alert("請給予星星評分!")
                }
                else
                {
                    @*$('.addod').load("@Url.Content("~/Order/AddReviewPartial/")" + getodid + "?starrank=" + starnum + "&AddComments=" + comments)*@
                    $('.addod').load(encodeURI("@Url.Content("~/Order/AddReviewPartial/")" + getodid + "?AddComments=" + comments + "&starrank=" + starnum));
                    $('.autoclosable-btn-warning').prop("disabled", true);
                    $('.alert-autocloseable-warning').show();
                    $('.alert-autocloseable-warning').delay(3000).fadeOut("slow", function () {
                        // Animation complete.
                    $('.autoclosable-btn-warning').prop("disabled", false);
                    });
                }
        })
        });

    </script>
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>訂單明細</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start List  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <div class="alert-autocloseable-warning" id="addmsgbox">
                        <div class="alert-autocloseable-warning" id="addmsgText">
                            新增評論成功！
                        </div>
                    </div>
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>商品</th>
                                <th></th>
                                <th>供應商</th>
                                <th>價格</th>
                                <th>數量</th>
                                <th>小計</th>
                                <th></th>
                                <th style="padding-right:45px;" class="last-th">評價</th>
                            </tr>
                        </thead>
                        <tbody class="addod">
                            @{
                                int count = 0;
                                int 商品價乘數量 = 0;
                                int 總價 = 0;
                                int 訂單ID = 0;
                                foreach (var item in Model)
                                {
                                    count++;
                                    商品價乘數量 = item.product.ProductUnitPrice * item.odetail.UnitsPurchased;
                                    總價 += 商品價乘數量;
                                    訂單ID = item.odetail.OrderId;
                                    <tr>
                                        <td>
                                            @count
                                        </td>
                                        <td class="thumbnail-img">
                                            <a href="#">
                                                <img class="img-fluid" src="~/images/商品照/@item.photoBank.PhotoPath" alt="" />
                                            </a>
                                        </td>
                                        <td class="name-pr">
                                            <a href="#">
                                                @item.product.ProductName
                                            </a>
                                        </td>
                                        <td class="sup-pr">
                                            <a href="#">
                                                @item.supplier.SupplierName
                                            </a>
                                        </td>
                                        <td class="price-pr">
                                            <p id="price-pr">NT$ @item.product.ProductUnitPrice</p>
                                        </td>
                                        <td class="quantity-box">
                                            <p id="units">
                                                @item.odetail.UnitsPurchased
                                            </p>
                                        </td>
                                        <td class="total-pr">
                                            <p id="total-pr">NT$ @商品價乘數量</p>
                                            @*<p>@item.單筆訂單細項總價</p>*@
                                        </td>
                                        <td class="add-pr">

                                            @*if 如果資料庫有查詢到評論過的資料，就是另外一個樣式*@
                                            @if (item.回饋)
                                            {
                                                <a style="padding:8px 12px;" class="btn findodid disabled">已回報</a>
                                            }
                                            else
                                            {
                                                <a style="padding:8px 12px;" asp-area="" asp-controller="ContactUs" asp-action="ContactUs" asp-route-id="@item.odetail.OrderDetailId" class="btn hvr-hover">問題回報</a>@*controller/action/item.odetail.odetailid*@
                                            }

                                        </td>
                                        <td style="padding-right:20px;" class="add-rv">
                                            <div class="aboveadd">
                                                <div class="text-right">
                                                    <input class="haverv" type="hidden" value="@item.odetail.HaveReviews" />
                                                    @{ if (item.odetail.HaveReviews == false)
                                                        {
                                                            <button class="btn hvr-hover open-review-box" value="@item.odetail.OrderDetailId">新增評價</button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn findodid disabled" value="@item.odetail.OrderDetailId">已評價</button>
                                                        }
                                                    }
                                                    <input type="hidden" value="@item.odetail.OrderDetailId" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="divtotal" class="col-lg-6 col-sm-6">
                <div class="order-box">
                    <div class="title-left" style="padding-top:20px">
                        <h3>
                            您的訂單
                            <span id="odnum">#@訂單ID</span>
                        </h3>
                    </div>
                    <div class="d-flex">
                        <h4>商品金額</h4>
                        <div class="ml-auto font-weight-bold"> NT$ @總價 </div>
                    </div>
                    <div class="d-flex">
                        <h4>酷碰折扣</h4>
                        <div class="ml-auto font-weight-bold"> -NT$ @ViewBag.cpd </div> @*振主 這邊再 jQuery innerHTML 插入酷碰折扣價*@
                    </div>
                    <hr>
                    <div class="d-flex gr-total">
                        <h5>訂單總金額</h5>
                        <div class="ml-auto h5"> NT$ @(總價-ViewBag.cpd)</div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row post-review-box" style="display:none;">
                <div class="col-md-12" id="postrv">
                    <form accept-charset="UTF-8" name="Review" asp-action="AddReview">
                        <div id="rvfocus">
                            <p>
                                您對
                                <span id="sprname"></span>的
                                <span id="pdname"></span>看法如何?：
                            </p>
                        </div>
                        <textarea class="form-control animated new-review getcomments" cols="50" placeholder="在這裡寫下您的評論..." rows="5"></textarea>
                        <div class="sysrank">
                            <div class="stargroup"> @*這邊不能換行 要不然會有空格*@
                                <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            </div>
                            <div>
                                <span class="result">評分中...</span>
                            </div>
                        </div>
                        <div class="text-right">
                            <div class="stars starrr" data-rating="0"></div>
                            <a class="btn btn-danger btn-sm close-review-box" href="#" style="display:none; margin-right: 10px;">
                                <input type="hidden" class="showid" />
                                <input type="hidden" class="showRanking" />
                                <span class="glyphicon glyphicon-remove">取消</span>
                            </a>
                            <input class="btn btn-success btn-lg addrvbtn close-review-box" value="儲存評價">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End List -->
