@model List<鮮蔬果季_前台.ViewModels.OrderListViewModel>
@{
    ViewData["Title"] = "Orders";
}

@section Styles{
    <style>
        #btnaddcart {
            color: white;
        }

        th i {
            padding-right: 10px;
        }

        a .img-fluid {
            width: 96px;
            height: 96px;
            object-fit: cover;
        }

        .orderid-p {
            text-align: left;
            padding-left: 15px;
        }

        .last-th {
            text-align: right;
        }

        .table td, .table th {
            padding-right: 20px;
        }

        .add-pr {
            text-align: right;
            padding-right: 20px;
        }

        /*====== tabs ======*/

        nav > .nav.nav-tabs {
            border: none;
            color: #fff;
            background: #272e38;
            border-radius: 0;
        }

        nav > div a.nav-item.nav-link,
        nav > div a.nav-item.nav-link.active {
            border: none;
            padding: 18px 25px;
            color: #fff;
            background: #5e5e3d;
            border-radius: 0;
        }

            nav > div a.nav-item.nav-link.active:after {
                content: "";
                position: relative;
                bottom: -60px;
                left: -10%;
                border: 15px solid transparent;
                border-top-color: #e74c3c;
            }

        .tab-content {
            background: #fdfdfd;
            line-height: 25px;
            border: 1px solid #ddd;
            border-top: 5px solid #e74c3c;
            border-bottom: 5px solid #e74c3c;
            padding: 30px 25px;
        }

        nav > div a.nav-item.nav-link:hover,
        nav > div a.nav-item.nav-link:focus {
            border: none;
            background: #e74c3c;
            color: #fff;
            border-radius: 0;
            transition: background 0.20s linear;
        }

        .nav-status a {
            margin: 0;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
        }
    </style>
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>訂單紀錄</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="" asp-action="">首頁</a></li>
                    <li class="breadcrumb-item active">訂單紀錄</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start List  -->
<div class="wishlist-box-main">
    <div class="container">
        <!-- Start Navbar  -->
        <div style="padding-right:30px; padding-bottom:20px" class="container">
            <div class="row">
                <div class="col-xs-12" style="width:60%">
                    <nav class="nav-status">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" style="border-right: #b0b435 solid; width:25%; cursor:pointer;" id="all-tab" data-toggle="tab">全部</a>
                            <a class="nav-item nav-link" style="border-right: #b0b435 solid; width: 25%; cursor: pointer;" id="delivered-tab" data-toggle="tab">已送達</a>
                            <a class="nav-item nav-link" style="border-right: #b0b435 solid; width: 25%; cursor: pointer;" id="shipped-tab" data-toggle="tab">已出貨</a>
                            <a class="nav-item nav-link" style="width:25%; cursor:pointer;" id="NotShipped-tab" data-toggle="tab">未出貨</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th style="width:10%;">訂單號</th>
                                <th style="width:20%;">下單時間</th>
                                <th style="width:20%;">出貨時間</th>
                                <th style="width:20%;">寄送地址</th>
                                <th style="width:10%;">付款方式</th>
                                <th style="width:10%; margin-left:40px;">總價</th>
                                <th style="width:10%;" class="last-th">訂單細項</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="orderid-p">
                                            <p>@Html.DisplayFor(modelItem => item.OrderId)</p>
                                        </td>
                                        <td class="orderdate-p">
                                            <p>@Html.DisplayFor(modelItem => @Convert.ToDateTime(item.OrderDate).ToString("yyyy/MM/dd HH:mm:ss"))</p>
                                        </td>
                                        @{
                                            if (item.ShippedDate != null)
                                            {
                                                <td>@Convert.ToDateTime(item.ShippedDate).ToString("yyyy/MM/dd HH:mm:ss")</td>
                                            }
                                            else
                                            {
                                                <td>尚未出貨</td>
                                            }
                                        }
                                        <td>@item.ShippedTo</td>
                                        <td>@item.paymethod.Method</td>
                                        <td class="price-pr">
                                            <p>NT$ @item.總價</p>
                                        </td>
                                        <td class="add-pr">
                                            <a asp-area="" asp-controller="Order" asp-action="OrderDetail" asp-route-id="@item.order.OrderId" class="btn hvr-hover">檢視</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End List -->
@section Scripts{
    <script>
        $('#all-tab').click(function () {
            $('#tbody').load('@Url.Content("~/order/OrdersAll")')
        })
        $('#delivered-tab').click(function () {
            $('#tbody').load('@Url.Content("~/order/OrdersDelivered")')
        })
        $('#shipped-tab').click(function () {
            $('#tbody').load('@Url.Content("~/order/OrdersShipped")')
        })
        $('#NotShipped-tab').click(function () {
            $('#tbody').load('@Url.Content("~/order/OrdersNotShipped")')
        })
    </script>
}
