@model List<鮮蔬果季_前台.ViewModels.EventListViewModel>

@{
    ViewData["Title"] = "EventBlog";
}

<link rel="stylesheet" href="~/assets/css/main.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="external nofollow" rel="stylesheet"> @*ican的CDN*@
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@section Styles{
    <style>
            /*===========更改置頂圖片樣式(獨立)=============================*/
            .all-title-box_Partner {
                background: url("../images/a.jpg") no-repeat center center;
                background-size: cover;
                text-align: center;
                /*            background-attachment: fixed;*/
                padding: 70px 0px;
                position: relative;
            }
            @*頂圖*@
                .all-title-box_Partner::before {
                    background: rgba(0,0,0,0.4);
                    content: "";
                    position: absolute;
                    z-index: 0;
                    width: 100%;
                    height: 100%;
                    left: 0px;
                    top: 0px;
                }
                @*頂圖標題*@
                .all-title-box_Partner h2 {
                    font-size: 28px;
                    font-weight: 700;
                    color: #ffffff;
                    float: left;
                    padding: 10px 0px;
                }

            .carousel-inner img {
                @*控制大圖尺寸*@ object-fit: cover;
                width: 500px;
                height: 300px;
                border: 2px solid;
                @*圖片圓角*@ border-radius:10px;
                background-color: #eee;
            }
            @*活動box外框*@
        .row.art {
            padding-top: 40px;
            border-radius: 10px;
            background-color: #FFF9E9;
        }

            #eventbox {
            padding-top:20px
            }

        @*限制行數,並隱藏*@
        .pp {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .分類圖片大小 {
            height: 177px;
            width: 210px;
            object-fit:cover;
            border-radius:10px;
        }

        .分類圖片含標題大小 {
            height: 205px;
            width: 210px;
            object-fit: cover;
            margin-left: 12px;
            float: left;
            border-radius: 10px;
            box-shadow: 3px 3px 9px #eeeeee;
        }

        .分類BOX標題 {
            position: absolute;
            bottom: 0px;
            padding-left: 70PX;
            font-size: larger;
            font-weight: bold;
        }

        .文字標題 {
           font-size: 35px;
           font-weight: bold;
           padding-bottom:5px;
           color:black
        }

        @*限制行數,並隱藏*@
        .pp {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @*正黑體*@
        .字體 {
            font-family: Microsoft JhengHei
        }


    </style>
}

<!-- Start All Title Box===================================================== -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>農友活動</h2>
                @*<ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>*@
            </div>
        </div>
    </div>
</div>
<br />
<br />




<div class="logo-carousel-section">
    <div class="container">
        <P class="文字標題" style="padding-left:10px"> 活動分類</P>
        <div class="row">
            <div class="col-lg-12">

                <div class="分類圖片含標題大小">
                    @*原本版(改成以下用PartialView) <a asp-area="" asp-controller="Event" asp-action="EventBlog" asp-route-id="1">*@
                    <a style="cursor:pointer" id="BlogTagDIY">
                        <p class="分類BOX標題">DIY體驗</p>
                        <img class="分類圖片大小" src="~/assets/img/活動分類/diy.jpg" alt="">
                    </a>
                </div>

                <div class="分類圖片含標題大小">
                    <a style="cursor:pointer" id="BlogTagCuteAnimal">
                        <p class="分類BOX標題">可愛動物</p>
                        <img class="分類圖片大小" src="~/assets/img/活動分類/可愛動物.jpg" alt="">
                    </a>
                </div>

                <div class="分類圖片含標題大小">
                    <a style="cursor:pointer" id="BlogTagLandscape">
                        <p class="分類BOX標題">絕美風景</p>
                        <img class="分類圖片大小" src="~/assets/img/活動分類/風景.jpg" alt="">
                    </a>
                </div>

                <div class="分類圖片含標題大小">
                    <a style="cursor:pointer" id="BlogTagCamping">
                        <p class="分類BOX標題">戶外露營</p>
                        <img class="分類圖片大小" src="~/assets/img/活動分類/露營.jpg" alt="">
                    </a>
                </div>

                <div class="分類圖片含標題大小">
                    <a style="cursor:pointer" id="BlogTagProfessionalClass">
                        <p class="分類BOX標題">專業課程</p>
                        <img class="分類圖片大小" src="~/assets/img/活動分類/課程.jpg" alt="">
                    </a>
                </div>


            </div>
        </div>
        <a style="cursor:pointer" id="AllBlog">
            <h1 style="margin-top:20px; padding-left:950px"> 全部精彩活動... </h1>
        </a>
    </div>

</div>
<br />



@*================================================活動========================================*@
@*<P class="文字標題 container"> 熱門活動</P>*@
<div id="eventbox">
    <div class="container" id="BlogList">
        @{
            foreach (var item in Model)
            {

                <div class="row art">
                    <div class="col-xl-5 col-lg-5 col-md-6">
                        <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    @{if (@item.EventPhoto[0] != null)  //必須加上動態判斷式,不然執行到錯誤(沒圖片),就會停止
                                        {
                                            <img class="d-block w-100" src="~/images/活動照片/@item.EventPhoto[0].PhotoPath" alt="First slide">
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-7 col-lg-7 col-md-6">
                        <div class="single-product-details">
                            <h2>@Html.DisplayFor(modelitem => item.Event.EventName)</h2>  @*活動項目標題*@
                            <h5>
                                <del>   @(item.Event.EventPrice*1.2) </del> @*原價=SQL定價*1.2*@
                                @Html.DisplayFor(modelitem => item.Event.EventPrice)  / 人
                            </h5>
                            <p class="available-stock pp">
                                <span> @*@item.City.CityName ,*@ 現場收費 <a href="#"></a></span>
                            <p>
                                <div>
                                    <span class="glyphicon glyphicon-home">
                                        <i class="fas fa-map-marker-alt" style="padding-right:10px">
                                        </i>@item.Event.EventLocation
                                    </span>
                                </div>
                                @*<div>
                                        <span class="date">
                                            <i class="fas fa-calendar" style="padding-right:10px">
                                            </i>@ViewBag.活動數量
                                        </span>
                                    </div>*@
                                <div>
                                    <span class="date">
                                        <i class="fas fa-calendar-alt" style="padding-right:10px">
                                        </i>@item.Event.EventStartDate.Value.ToString("yyyy/MM/dd/HH:mm") ~ @item.Event.EventEndDate.Value.ToString("yyyy/MM/dd/HH:mm")
                                    </span>
                                </div>
                                <h4>@item.Event.Subtitle </h4>
                                <div class="pp">
                                    <p>@Html.DisplayFor(modelitem => item.Event.EventDescription)  </p>
                                </div>
                                <div class="price-box-bar">
                                    <div class="cart-and-bay-btn">
                                        <button type="button" class="btn btn-success" style="margin-top :20px">
                                            @Html.ActionLink("我要報名>", "EventSignUp_1", new { id = item.Event.EventId })
                                        </button>
                                    </div>
                                </div>
                        </div>

                    </div>
                </div>
                <div style="padding-bottom:20px"></div> @*間格用*@
            }
        }
    </div>
</div>

<script>

    @*點擊分類,觸發產生連接(Content),對象為BlogList這個ID*@
    $('#BlogTagDIY').click(function () {
        $('#BlogList').load('@Url.Content("~/Event/BlogTag_DIY")')
    })

    $('#BlogTagCuteAnimal').click(function () {
        $('#BlogList').load('@Url.Content("~/Event/BlogTag_CuteAnimal")')
     })

    $('#BlogTagLandscape').click(function () {
        $('#BlogList').load('@Url.Content("~/Event/BlogTag_Landscape")')
     })

    $('#BlogTagCamping').click(function () {
        $('#BlogList').load('@Url.Content("~/Event/BlogTag_Camping")')
      })

    $('#BlogTagProfessionalClass').click(function () {
        $('#BlogList').load('@Url.Content("~/Event/BlogTag_ProfessionalClass")')
     })


    $('#AllBlog').click(function () {
        $('#BlogList').load('@Url.Content("~/Event/AllBlog")')
     })



</script>
