@model IEnumerable<鮮蔬果季_前台.Models.FeedbackResponse>

@{
    ViewData["Title"] = "清單";
}
@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
}
<h1>Index</h1>

<p>
    <a asp-action="FeedbackCreate">Create New</a>
</p>
<!--small table-->
<div class="col-md-12">
    <div class="card shadow">
        <div class="card-body">


            <!--table-->
            <table class="table dataTables border-dark">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDetailId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FeedbackId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FeedbackComment)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDetailId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FeedbackId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FeedbackComment)
                            </td>
                            <td>
                                <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="text-muted sr-only">Action</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a asp-action="FeedbackEdit" asp-route-id="@item.FeedbackResponseId">Edit</a> |
                                    <a asp-action="FeedbackDelete" asp-route-id="@item.FeedbackResponseId">Delete</a>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>