@model List<鮮蔬果季_前台.ViewModels.FeedbackResponseViewModel>
<table class="table datatables border-dark" id="dataTable-1">
    <thead class="thead-dark">
        <tr>
            <th style="width:65px;">訂單編號</th>
            <th>會員名</th>
            <th>會員信箱</th>
            <th>產品名稱</th>
            <th>供應商名稱</th>
            <th>回應項目</th>
            <th>回應敘述</th>
            <th>是否回信</th>
            <th>動作</th>
        </tr>
    </thead>

    <tbody id="feedbackBody" class="feedbackbody">
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.feedbackResponse.OrderDetailId</td>
                    <td>@item.member.MemberName</td>
                    <td>@item.member.UserId</td>
                    <td>@item.product.ProductName</td>
                    <td>@item.supplier.SupplierName</td>
                    <td>@item.FeedbackName</td>
                    <td>@item.FeedbackComment</td>
                    @if (@item.HaveResponses)
                    {
                        <td style="color:forestgreen">已回覆</td>
                    }
                    else
                    {
                        <td style="color:red">尚未回覆</td>
                    }
                    <td>
                        @if (@item.HaveResponses)
                        {
                            <button type="button" class="btn btn-success btnEdit" disabled>
                                已回覆
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-danger btnEdit" data-toggle="modal" data-target="#replyModal">
                                請盡快回覆
                            </button>
                            <input type="hidden" class="FeedbackResponseID" value="@item.feedbackResponse.FeedbackResponseId" />
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>