@model List<鮮蔬果季_前台.ViewModels.FeedbackResponseViewModel>
@{
    ViewData["Title"] = "FeedbackList";
}

@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: auto;
        }

            form input, form textarea, form button {
                display: flex;
                padding: 10px;
                margin-bottom: 20px;
                outline: none;
                border: none;
                background-color: #ddd;
                
            }
        .modal-body feedbackbodyresponse button{
            width: 300px;
        }
                form textarea {
                    height: 300px;
                    resize: none;
                }

            form button {
                background-color: #333;
                cursor: pointer;
                color: #fff;
            }

        h1 {
            text-align: center;
        }
    </style>
}

<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title">回應項目管理</h2>
        <p class="card-text"></p>
        <div class="row my-4">
            <!-- Small table -->
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <!-- table -->
                        <table class="table datatables border-dark" id="dataTable-1">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="width:65px;">訂單編號</th>
                                    <th>會員名</th>
                                    <th>會員信箱</th>
                                    <th>產品名稱</th>
                                    <th>供應商名稱</th>
                                    <th>回應項目</th>
                                    <th>回應敘述</th>
                                    <th>是否回信</th>
                                    <th>動作</th>
                                </tr>
                            </thead>

                            <tbody id="feedbackBody" class="feedbackbody">
                                @{
                                    foreach (var item in Model)
                                    {


                                        <tr>
                                            <td>@item.feedbackResponse.OrderDetailId</td>
                                            <td>@item.member.MemberName</td>
                                            <td>@item.member.UserId</td>
                                            <td>@item.product.ProductName</td>
                                            <td>@item.supplier.SupplierName</td>
                                            <td>@item.FeedbackName</td>
                                            <td>@item.FeedbackComment</td>
                                            @if (@item.HaveResponses)
                                            {
                                                <td>以回覆</td>
                                            }
                                            else
                                            {
                                                <td>尚未回覆</td>
                                            }


                                            <td>

                                                <button type="button" class="btn btn-success btnEdit" data-toggle="modal" data-target="#replyModal">回覆</button>
                                                <input type="hidden" class="UserId" value="@item.UserId" />

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <!-- Modal 會員修改-->
                        <div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">信件回覆</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    @*偷雞摸狗法:  在沒有Action的情況下,Method使用post,系統會到Controller找同名的方法執行*@
                                    <form method="post" class="col-6" name="FormData">

                                        @*使用From將所有底下資料回傳*@
                                        <input type="hidden" name="EventId" value=@Model.>
                                        <p style="padding-bottom: 10px; ">
                                            <input type="text" placeholder="姓名" class="SignUpText" name="ContactName" id="name" value=@ViewBag.姓名 required>
                                        </p>
                                        <p style="padding-bottom: 10px">
                                            <input type="text" placeholder="聯絡電話" class=" SignUpText" name="ContactMobile" id="phone" value=@ViewBag.電話 required>
                                        </p>
                                        <p style="padding-bottom: 10px">
                                            <input type="email" placeholder="電子信箱" class="SignUpText" name="ContactEmail" id="email" value=@ViewBag.電郵 required>
                                        </p>
                                        <p style="padding-bottom: 10px">
                                            <input type="number" placeholder="預計報名人數" class="SignUpText" name="ParticipantNumber" id="person" required>
                                        </p>      @*可以透過input內的type達到初階的輸入控制功能*@                                    @*required代表該輸入為必填*@


                                        <p style="float:left; padding-right:15px " class="SignUpText"> 餐點葷素 : </p>
                                        <div class="form-check form-check-inline">
                                            @*透過Value寫死回傳值*@                                                                                         @* checked為預設*@
                                            <input class="form-check-input" type="radio" name="FoodPreference" value="葷食" checked>
                                            <label class="form-check-label SignUpText" for="inlineRadio1">葷食</label>
                                        </div>
                                        <div class="form-check form-check-inline" style="padding-bottom:10px">
                                            <input class="form-check-input" type="radio" name="FoodPreference" value="素食">
                                            <label class="form-check-label  SignUpText " for="inlineRadio2">素食</label>
                                        </div>

                                        <p>
                                            <textarea class="SignUpText" name="Remark" cols="30" rows="10" placeholder="其他"></textarea>
                                        </p>
                                        <div style="padding-top:15px"> </div>
                                        @*偷雞摸狗法: type必須使用Submit, 會將對應Ctroller的同名from內所有的input,一起回傳*@
                                        <button type="submit" class="btn btn-success " id="chickBT">送出報名</button>
                                        <div id="判讀輸入" style="float:right;  padding-right:160px; font-size:x-large; font-weight:700;"></div>
                                    </form>                                                                                   @*透過onclick引用Javascript跳出Alert*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- simple table -->
        </div> <!-- end section -->
    </div> <!-- .col-12 -->
</div> <!-- .row -->

@section Scripts{
    <script src='~/backstage/js/jquery.dataTables.min.js'></script>
    <script src='~/backstage/js/dataTables.bootstrap4.min.js'></script>
    <script src="~/assets/smtp.js"></script>
    <script>
        $('#dataTable-1').DataTable(
            {
                autoWidth: true,
                "lengthMenu": [
                    [16, 32, 64, -1],
                    [16, 32, 64, "All"]
                ]
            });
        $("#BtnSend").click(function () {

            Email.send({
                Host: "smtp.elasticemail.com",
                SecureToken: "3e540e90-231a-4a5e-ab6a-fefb72ee5c97",
                Username: "dryadl978188@gmail.com",
                Password: "5D96CC748B0329536EDA6565DA0DC375DC2C",
                To:"freshveg132@gmail.com",
                From: "dryadl978188@gmail.com",
                Subject: "鮮蔬果季 意見回覆",
                Body: "很高興為您服務"
            })
                .then(
                     alert("已回覆")
                );
        });





    </script>




}
