@model List<鮮蔬果季_前台.ViewModels.FeedbackResponseViewModel>
@{
    ViewData["Title"] = "FeedbackList";
}

@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
    <style>
        .dropdown-item {
            padding-left: 5px;
        }

            .dropdown-item:focus {
                background-color: transparent;
            }

            .dropdown-item:hover {
                background-color: transparent;
                color: darkcyan;
            }

        .btnAdd {
            font-size: 16px;
            padding: 10px 20px 8px 16px;
        }

        .couponlist tr:hover {
            background-color: aliceblue;
        }

        .control-label {
            font-weight: bold;
        }
        h2{
            font-size:48px;
        }
    </style>


}
<!--==============================================================================================================================================================================================-->
<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title">回應項目管理</h2>
        <div class="row my-4">
            <!-- Small table -->
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <!-- table -->
                        <table class="table datatables border-dark" id="dataTable-1">
                            <thead class="thead-dark">
                                <tr>
                                    <th>序號</th>
                                    <th style="width:65px;">訂單編號</th>
                                    <th>會員名</th>
                                    <th>會員信箱</th>
                                    <th>產品名稱</th>
                                    <th>供應商名稱</th>
                                    <th>回應項目</th>
                                    <th>回應敘述</th>
                                    <th>是否回信</th>
                                    <th>動作</th>
                                </tr>
                            </thead>

                            <tbody id="feedbackBody" class="feedbackbody">
                                @{
                                    int count = 0;
                                    foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>
                                                @item.feedbackResponse.OrderDetailId
                                                <input type="hidden" class="orderdetailid" value="@item.feedbackResponse.OrderDetailId">
                                            </td>

                                            <td>@item.member.MemberName</td>
                                            <td>@item.member.UserId</td>
                                            <td>
                                                @item.product.ProductName
                                                <input type="hidden" class="productname" value="@item.product.ProductName">
                                            </td>
                                            <td>@item.supplier.SupplierName</td>
                                            <td>@item.FeedbackName</td>
                                            <td>@item.FeedbackComment</td>
                                            @if (@item.HaveResponses)
                                            {
                                                <td style="color:forestgreen">已回覆</td>
                                            }
                                            else
                                            {
                                                <td style="color:red">尚未回覆</td>
                                            }
                                            <td>
                                                @if (@item.HaveResponses)
                                                {
                                                    <button type="button" class="btn btn-success btnEdit" disabled>
                                                        已回覆
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-danger btnEdit" data-toggle="modal" data-target="#replyModal">
                                                        請盡快回覆
                                                    </button>
                                                    <input type="hidden" class="FeedbackResponseID" value="@item.feedbackResponse.FeedbackResponseId" />

                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- simple table -->
        </div> <!-- end section -->
    </div> <!-- .col-12 -->
</div> <!-- .row -->
<!--====================================================================================================================================================================================================================-->
<!-- Modal 回應項目管理-->
<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:600px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">信件回覆</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @*<div id="contactForm">*@
            <form>
                <div class="modal-body feedbackresponsebody">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-danger"></div>
                            <!--回應項目管理表單-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btncredemo">DEMO</button>
                    <center><button class="btn hvr-hover BtnSend" id="submit" type="submit" data-dismiss="modal" align="center">傳送密碼郵件</button></center>
                </div>
            </form>
            @*</div>*@
        </div>
    </div>
</div>
<!--=================================================================================================================================================================================================================-->
@section Scripts{
    <script src='~/backstage/js/jquery.dataTables.min.js'></script>
    <script src='~/backstage/js/dataTables.bootstrap4.min.js'></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script>

        $('#dataTable-1').DataTable(
            {
                autoWidth: true,
                "lengthMenu": [
                    [16, 32, 64, -1],
                    [16, 32, 64, "All"]
                ]
            });
        $(".BtnSend").click(async function (e) {
            e.preventDefault();
            console.log($(".UserId").val())
            var email = $(".UserId").val()
            Email.send({
                Host: "smtp.elasticemail.com",
                SecureToken: "3e540e90-231a-4a5e-ab6a-fefb72ee5c97",
                Username: "dryadl978188@gmail.com",
                Password: "220C4ED1140BB4829DC16C309ED5E3CBB7F2",
                To: $(".UserId").val(),
                From: "dryadl978188@gmail.com",
                port: "587",
                //SecureToken:"8d1a534b-e78f-4d4c-9c40-94dbe4c1a340 ",
                //Username: "freshveg132@gmail.com",
                //Password: "4A4EADA0F203816BC4C22512AB6AC3F9C502",
                //To: $(".UserId").val(),
                //From: "freshveg132@gmail.com",
                //port: "25",
                Subject:"意見回覆信函",
                //Body: "<h2>" + "鮮蔬果季客服中心" + "</h2>" + "親愛的會員你好" +  "<br>"
                //    + "<br>" + $("#msg").val()
                //    + "<br>" + "<br>" + "<br>" + "<br>" + "<h2>" + "鮮蔬果季團隊感謝您"+"</h2>",
                //Body: "<h2>" + "鮮蔬果季客服中心" + "</h2>" + "親愛的用戶" + "<strong>" + $("#membername").val() + "</strong>" + "  " + "先生/小姐" + "，您好!" + "<br>"
                //    + "<br>" + "關於您提到訂單編號:" + "<strong>" + $(".orderdetailid").val()+ "</strong>"
                //    + "<br>" + "產品名:" + "<strong>" + $(".productname").val() + "</strong>"
                //    + "<br>" + "出現了" + "<strong>" + $("#feedbackName").val() + "</strong>"+"的問題"
                //    + "<br>" + "<br>"
                //    + $("#msg").val()
                //    + "<br>" + "<br>" + "<br>" + "<h2>" + "鮮蔬果季團隊感謝您" + "</h2> "
                Body:"<h2 style='color: #429416; font-size: 48px;'>" + "鮮蔬果季客服中心" + "</h2>"
                    +"<h3 style='font-size: 24px'>" + "親愛的用戶:" + "</h3> " + "<strong class='name'  style='color: #947322; font-size: 24px; '>" + $("#membername").val() +"</strong> "
                    + "<h3 style='font-size: 24px;'>" + "關於您提到訂單編號:" + "</h3>" + "<strong style='color: #FFB042; font-size: 24px;'>" + $(".orderdetailid").val() + "</strong>"
                    + " <h3 style='font-size: 24px;'>" + "產品名:" + "</h3>" + "<strong style='color: #FFB042; font-size: 24px;'>" + $(".productname").val()  + "</strong>"
                    + "<br>" + "<h3 style='font-size: 24px;'>" + "問題項目:" + ":</h3>" + "<strong style='color: #FFB042; font-size: 24px;'>" + $("#feedbackName").val() + "</strong>"
                    + "<br>" + "<br>"
                    + " <h3 style='font-size: 24px;'>" + "感謝您的提出問題，" + "</h3>"
                    + "<strong style='font-size: 24px;'>" + $("#msg").val() + "</strong>"
                    + "<br>" + "<br>" + "<br>" + "<h2 style='color: #429416; font-size: 48px;' >" + "鮮蔬果季團隊感謝您" + "</h2>"
            })

                .then(async function (message) {
                    if (message == "OK") {
                        var id = $("#FeedbackResponseID").val();
                        var response = await fetch("@Url.Content("~/BackStageFeedBack/FeedbackEmailSend/")" + id)
                        var date = await response.text();
                        if (date == 1) {
                         $('.card-body').load("@Url.Content("~/BackStageFeedBack/FeedbackListPartial")", function () {
                                    alert(message + "，寄信成功")
                                    $('#dataTable-1').DataTable(
                                        {
                                            autoWidth: true,
                                            "lengthMenu": [
                                                [16, 32, 64, -1],
                                                [16, 32, 64, "All"]
                                            ]
                                        });
                                })
                        }
                    }
                });

        });
        $(document).on("click", ".btnEdit", function () {
            var FeedbackResponseID = $(this).next().val();
            console.log(FeedbackResponseID);
            $(".feedbackresponsebody").load("@Url.Content("~/BackStageFeedBack/FeedbackDetailPartail/")" + FeedbackResponseID)
        })
       /* $("#btncredemo").click(function () {*/
        //    console.log("ok")
        //    $("#msg").val("你的意見我們收到了，感謝您的回覆，謝謝再聯絡!")
        //})
        $(document).on("click", ".btncredemo", function () {
            console.log("ok")
            $("#msg").val("您的意見會赴我們已經收到，之後具體問題我們會請專員方忙處理。")
        })
    </script>
}
