@model List<鮮蔬果季_前台.ViewModels.FeedbackResponseViewModel>
@{
    ViewData["Title"] = "FeedbackList";
}

@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: auto;
        }

            form input, form textarea, form button {
                display: flex;
                padding: 10px;
                margin-bottom: 20px;
                outline: none;
                border: none;
                background-color: #ddd;
            }

        .modal-body feedbackbodyresponse button {
            width: 300px;
        }

        form textarea {
            height: 300px;
            resize: none;
        }

        form button {
            background-color: #333;
            cursor: pointer;
            color: #fff;
        }

        h1 {
            text-align: center;
        }
        .form-group {
            width:300px;
        }
    </style>
}

<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title">回應項目管理</h2>
        <p class="card-text"></p>
        <div class="row my-4">
            <!-- Small table -->
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <!-- table -->
                        <table class="table datatables border-dark" id="dataTable-1">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="width:65px;">訂單編號</th>
                                    <th>會員名</th>
                                    <th>會員信箱</th>
                                    <th>產品名稱</th>
                                    <th>供應商名稱</th>
                                    <th>回應項目</th>
                                    <th>回應敘述</th>
                                    <th>是否回信</th>
                                    <th>動作</th>
                                </tr>
                            </thead>

                            <tbody id="feedbackBody" class="feedbackbody">
                                @{
                                    foreach (var item in Model)
                                    {


                                        <tr>
                                            <td>@item.feedbackResponse.OrderDetailId</td>
                                            <td>@item.member.MemberName</td>
                                            <td>@item.member.UserId</td>
                                            <td>@item.product.ProductName</td>
                                            <td>@item.supplier.SupplierName</td>
                                            <td>@item.FeedbackName</td>
                                            <td>@item.FeedbackComment</td>
                                            @if (@item.HaveResponses)
                                            {
                                                <td>以回覆</td>
                                            }
                                            else
                                            {
                                                <td>尚未回覆</td>
                                            }


                                            <td>

                                                <button type="button" class="btn btn-success btnEdit" data-toggle="modal" data-target="#replyModal">回覆</button>
                                                <input type="hidden" class="UserId" value="@item.UserId" />

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <!-- Modal 會員修改-->
                        <div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">信件回覆</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form id="contactForm">
                                        <h2 class="h3 mb-4 page-title" style="margin-top:50px; ">內容回覆</h2>
                                        <div class="row mb-4">
                                            <div class="col-md-5" style="padding-left:-15px;padding-right:0px">
                                                <div class="form-group">
                                                    <label>登入帳號</label>
                                                    <input class="form-control" id="UserId" required data-error="欄位不可空白">
                                                    <input type="hidden" id="password" />
                                                    <textarea name="FeedbackComment" id="FeedbackCommet" class="form-control" placeholder="請輸入內容" ></textarea>
                                                    <div class="cust-data">
                                                    </div>
                                                    <div class="help-block with-errors">
                                                        <ul class="list-unstyled">
                                                            <li id="UserIderr"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="submit-button">
                                                    <button class="btn hvr-hover BtnSend" id="submit" type="submit" style="color:black">傳送</button>
                                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- simple table -->
        </div> <!-- end section -->
    </div> <!-- .col-12 -->
</div> <!-- .row -->

@section Scripts{
    <script src='~/backstage/js/jquery.dataTables.min.js'></script>
    <script src='~/backstage/js/dataTables.bootstrap4.min.js'></script>
    <script src="https://smtpjs.com/v3/smtp.js"  ></script>
    <script>
        $('#dataTable-1').DataTable(
            {
                autoWidth: true,
                "lengthMenu": [
                    [16, 32, 64, -1],
                    [16, 32, 64, "All"]
                ]
            });
        $(".BtnSend").click(function () {

            Email.send({
                Host: "smtp.elasticemail.com",
                SecureToken: "3e540e90-231a-4a5e-ab6a-fefb72ee5c97",
                Username: "dryadl978188@gmail.com",
                Password: "220C4ED1140BB4829DC16C309ED5E3CBB7F2",
                To: "freshveg132@gmail.com",
                From: "dryadl978188@gmail.com",
                Subject: "鮮蔬果季 意見回覆",
                Body: "很高興為您服務" + $("#FeedbackCommet").val()
            })
                .then(
                   message=> alert("已回覆")
                );
        });





    </script>




}
