@model List<鮮蔬果季_前台.ViewModels.FeedbackResponseViewModel>
@{
    ViewData["Title"] = "FeedbackList";
}

@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
}

<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title">回應項目管理</h2>
        <p class="card-text"></p>
        <div class="row my-4">
            <!-- Small table -->
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <!-- table -->
                        <table class="table datatables border-dark" id="dataTable-1">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="width:65px;">訂單編號</th>
                                    <th>產品名稱</th>
                                    <th>供應商名稱</th>
                                    <th>回應項目</th>
                                    <th>回應敘述</th>
                                    <th>動作</th>
                                </tr>
                            </thead>

                            <tbody id="feedbackBody" class="feedbackbody">
                                @{ int count = 0;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.feedbackResponse.OrderDetailId</td>
                                            <td>@item.product.ProductName</td>
                                            <td>@item.supplier.SupplierName</td>
                                            <td>@item.FeedbackName</td>
                                            <td>@item.FeedbackComment</td>
                                       
                                            <td>
                                                <button type="button" class="btn btn-success btnEdit" data-toggle="modal" data-target="#exampleModal">
                                                    <i class="fe fe-edit fe-16"></i>
                                                </button>
                                                <input type="hidden" class="Pid" value="@item.FeedbackResponseID" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" style="max-width: 1000px;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">產品修改</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form name="FeedbackEdit">
                                        <div class="modal-body feedbackBody">
                                            <!--內容-->
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                            <input type="submit" value="儲存" class="btn btn-primary btnSave" data-dismiss="modal" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- simple table -->
        </div> <!-- end section -->
    </div> <!-- .col-12 -->
</div> <!-- .row -->
@section Scripts{
    <script src='~/backstage/js/jquery.dataTables.min.js'></script>
    <script src='~/backstage/js/dataTables.bootstrap4.min.js'></script>
    <script>
        $('#dataTable-1').DataTable(
            {
                autoWidth: true,
                "lengthMenu": [
                    [16, 32, 64, -1],
                    [16, 32, 64, "All"]
                ]
            });
        //回應修改=========================================================================
        //修改按鈕
        $(document).on("click", ".btnEdit", function () {
            var pid = $(this).next(".Pid").val();
            console.log(pid);
            $('.feedbackBody').load("@Url.Content("~/BackStageFeedBack/FeedbackDetailPartail")/" + pid, function () {
                var editor = document.getElementById('editor');
                if (editor) {
                    console.log(editor)
                    var toolbarOptions = [
                        [
                            {
                                'font': []
                            }],
                        [
                            {
                                'header': [1, 2, 3, 4, 5, 6, false]
                            }],
                        ['bold', 'italic', 'underline', 'strike'],
                        ['blockquote', 'code-block'],
                        [
                            {
                                'header': 1
                            },
                            {
                                'header': 2
                            }],
                        [
                            {
                                'list': 'ordered'
                            },
                            {
                                'list': 'bullet'
                            }],
                        [
                            {
                                'script': 'sub'
                            },
                            {
                                'script': 'super'
                            }],
                        [
                            {
                                'indent': '-1'
                            },
                            {
                                'indent': '+1'
                            }], // outdent/indent
                        [
                            {
                                'direction': 'rtl'
                            }], // text direction
                        [
                            {
                                'color': []
                            },
                            {
                                'background': []
                            }], // dropdown with defaults from theme
                        [
                            {
                                'align': []
                            }],
                        ['clean'] // remove formatting button
                    ];
                    var quill = new Quill(editor,
                        {
                            modules:
                            {
                                toolbar: toolbarOptions
                            },
                            theme: 'snow'
                        });
                }
            })
        })//修改儲存
        $(document).on("click", ".btnSave", async function (e) {
            e.preventDefault();

            //讀取文字編輯器
            var discription = $(".ql-editor").html();
            $(".prodDescription").val(discription);

            const formData = new FormData(document.ProdEdit)
            const response = await fetch('@Url.Content("~/BackStageFeedBack/ProdEditPartial")', {
                method: "POST",
                body: formData
            })
            const data = await response.text()
            console.log(data)
            if (data == 1) {
                $('.card-body').load("@Url.Content("~/BackStageFeedBack/ProdListPartial")", function () {
                    alert("修改成功")
                    $('#dataTable-1').DataTable(
                        {
                            autoWidth: true,
                            "lengthMenu": [
                                [16, 32, 64, -1],
                                [16, 32, 64, "All"]
                            ]
                        });
                })
            }
        })
         
    </script>

}
