@model List<鮮蔬果季_前台.ViewModels.ShoppingListViewModel>
@{
    ViewData["Title"] = "Cart";
}

@section Styles{
    <style>
        .order-box h3 {
            font-size: 18px;
        }

        .img-fluid {
            width: 100px;
            height: 80px;
            object-fit: cover;
        }

        .include {
            position: relative;
            width: 190px;
            height: 100px;
            padding: 10px;
            background-color: aliceblue;
            border-radius: 10px;
            border: 1px dotted gray;
            margin-right: 10px;
            margin-top: 10px;
        }

        .setinclude {
            position: relative;
            width: 190px;
            height: 100px;
            padding: 10px;
            background-color: aliceblue;
            border-radius: 10px;
            border: 2px solid darkred;
            margin-right: 10px;
            margin-top: 10px;
        }
        .include:hover {
            border: 1px solid darkred;
        }

        .discountnum {
            font-size: 25px;
            padding-left: 5px;
        }

        .lead {
            position: absolute;
            top: 8px;
            font-weight: bold;
            font-size: 15px;
            margin-right: 65px;
            line-height: 1.5
        }

        .usebtn {
            right: 20px;
            bottom: 15px;
            position: absolute;
        }

        .setusebtn {
            right: 20px;
            bottom: 15px;
            position: absolute;
            background-color: #ffc107;
        }

        .cpbox {
            width: 100%;
            height: 260px;
            /*background-color: gray;*/
            padding: 17.5px;
            margin-left: 1px;
            margin-top: -20px;
        }

        .order-box {
            /*新增的*/
            width: 450px;
        }

        .cpnum {
            position: absolute;
            right: 15px;
            top: 15px;
        }

        .discount {
            position: absolute;
            bottom: 5px;
        }

    </style>
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>購物車</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align:center;">商品</th>
                                <th></th>
                                <th>價格</th>
                                <th style="text-align:center;">數量</th>
                                <th style="text-align:center;">小計</th>
                                <th style="text-align:center;">移除商品</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int 商品價乘數量 = 0;
                                int 總價 = 0;
                                int 運費 = 50;
                                int 商品折扣 = 0;
                                int 酷碰折扣 = 0;
                                int 應付金額 = 0;
                                if (Model.Count != 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        商品價乘數量 = item.product.ProductUnitPrice * item.shopCart.UnitsInCart;

                                        <tr>
                                            <td class="thumbnail-img">
                                                <a href="#">
                                                    <img class="img-fluid" src="~/images/商品照/@item.photoforCart.PhotoPath" alt="" />
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="#">
                                                    @item.product.ProductName
                                                </a>
                                            </td>
                                            <td class="price-pr">
                                                <p>NT$ @item.product.ProductUnitPrice</p>
                                            </td>
                                            <td class="quantity-box">
                                                <input id="qtyChange" type="number" size="4" value="@item.shopCart.UnitsInCart" min="1" max="15" class="c-input-text qty text qtyChange">
                                                <input type="hidden" class="cartid" value="@item.shopCart.ShoppingCartId" />
                                            </td>
                                            <td class="total-pr" style="text-align:center;">
                                                <p class="itemPrice">NT$ @商品價乘數量</p>
                                            </td>
                                            <td class="remove-pr">
                                                <a href="#">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        總價 += 商品價乘數量;
                                        應付金額 = 總價 - 酷碰折扣;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <h2>購物車內無商品</h2>
                                        </td>
                                        <td class="name-pr">
                                        </td>
                                        <td class="price-pr">
                                        </td>
                                        <td class="quantity-box">
                                        </td>
                                        <td class="total-pr">
                                        </td>
                                        <td class="remove-pr">
                                        </td>
                                    </tr>
                                    運費 = 0;
                                    酷碰折扣 = 0;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-7 col-sm-6" style="background-color:#FFF7FB; border-radius: 15px ">
                <div class="order-box" style="width:100%">
                    <div class="title-left" style="padding-top:20px">
                        <h3>使用優惠券</h3>
                    </div>
                </div>
                @*酷碰券顯示開始*@
                <div class="row cpbox">
                    @foreach (var item in ViewBag.Coupons)
                    {

                        if (item.coupon.CouponEndDate > DateTime.Now && item.coupon.DiscountCondition <= 總價)
                        {
                            <div class="include">
                                <span class="lead">@item.coupon.CouponName</span>
                                <input class="showcpname" type="hidden" value="@item.coupon.CouponName" />
                                <span class="badge badge-primary cpnum">剩 @item.couponDetail.CouponQuantity 張</span>
                                <div class="discount">
                                    <span class="discounttext">折NT$</span>
                                    <span class="text-muted mb-0 discountnum">$@item.coupon.CouponDiscount</span>
                                </div>
                                <a class="btn btn-sm btn-outline-warning usebtn ">選取</a>
                                <input type="hidden" class="cpdisc" value="@item.coupon.DiscountCondition" />
                                <input type="hidden" class="disprice" value="@item.coupon.CouponDiscount" />
                            </div>
                        }
                    }
                </div>
                @*酷碰券顯示結束*@
            </div>
            <div class="col-lg-5 col-sm-6">
                <div class="order-box">
                    <div class="title-left" style="padding-top:20px">
                        <h3>您的訂單</h3>
                    </div>
                    <div class="d-flex">
                        <h4>商品金額</h4>
                        <div class="ml-auto font-weight-bold grandTotal"> NT$ @總價 </div>
                    </div>
                    <div class="d-flex">
                        <h4>酷碰折扣</h4>
                        <div class="ml-auto font-weight-bold" id="disdisprice"> -NT$ 0 </div>
                    </div>
                    <hr>
                    <div class="d-flex gr-total">
                        <h5>應付金額</h5>
                        <div class="ml-auto h5 payTotal"> NT$ @應付金額 </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-12 d-flex shopping-box">
                <a id="goCheck" asp-area="" asp-controller="Shopping" asp-action="Checkout" class="ml-auto btn hvr-hover">前往結帳</a>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                @*<div class="order-box">
                        <div class="title-left" style="padding-top:20px">
                            <h3>您的訂單</h3>
                        </div>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4>商品金額</h4>
                            <div class="ml-auto font-weight-bold"> NT$ 342 </div>
                        </div>
                        <div class="d-flex">
                            <h4>消費稅</h4>
                            <div class="ml-auto font-weight-bold"> NT$ 5 </div>
                        </div>
                        <div class="d-flex">
                            <h4>運費</h4>
                            <div class="ml-auto font-weight-bold"> NT$ 50 </div>
                        </div>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4>商品折扣</h4>
                            <div class="ml-auto font-weight-bold"> -NT$ 0 </div>
                        </div>
                        <div class="d-flex">
                            <h4>酷碰折扣</h4>
                            <div class="ml-auto font-weight-bold"> -NT$ 20 </div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>應付金額</h5>
                            <div class="ml-auto h5"> $ 377 </div>
                        </div>
                        <hr>
                    </div>*@
                <input type="hidden" value="@Model.Count" class="count" />
            </div>
            @*<div class="col-12 d-flex shopping-box"><a asp-area="" asp-controller="Shopping" asp-action="Checkout" class="ml-auto btn hvr-hover">前往結帳</a> </div>*@
        </div>

    </div>
</div>
<!-- End Cart -->
@section Scripts{
    <script>
        //document.getElementById('qtyChange').value
        $(document).on("change", ".qtyChange", function () {
            var obj = $(this);
            var qty = $(this).val();
            var cid = $(this).next(".cartid").val();
            //console.log(obj);
            //console.log(value);
            async function ChangeQty() {
                var response = await fetch('@Url.Content("~/ShoppingApi/ChangeCartQty/")' + cid +"?qty="+qty)
                var data = await response.text()
                //console.log(data);
                if (data != 0) {
                    //console.log("success");
                    var p = parseInt(data);
                    obj.closest('.quantity-box').next().find("p").html("NT$ " + p);
                    //console.log(obj.closest('.quantity-box'))
                    //pItemPrice.innerHTML = p;

                    $('div.grandTotal').html(0);
                    //console.log($('div.grandTotal').val());


                    var grandTotal = 0;
                    $('.itemPrice').each(function (index, value) {
                        //console.log(value);
                        var num = value.innerHTML;
                        var num2 = num.replace(/[^0-9]/ig, "");
                        //console.log(num2);
                        num3 = parseInt(num2);
                        grandTotal += num3;
                        $('div.grandTotal').html("NT$ " + grandTotal);
                    });
                    console.log("grandTotal="+grandTotal)
                    $('.cpbox').load("@Url.Content("~/Shopping/CartCpPartial/")" + "?ttcart=" + grandTotal)
                    $('#disdisprice').html("-NT$ 0");
                    $('.payTotal').html("NT$ " + (grandTotal - 0));

                }
            }
            ChangeQty();
        })
        $(document).on("click", ".usebtn", function () {
            $(this).text("使用中");
            $(".setusebtn").text("選取");
            $(".setusebtn").removeClass("setusebtn").addClass("usebtn");
            $(".setinclude").removeClass("setinclude").addClass("include");
            $(this).removeClass("usebtn").addClass("setusebtn");
            //console.log($(this).parent(".include"));
            $(this).parent(".include").removeClass("include").addClass("setinclude");
            //console.log($(this).text());
            var disprice = $(this).next().next().val();
            var grandTotal = $('div.grandTotal').html();
            grandTotal = grandTotal.replace(/[^0-9]/ig, "");
            console.log(grandTotal);
            console.log(disprice);
            $('#disdisprice').html("-NT$ " + disprice);
            $('.payTotal').html("NT$ " + (grandTotal - disprice));
        })
        $(document).on("click", ".setusebtn", function () {
            $(this).text("選取");
            $(this).removeClass("setusebtn").addClass("usebtn");
            $(this).parent(".setinclude").removeClass("setinclude").addClass("include");
            var grandTotal = $('div.grandTotal').html();
            grandTotal = grandTotal.replace(/[^0-9]/ig, "");
            $('#disdisprice').html("-NT$ 0");
            $('.payTotal').html("NT$ " + (grandTotal - 0));
        })

        function showAlert() {
            alert('購物車內尚無商品');
        }

        $('#goCheck').click(function () {
            let value = $(".count").val();
            console.log(value)
            //let value = @Model.Count
            if (value == 0) {
                showAlert();
                return false;
            }
        })
    </script>
}