@model List<鮮蔬果季_前台.ViewModels.ShoppingListViewModel>
@{
    int 商品價乘數量 = 0;
    int 總價 = 0;
    int 酷碰折扣 = 0;
    int 應付金額 = 0;
    if (Model.Count != 0)
    {
        foreach (var item in Model)
        {
            商品價乘數量 = item.product.ProductUnitPrice * item.shopCart.UnitsInCart;

            <tr>
                <td class="thumbnail-img">
                    <a href="#">
                        <img class="img-fluid" src="~/images/商品照/@item.photoforCart.PhotoPath" alt="" />
                    </a>
                </td>
                <td class="name-pr">
                    <a href="#">
                        @item.product.ProductName
                    </a>
                </td>
                <td>
                    <p>@item.supplier.SupplierName</p>
                </td>
                <td class="price-pr">
                    <p>NT$ @item.product.ProductUnitPrice</p>
                </td>
                <td class="quantity-box">
                    <input id="qtyChange" type="number" size="4" value="@item.shopCart.UnitsInCart" min="1" max="15" class="c-input-text qty text qtyChange">
                    <input type="hidden" class="cartid" value="@item.shopCart.ShoppingCartId" />
                </td>
                <td class="total-pr" style="text-align:center;">
                    <p class="itemPrice">NT$ @商品價乘數量</p>
                </td>
                <td class="remove-pr">
                    <a style="cursor:pointer;">
                        <i id="btnRemove" class="fas fa-times btnRemove"></i>
                    </a>
                </td>
            </tr>
            總價 += 商品價乘數量;
            應付金額 = 總價 - 酷碰折扣;
        }
    }
    else
    {
        <tr>
            <td>
                <h2>購物車內無商品</h2>
            </td>
            <td class="name-pr">
            </td>
            <td class="price-pr">
            </td>
            <td class="quantity-box">
            </td>
            <td class="total-pr">
            </td>
            <td class="remove-pr">
            </td>
        </tr>
    }
}
