@model List<鮮蔬果季_前台.ViewModels.ShoppingListViewModel>

@{
    if (ViewBag.Coupons.Count != 0)
    {
        @foreach (var item in ViewBag.Coupons)
        {
            <div class="include">
                <span class="lead">@item.coupon.CouponName</span>
                <input class="showcpname" type="hidden" value="@item.coupon.CouponName" />
                <span class="badge badge-primary cpnum">剩 @item.couponDetail.CouponQuantity 張</span>
                <div class="discount">
                    <span class="discounttext">折NT$</span>
                    <span class="text-muted mb-0 discountnum">$@item.coupon.CouponDiscount</span>
                </div>
                <a class="btn btn-sm btn-outline-warning usebtn ">選取</a>
                <input type="hidden" class="cpdisc" value="@item.coupon.DiscountCondition" />
                <input type="hidden" class="disprice" value="@item.coupon.CouponDiscount" />
                <input type="hidden" class="cpid" value="@item.couponDetail.CouponId" />
            </div>
        }
    }
    else
    {
        <div class="nonecp">
            <h1>*無酷碰券可使用*</h1>
        </div>
    }
}