@model List<鮮蔬果季_前台.ViewModels.ShoppingListViewModel>

@*商品List 開始*@
@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
        <div class="products-single fix">
            <div class="box-img-hover">
                <div class="type-lb">
                    <p class="sale">Sale</p>
                </div>
                @{if (@item.photoBank[0] != null)
                    {
                        <img src="~/images/商品照/@item.photoBank[0].PhotoPath" class="img-fluid" alt="Image">
                    }
                }

                <div class="mask-icon">
                    <ul>
                        <li>
                            <a asp-area="" asp-controller="Shopping" asp-action="ShopDetail" asp-route-id="@item.ProductId" data-toggle="tooltip" data-placement="right" title="查看"><i class="fas fa-eye"></i></a>
                        </li>
                        @{
                            if (item.myFavorite.MyFavoriteId != 0)
                            {
                                <li>
                                    <a asp-area="" asp-controller="MyFavorite" asp-action="List" data-toggle="tooltip" data-placement="right" title="移除我的最愛" style="color: #FF2D2D"><i class="fas fa-heart"></i></a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-area="" asp-controller="Shopping" asp-action="ListAddMyFavorite" asp-route-id="@item.ProductId" data-toggle="tooltip" data-placement="right" title="加入我的最愛"><i class="far fa-heart"></i></a>
                                </li>
                            }
                        }
                    </ul>
                    <a class="cart">加入購物車</a>
                    <a class="cart" asp-area="" asp-controller="Shopping" asp-action="ListAddToCart" asp-route-id="@item.ProductId">加入購物車</a>
                </div>
            </div>
            <div class="why-text">
                @{

                }
                <h4>【@item.SupplierName】</h4>
                <h4>@item.ProductName</h4>
                @{
                    string 規格 = @item.ProductSize;
                    string[] 公克 = 規格.Split("/");
                }
                <h5> @公克[0]/NT$@item.ProductUnitPrice</h5>
            </div>
        </div>
    </div>
}
@*商品List 結束*@