@model List<鮮蔬果季_前台.ViewModels.ShoppingListViewModel>

@{
    ViewData["Title"] = "Checkout";
}

@section Styles{
    <style>
        .custom-control-label {
            padding-left: 23px;
        }

        .all-title-box {
            background: url("../images/broccoli-stir-fry.jpg") no-repeat center center;
            background-size: cover;
        }

        .order-box h3 {
            font-size: 18px;
        }
    </style>
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>商品結帳</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="checkout-address">
                    <div class="title-left">
                        <h3>寄送資訊</h3>
                    </div>
                    <form class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">會員姓名 *</label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value="@UserLogin.member.MemberName" readonly>
                                <div class="invalid-feedback"> Valid first name is required. </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="state">縣市 *</label>
                                <select class="wide w-100" id="citySelect">
                                </select>
                                <div class="invalid-feedback"> 請選擇縣市 </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address">寄送地址 *</label>
                            <input type="text" class="form-control" id="address" placeholder="" required>
                            <div class="invalid-feedback"> Please enter your shipping address. </div>
                        </div>
                        <hr class="mb-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="save-info">
                            <label class="custom-control-label" for="save-info">為我儲存此郵寄地址</label>
                        </div>
                        <hr class="mb-4">
                        <div class="title">
                            <span>付款方式</span>
                        </div>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                <label class="custom-control-label" for="credit">信用卡</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="debit">匯款</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">持卡人姓名</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                <small class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback"> 此為必填欄位 </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">卡片號碼</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                <div class="invalid-feedback"> 此為必填欄位 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">到期日</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                <div class="invalid-feedback"> 此為必填欄位 </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">CVV 安全碼</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                <div class="invalid-feedback"> 此為必填欄位 </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="payment-icon">
                                    <ul>
                                        <li>
                                            <img class="img-fluid" src="~/images/payment-icon/1.png" alt="">
                                        </li>
                                        <li>
                                            <img class="img-fluid" src="~/images/payment-icon/2.png" alt="">
                                        </li>
                                        <li>
                                            <img class="img-fluid" src="~/images/payment-icon/3.png" alt="">
                                        </li>
                                        <li>
                                            <img class="img-fluid" src="~/images/payment-icon/5.png" alt="">
                                        </li>
                                        <li>
                                            <img class="img-fluid" src="~/images/payment-icon/7.png" alt="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-1">
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="shipping-method-box">
                            <div class="title-left">
                                <h3>配送時間</h3>
                            </div>
                            <div class="mb-4">
                                <div class="custom-control custom-radio">
                                    <input id="shippingOption1" name="shipping-option" class="custom-control-input" checked="checked" type="radio">
                                    <label class="custom-control-label" for="shippingOption1">標準配送</label>
                                    <span class="float-right font-weight-bold">超過 NT$ 500 免運費</span>
                                </div>
                                <div class="ml-4 mb-2 small">(3-7 工作天)</div>
                                <div class="custom-control custom-radio">
                                    <input id="shippingOption2" name="shipping-option" class="custom-control-input" type="radio">
                                    <label class="custom-control-label" for="shippingOption2">限時配送</label>
                                    <span class="float-right font-weight-bold">NT$ 60</span>
                                </div>
                                <div class="ml-4 mb-2 small">(2-4 工作天)</div>
                                <div class="custom-control custom-radio">
                                    <input id="shippingOption3" name="shipping-option" class="custom-control-input" type="radio">
                                    <label class="custom-control-label" for="shippingOption3">超級快遞 (中午前下單於隔日即送達)</label>
                                    <span class="float-right font-weight-bold">NT$ 150</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="odr-box">
                            <div class="title-left">
                                <h3>購物清單</h3>
                            </div>
                            @{
                                int 商品價乘數量 = 0;
                                int 總價 = 0;
                                foreach (var item in Model)
                                {
                                    商品價乘數量 = item.product.ProductUnitPrice * item.shopCart.UnitsInCart;
                                    總價 += 商品價乘數量;
                                    <div class="rounded p-2 bg-light">
                                        <div class="media mb-2 border-bottom">
                                            <div class="media-body">
                                                <h4 style="font-weight:bold;"> @item.product.ProductName (@item.supplier.SupplierName)</h4>
                                                <div class="small text-muted">
                                                    價格: NT$ @item.product.ProductUnitPrice
                                                    <span class="mx-2">|</span> 數量: @item.shopCart.UnitsInCart
                                                    <span class="mx-2">|</span> 小計: NT$ @商品價乘數量
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="order-box">
                            <div class="title-left" style="padding-top:20px">
                                <h3>訂單明細</h3>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>商品金額</h4>
                                <div class="ml-auto font-weight-bold"> NT$ @總價 </div>
                            </div>
                            <div class="d-flex">
                                <h4>運費</h4>
                                <div class="ml-auto font-weight-bold"> NT$ 50 </div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>商品折扣</h4>
                                <div class="ml-auto font-weight-bold"> -NT$ 0 </div>
                            </div>
                            <div class="d-flex">
                                <h4>酷碰折扣</h4>
                                <div class="ml-auto font-weight-bold"> -NT$ 0 </div>
                            </div>
                            <hr>
                            <div class="d-flex gr-total">
                                <h5>應付金額</h5>
                                <div class="ml-auto h5"> NT$ @(總價+50) </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-12 d-flex shopping-box">
                        <a href="checkout.html" class="ml-auto btn hvr-hover">付款</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Cart -->
@section Scripts{
    <script>
        //load 寄送縣市 Start
        var selCity = document.querySelector('#citySelect')
        async function loadCity() {
            var response = await fetch('@Url.Content("~/ShoppingApi/Cities")')
            RenderCity(await response.json())
        }

        loadCity()

        function RenderCity(data) {
            data.forEach((item)=> {
                var opt = new Option(item.cityName, item.cityName)
                selCity.options.add(opt)
            })
        }
        //load 寄送縣市 End
    </script>
}