@model 鮮蔬果季_前台.ViewModels.Cashier
@{
    ViewData["Title"] = "Checkout2";
}
<div style="height:300px; position:relative;">
    <div id="loader">
        <img id="imgLoad" style="width:150px;" src="~/images/loading.gif" />
    </div>
</div>

<div hidden>
    <form id="formCreditCard" method="post" accept-charset="UTF-8"
          action="https://payment-stage.opay.tw/Cashier/AioCheckOut/V5">

        MerchantID 商店代號:
        <input type="text" name="MerchantID" value="2000132" /><br />
        MerchantTradeNo 商店交易編號:
        <input type="text" name="MerchantTradeNo" value="@Model.TradeNo" /><br />
        MerchantTradeDate 商店交易時間:
        <input type="text" name="MerchantTradeDate" value="@Model.Date" /><br />
        PaymentType 交易類型:
        <input type="text" name="PaymentType" value="aio" /><br />
        TotalAmount 交易金額:
        <input type="text" name="TotalAmount" value="@Model.TotalAmount" /><br />
        TradeDesc 交易描述:
        <input type="text" name="TradeDesc" value="建立信用卡測試訂單" /><br />
        ItemName 商品名稱:
        <input type="text" name="ItemName" value="@Model.ItemName" /><br />
        ReturnURL 付款完成通知回傳網址:
        <input type="text" name="ReturnURL" value="https://developers.opay.tw/AioMock/MerchantReturnUrl" /><br />
        ChoosePayment 預設付款方式:
        <input type="text" name="ChoosePayment" value="Credit" /><br />
        會員商店代碼:
        <input type="text" name="StoreID" value="" /><br />
        ClientBackURL Client端返回廠商網址:
        <input type="text" name="ClientBackURL" value="@Model.BacktoUrl" /><br />
        CreditInstallment 刷卡分期期數:
        <input type="text" name="CreditInstallment" value="" /><br />
        InstallmentAmount 使用刷卡分期的付款金額:
        <input type="text" name="InstallmentAmount" value="" /><br />
        Redeem 信用卡是否使用紅利折抵:
        <input type="text" name="Redeem" value="" /><br />
        CheckMacValue 簽章類型:
        <input type="text" name="EncryptType" value="1" /><br />
        CheckMacValue 檢查碼:
        <input type="text" name="CheckMacValue" value="@Model.CheckMac" /><br />
        <input id="send" type="submit" value="送出訂單" class="send" />

    </form>
</div>
