@*@model IEnumerable<鮮蔬果季_前台.Models.Product>*@
@model List<鮮蔬果季_前台.ViewModels.ShoppingListViewModel>
@{
    ViewData["Title"] = "List";
}

@section Styles{
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <style>
        .tab-pane.fade.show.active img {
            width: 300px;
            height: 200px;
            object-fit: cover;
        }

        .why-text.full-width p {
            padding-top: 5px;
        }

        .bootstrap-select.btn-group .dropdown-menu a.dropdown-item span.dropdown-item-inner span.text {
            font-size: 18px;
        }

        .list-group-item[data-toggle="collapse"]::after {
            content: normal;
        }

        .highlight {
            background: #FFF9E9;
            color: #8B4513;
            border-radius: 0px 0px 10px 10px;
            letter-spacing: 1px;
            font-weight: bolder;
            padding: 5px
        }

        .ui-menu-item .ui-state-active {
            background: #b0b435;
            border-radius: 10px;
            border: 1px solid #b0b435;
        }

        /*123*/
        .product-item-filter .toolbar-sorter-right {
            width: 50%;
        }
        #basic {
            width: 70%;
            background-color: #FFF9E9;
            cursor: pointer;
        }

            #basic:hover {
                color: white;
                background: #767676;
            }

                #basic:hover option {
                    color: #495057;
                    background-color: #FFF9E9;
                }
        #trash {
            border: 0;
            background: none;
            cursor: pointer;
            transition:.5s
        }
            #trash:hover {
                color: #b0b435
            }
    </style>
}
@section Scripts{

    <script src="~/js/jquery-ui.min.js"></script>

    <script>

        //$("#basic").change(function () {
        //    $("#slectForm").submit();
        //    var opt = $("#basic").val;
        //    console.log(opt);
        //});
        @*下拉式選單選時要跳到那個選項*@
        @*$("#basic").find("option[value=@ViewBag.Select]").prop("selected", true);*@
        var selcted = document.querySelector("#basic");
        selcted.addEventListener('change',()=> {
            console.log(selcted.options[selcted.selectedIndex].value)
        })
        //分類查詢
        var categoryselect = $(".categoryselect");
        categoryselect.click( function () {
            let categorySelId = $(this).val();
            if ($(this).val() == 1 || $(this).val() == 6) { }
            else {
                $(".categorySel").val(categorySelId) //設定有塞選過的編號
                let min = (($("#slider-range").find("span")[0].style.left).split("%")[0]) * 10 / 2
                let max = (($("#slider-range").find("span")[1].style.left).split("%")[0]) * 10 / 2
                var str = $(this).text()
                $("#textName").html($.trim(str).split(" ")[0] + "    ")
                $("#textPrice").html("價錢 $" + min + " ~ $" + max)
                $(".categorytrash").html("<button id='trash'><i class='fas fa-trash'></i></button> ")
                let value = $(this).val()
                $('#grid-view').find('.row').load("@Url.Content("~/Shopping/CategoryPartial")/" +value+"?min=" + min + "&max=" + max )
            }
        })
        //價錢查詢
        var priceSelect = $("#PriceSelect");
        priceSelect.click(function () {
            let min = (($("#slider-range").find("span")[0].style.left).split("%")[0]) * 10/2
            let max = (($("#slider-range").find("span")[1].style.left).split("%")[0]) * 10/2
            let categorySelId = $(".categorySel").val();
            console.log(min)
            console.log(max)
            if ($(".categorySel").val() != "") {
                $("#textPrice").html("價錢 $" + min + " ~ $" + max)
                $(".categorytrash").html("<button id='trash'><i class='fas fa-trash'></i></button> ")
            } else {
                //$("#textSel").html("篩選：<span id='textName'> </span> <span id='textPrice'>價錢 $" + min + " ~ $" + max + "</span><span class='categorytrash'></span><input type='hidden' class='categorySel' value=''>")
                $(".categorySel").val(" ") 
                $("#textName").html(" ")
                $("#textPrice").html("價錢 $" + min + " ~ $" + max)
                $(".categorytrash").html("<button id='trash'><i class='fas fa-trash'></i></button> ")
            }
            console.log(categorySelId)
            $('#grid-view').find('.row').load("@Url.Content("~/Shopping/PricePartial")?min=" + min + "&max=" + max + "&categetoryId=" + categorySelId)
        })
        //清空篩選
        var trashBtn = $(".categorytrash");
        trashBtn.click(() => {
            $('#grid-view').find('.row').load("@Url.Content("~/Shopping/AllProductPartial")")
            $("#textName").html("無")
            $("#textPrice").html("")
            $(".categorytrash").html("")
            $(".categorySel").val("")
        })
        //搜尋商品
        async function selProductName() {
            let response = await fetch("@Url.Content("~/Shopping/ProductName")")
            let data = await response.json()

            $("#tags").autocomplete({
                source: data,
                autoFocus: false,
                classes: {
                    "ui-autocomplete": "highlight"//下拉式選單樣式
                }
            });
        }
        selProductName()
        $("#selectProduct").submit(function (e) {
            e.preventDefault();
            let productName = $("#tags").val();
            let categetoryId = $(".categoriesId").val();
            console.log(productName)

            $('#grid-view').find('.row').load("@Url.Content("~/Shopping/ProductSearchjPartial")?prodName=" + productName  + "&categetoryId=" + categetoryId)
        })
        //加入購物車

        $(".addCart").click(function (e) {
            let value = $(this).find(".add").val();
            console.log(value)
            async function AddtoCart() {
                let response = await fetch("@Url.Content("~/Shopping/ListAddToCart/")" + value)
                let data = await response.text()
                console.log(data)
                if (data != 0) {
                    $("#cartNum").html(data)
                    $('#cart-ul').load('@Url.Content("~/Shopping/NavCart")')
                } else {
                    // 創建事件物件
                    var evt = document.createEvent("HTMLEvents");
                    // 初始化
                    evt.initEvent("click", false, false);
                    document.querySelector(".CarttoLogin").dispatchEvent(evt)
                }

            }
            AddtoCart();

        })
        //console.log(selectProduct);
    </script>

}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>購物專區</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-10 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>排序依 </span>
                                <select id="basic" name="SelectOrderBy" class="show-tick form-control">
                                    <option value="0">鮮蔬果季隨機推薦</option>
                                    <option value="1">最新商品</option>
                                    <option value="2">價格 (由高至低)</option>
                                    <option value="3">價格 (由低至高)</option>
                                </select>
                            </div>
                            <p id="textSel" style="text-align:left">
                                篩選：
                                <span id="textName">無</span>
                                <span id="textPrice"></span>
                                <span class="categorytrash"></span>
                                <input type="hidden" class="categorySel" value="">
                            </p>
                        </div>
                        <div class="col-12 col-sm-2 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    @*商品List 開始*@
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Sale</p>
                                                    </div>
                                                    @{if (@item.photoBank[0] != null)
                                                        {
                                                            <img src="~/images/商品照/@item.photoBank[0].PhotoPath" class="img-fluid" alt="Image">
                                                        }
                                                    }

                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li>
                                                                <a asp-area="" asp-controller="Shopping" asp-action="ShopDetail" asp-route-id="@item.product.ProductId" data-toggle="tooltip" data-placement="right" title="查看"><i class="fas fa-eye"></i></a>
                                                            </li>
                                                            @{
                                                                if (item.myFavorite.MyFavoriteId != 0)
                                                                {
                                                                    <li>
                                                                        <a asp-area="" asp-controller="MyFavorite" asp-action="List" data-toggle="tooltip" data-placement="right" title="移除我的最愛" style="color: #FF2D2D"><i class="fas fa-heart"></i></a>
                                                                    </li>
                                                                }
                                                                else
                                                                {
                                                                    <li>
                                                                        <a asp-area="" asp-controller="Shopping" asp-action="ListAddMyFavorite" asp-route-id="@item.product.ProductId" data-toggle="tooltip" data-placement="right" title="加入我的最愛"><i class="far fa-heart"></i></a>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                        @*<a id="addCart" class="cart" asp-area="" asp-controller="Shopping" asp-action="ListAddToCart" asp-route-id="@item.product.ProductId">加入購物車</a>*@
                                                        <a class="cart addCart" style="cursor:pointer">
                                                            加入購物車
                                                            <input class="add" type="hidden" value="@item.product.ProductId" />
                                                            <input class="CarttoLogin" type="hidden" onclick="window.location.href='@Url.Content("/Login/Login")'" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    @{

                                                    }
                                                    <h4>【@item.supplier.SupplierName】</h4>
                                                    <h4>@item.product.ProductName</h4>
                                                    @{
                                                        string 規格 = @item.product.ProductSize;
                                                        string[] 公克 = 規格.Split("/");
                                                    }
                                                    <h5> @公克[0]/NT$@item.product.ProductUnitPrice</h5>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @*商品List 結束*@
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="list-view">
                                <div class="list-view-box">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Sale</p>
                                                    </div>
                                                    <img src="~/images/商品照/美生菜.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li>
                                                                <a href="#" data-toggle="tooltip" data-placement="right" title="檢視"><i class="fas fa-eye"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" data-toggle="tooltip" data-placement="right" title="加入我的最愛"><i class="far fa-heart"></i></a>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                            <div class="why-text full-width">
                                                <h4>有機美生菜特價中</h4>
                                                <h5>
                                                    600g
                                                    <del>NT$ 92</del> NT$80
                                                </h5>
                                                <p>
                                                    營養豐富高纖蔬菜，冬陽下的沙拉或冬夜裡的火鍋都少不了這一味。
                                                </p>
                                                <a class="btn hvr-hover" href="#">加入購物車</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-view-box">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Sale</p>
                                                    </div>
                                                    <img src="~/images/商品照/柿子.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li>
                                                                <a href="#" data-toggle="tooltip" data-placement="right" title="檢視"><i class="fas fa-eye"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" data-toggle="tooltip" data-placement="right" title="加入我的最愛"><i class="far fa-heart"></i></a>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                            <div class="why-text full-width">
                                                <h4>高山甜柿特價中，趕緊手刀搶購!</h4>
                                                <h5>
                                                    500g
                                                    <del>NT$ 80.00</del> NT$50
                                                </h5>
                                                <p>
                                                    一年一度甜柿季節搭配折扣讓您吃到滿意，錯過再等一年!
                                                </p>
                                                <a class="btn hvr-hover" href="#">加入購物車</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-view-box">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Sale</p>
                                                    </div>
                                                    <img src="~/images/商品照/牛番茄.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li>
                                                                <a href="#" data-toggle="tooltip" data-placement="right" title="檢視"><i class="fas fa-eye"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" data-toggle="tooltip" data-placement="right" title="加入我的最愛"><i class="far fa-heart"></i></a>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                            <div class="why-text full-width">
                                                <h4>牛番茄熱銷回饋</h4>
                                                <h5>
                                                    600g
                                                    <del>NT$ 90.00</del> NT$82
                                                </h5>
                                                <p>
                                                    當季鮮美牛番茄，入菜鮮吃都讓您獲得滿分營養!
                                                </p>
                                                <a class="btn hvr-hover" href="#">加入購物車</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form action="#" id="selectProduct">
                            <input id="tags" name="txtKeyword" class="form-control" placeholder="搜尋商品..." type="text">
                            <button type="submit"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>商品分類</h3>
                        </div>
                        @{
                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">

                                @*第一層Start*@
                                @{int count1 = 0; int count2 = 50; int count3 = 100;}
                                @foreach (var 分類 in ViewBag.主類別)
                                {

                                    count1++;
                                    string men = "sub-men" + count1;
                                    string groupmen = "list-group-men";
                                    if (分類.FatherCategoryId == null)
                                    {
                                        <div class="list-group-collapse sub-men">
                                            <a class="list-group-item list-group-item-action" href="#@men" data-toggle="collapse" aria-expanded="false" aria-controls="@men" style="position:relative">
                                                @分類.CategoryName
                                            </a>
                                            <div class="collapse" id="@men" data-parent="#@groupmen">
                                                <div class="list-group">
                                                    @foreach (var 次分類 in ViewBag.次類別)
                                                    {
                                                        count2++;
                                                        string men2 = "sub-men" + count2;
                                                        string groupmen2 = "list-group-men2";
                                                        if (次分類.FatherCategoryId == 分類.CategoryId)
                                                        {
                                                            var list = ViewBag.分類明細;
                                                            @foreach (var detail in list)
                                                            {
                                                                if (detail.分類ID == 次分類.CategoryId)
                                                                {
                                                                    <button class="list-group-item list-group-item-action categoryselect" href="#@men2" data-toggle="collapse" aria-expanded="true" aria-controls="@men2" value="@次分類.CategoryId" style="cursor: pointer;" id="categoryselect">
                                                                        @次分類.CategoryName <small class="text-muted">(@detail.總數)</small>
                                                                    </button>
                                                                }
                                                            }

                                                            <div class="collapse" id="@men2" data-parent="#@groupmen2">
                                                                <div class="list-group">
                                                                    @foreach (var 次分類2 in ViewBag.次類別2)
                                                                    {
                                                                        count3++;
                                                                        string men3 = "sub-men" + count3;
                                                                        if (次分類2.FatherCategoryId == 次分類.CategoryId)
                                                                        {
                                                                            var list2 = ViewBag.分類明細;
                                                                            @foreach (var detail in list2)
                                                                            {
                                                                                if (detail.分類ID == 次分類2.CategoryId)
                                                                                {
                                                                                    <button class="list-group-item list-group-item-action categoryselect" href="#@men3" data-toggle="collapse" aria-expanded="true" aria-controls="@men3" value="@次分類2.CategoryId" style="cursor: pointer;" id="categoryselect">
                                                                                        @次分類2.CategoryName <small class="text-muted">(@detail.總數)</small>
                                                                                    </button>
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                @*第一層end*@
                            </div>

                        }
                    </div>

                    @*todo 價格區間拉bar無法套用*@
                    <div class="filter-price-left">
                        <div class="title-left">
                            <h3>價格</h3>
                        </div>
                        <div class="price-box-slider">
                            <div id="slider-range">
                            </div>
                            <p>
                                <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                <button class="btn hvr-hover" type="button" id="PriceSelect">查尋</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->
