@model List<鮮蔬果季_前台.ViewModels.OrderListViewModel>

<!-- table -->
<table class="table datatables border-dark" id="dataTable-1">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th style="width:65px;">訂單編號</th>
            <th>訂購會員</th>
            <th>下單時間</th>
            <th>出貨時間</th>
            <th>狀態</th>
            <th>使用酷碰券</th>
            <th>訂單金額</th>
            <th>寄送地址</th>
            <th>付款方式</th>
            <th>更改配送狀態</th>
        </tr>
    </thead>
    <tbody id="orderBody" class="tprodbody orderBody">
        @{ int count = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="hidden" class="custom-control-input" id="@count">
                    </td>
                    <td>@item.OrderId</td>
                    <td>@item.member.MemberName</td>
                    <td>@Convert.ToDateTime(item.OrderDate).ToString("yyyy/MM/dd HH:mm:ss")</td>
                    @{
                        //string date = (item.ShippedDate).ToString();
                        //date = date.Split(" ")[0];
                        if (item.ShippedDate != null)
                        {
                            <td>@Convert.ToDateTime(item.ShippedDate).ToString("yyyy/MM/dd HH:mm:ss")</td>
                        }
                        else
                        {
                            <td>尚未出貨</td>
                        }
                    }
                    <td>@item.status.StatusName</td>
                    @{
                        if (item.coupon.CouponId == 0)
                        {
                            <td>無使用酷碰券</td>
                        }
                        else
                        {
                            <td>
                                酷碰 ID: @item.coupon.CouponId
                                <br />
                                @item.coupon.CouponName
                            </td>
                        }
                    }

                    <td>
                        NT$ @item.總價
                        <button style="float:right;" type="button" class="btn btn-primary btnDetail" data-toggle="modal" data-target="#detailModal">明細</button>
                        <input type="hidden" class="oid" id="oid" value="@item.OrderId" />
                    </td>
                    <td>@item.ShippedTo</td>
                    <td>@item.paymethod.Method</td>
                    <td>
                        @{
                            if (item.StatusId == 4)
                            {
                                <button type="button" id="btnShipped" class="btn btn-primary btnShipped">確認出貨</button>
                                <input type="hidden" class="oid" id="oid" value="@item.OrderId" />
                            }
                            else if (item.StatusId == 5)
                            {
                                <button type="button" id="btnDelivered" class="btn btn-success btnDelivered">確認送達</button>
                                <input type="hidden" class="oid" id="oid" value="@item.OrderId" />
                            }
                            else
                            {
                                <label style="padding:7px; border-radius:5px; background-color:lightgray;">已完成訂單</label>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
