@model List<鮮蔬果季_前台.ViewModels.OrderListViewModel>

<table class="table table-striped">
    <thead>
        <tr style="background-color:#D2E9FF">
            <th></th>
            <th style="font-size:17px; font-weight:bold; color:black;">商品</th>
            <th></th>
            <th style="font-size:17px; font-weight:bold; color:black;">供應商</th>
            <th style="font-size:17px; font-weight:bold; color:black;">價格</th>
            <th style="font-size:17px; font-weight:bold; color:black;">數量</th>
            <th style="font-size:17px; font-weight:bold; color:black;">小計</th>
        </tr>
    </thead>
    <tbody class="addod">
        @{
            int count = 0;
            int 商品價乘數量 = 0;
            int 總價 = 0;
            int 訂單ID = 0;
            foreach (var item in Model)
            {
                count++;
                商品價乘數量 = item.product.ProductUnitPrice * item.odetail.UnitsPurchased;
                總價 += 商品價乘數量;
                訂單ID = item.odetail.OrderId;
                <tr>
                    <td>
                        @count
                    </td>
                    <td class="thumbnail-img">
                        <a href="#">
                            <img class="img-fluid" src="~/images/商品照/@item.photoBank.PhotoPath" alt="" />
                        </a>
                    </td>
                    <td class="name-pr" style="font-size:17px; color:black;">
                        <a>
                            @item.product.ProductName
                        </a>
                    </td>
                    <td class="sup-pr" style="font-size:17px; color:black;">
                        <a>
                            @item.supplier.SupplierName
                        </a>
                    </td>
                    <td class="price-pr" style="font-size:17px; color:black;">
                        <p id="price-pr">NT$ @item.product.ProductUnitPrice</p>
                    </td>
                    <td class="quantity-box" style="font-size:17px; color:black;">
                        <p id="units">
                            @item.odetail.UnitsPurchased
                        </p>
                    </td>
                    <td class="total-pr" style="font-size:17px; color:black;">
                        <p id="total-pr">NT$ @商品價乘數量</p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div id="divtotal" class="col-lg-6 col-sm-6">
    <div class="order-box">
        <div class="title-left" style="padding-top:20px">
            <h4>
                訂單
                <span id="odnum">#@訂單ID</span>
            </h4>
        </div>
        <div class="d-flex">
            <h5>商品金額</h5>
            <div class="ml-auto h5"> NT$ @總價 </div>
        </div>
        <div class="d-flex">
            <h5>酷碰折扣</h5>
            <div class="ml-auto h5"> -NT$ @ViewBag.cpd </div>
        </div>
        <hr>
        <div class="d-flex gr-total">
            <h4>訂單總金額</h4>
            <div class="ml-auto h4"> NT$ @(總價-ViewBag.cpd)</div>
        </div>
        <hr>
    </div>
</div>
