
@{
    ViewData["Title"] = "Login";

}
@section Scripts{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    @*<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">*@

    <style>

        /*#標題text {
            margin-top: 2vh;
            font-family: 'Noto Sans TC', sans-serif;
        }*/

        body {
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            height: 100vh;
        }

        #login .container #login-row #login-column #login-box {
            margin-top: 6vh;
            margin-bottom: 6vh;
            max-width: 600px;
            height: 350px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
            border-radius: 10px;
        }

            #login .container #login-row #login-column #login-box #login-form {
                padding: 20px;
            }

                #login .container #login-row #login-column #login-box #login-form #register-link {
                    margin-top: -93px;
                }
    </style>
    <script>

        $("#remember-me").change(async function (e) {
            e.preventDefault();
            var userid = $("#username").val()
            var password = $("#password").val();
            var check = $("#remember-me").prop("checked");
            var send = await fetch("@Url.Action("SaveAcount","Login")?userid=" + userid + "&password=" + password + "&check=" + check)
            var data = await send.text()
            if (data == 0) {
                console.log("已經回傳0了")
            }
        })

        $("#login-form").submit(async function () {
            var xhr = new XMLHttpRequest();
            var ExistuserName = $("#username").val();
            var ExistuserPassword = $("#password").val();
            xhr.open("get", "@Url.Action("ExistPassword","Login")?ExistuserName=" + ExistuserName + "&ExistuserPassword=" + ExistuserPassword)
            xhr.send()
            xhr.addEventListener("load", () => {
                const data = xhr.responseText
                if (data == 1) {
                    alert("密碼錯誤")
                    return false
                }
                else if (data == 0) {
                    alert("帳號或密碼不可為空欄")
                    return false
                }
                else if (data == 3) {
                    alert("帳號不存在")
                    return false
                }
            })
        })
        $("#submit").click(async function () {
                if ($("#remember-me").is(":checked")) {
                    var send = await fetch("@Url.Action("Login", "Login")")
                }
        })

        $("#Demo").click(function () {
            console.log(@ViewBag.Checked)
            $("#username").val("Wang0125132@gmail.com");
            $("#password").val("Xyz1234");
        });
        $("#admin").click(function () {
        console.log("ok")
        $("#username").val("freshveg132@gmail.com");
        $("#password").val("a12345");
        });
        $("#Demo2").click(function () {
        $("#username").val("b011@gmail.com");
        $("#password").val("a12345");
        })
    </script>

    @*第三方登入測試區開始*@
    @*<script>
            /*登入抓取資訊*/
            var id = null;
            var email = null;

             function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.


                var profile = googleUser.getBasicProfile()
                //    target = document.getElementById("GOOGLE_STATUS_1"),
                //    html = "";

                //html += "ID: " + profile.getId() + "<br/>";
                //html += "會員暱稱： " + profile.getName() + "<br/>";
                //html += "會員頭像：" + profile.getImageUrl() + "<br/>";
                //html += "會員 email：" + profile.getEmail() + "<br/>";
                //target.innerHTML = html;

                id = profile.getId();
                email = profile.getEmail()
                        /*跳轉畫面*/
                 test(id,email)

             }

                        async function test(id,email) {
                            let response = await fetch('@Url.Content("~/Login/check3rd?trdid=")'+ id +"&email="+email);
                        let userCheck = await response.text();
                        console.log(userCheck)
                        if (userCheck == 1) {
                            var evt = document.createEvent("HTMLEvents");
                            // 初始化
                            evt.initEvent("click", false, false);
                            document.querySelector(".tobs").dispatchEvent(evt)
                        }
                        else if (userCheck == 0) {
                            return false;
                        }
        }
        $(document).on("click", ".g-signin2", function () {

        })




            /*登出*/
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                });
            }

        </script>*@
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="436348574559-4s2b3mvom0gnfno3007rgda1qiveegkv.apps.googleusercontent.com" />
    @*第三方登入測試區結束*@
}


<!-- Start All Title Box -->
<div class="clickmsgbox"></div>
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>登入</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index">首頁</a>
                    </li>
                    <li class="breadcrumb-item active">登入</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            @*第三方登入狀態開始*@
            @*目前狀態*@
            @*<span id="GOOGLE_STATUS_1"></span>*@
            @*第三方登入狀態結束*@
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12" style="background-color: #FFF9E9;  padding-bottom:150px;">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center" style="color: #8b4513; font-family: 'Noto Sans TC', sans-serif;">會員登入</h3>
                        <div class="form-group">
                            <label for="username" class="" style="color: #8b4513; font-family: 'Noto Sans TC', sans-serif;">電子郵件帳號:</label>
                            <br>
                            <input type="text" name="username" id="username" class="form-control" value="@ViewBag.UserId">
                        </div>
                        <div class="form-group">
                            <label for="password" class="" style="color: #8b4513; font-family: 'Noto Sans TC', sans-serif;">密碼:</label>
                            <br>
                            <input type="password" name="password" id="password" class="form-control" value="@ViewBag.Password">
                        </div>
                        <div class="form-group">
                            <label for="remember-me" class="up" style="color: #8b4513; font-family: 'Noto Sans TC', sans-serif;">
                                <span>記住我的帳號、密碼</span>
                                <span>
                                    @if (ViewBag.Checked =="1")
                                    {
                                        <input id="remember-me" name="remember-me" type="checkbox" value="1" checked="checked" />
                                    }
                                    else 
                                    {
                                        <input id="remember-me" name="remember-me" type="checkbox" value="0"/>
                                    }
                            </span>
                        </label>
                        <br>
                        <div class="submit-button">
                            <button id="submit" type="submit" name="submit" class="btn hvr-hover ">登入</button>
                            <a style="color:white; padding:9px 16px 9px 16px;" class="btn hvr-hover" id="Demo">D1</a>
                            <a style="color:white; padding:9px 16px 9px 16px;" class="btn hvr-hover" id="Demo2">D2</a>
                            <a style="color:white; padding:9px 16px 9px 16px;" class="btn hvr-hover" id="admin">admin</a>
                        </div>
                    </div>
                    <div id="register-link" class="text-right" style="">
                        <a asp-area="" asp-controller="Login" asp-action="forgetPassword" name="forgetPassword" class="forgetPassword" style="color: #8b4513; font-family: 'Noto Sans TC', sans-serif; ">忘記密碼?</a>
                        <br />
                        <a asp-area="" asp-controller="Login" asp-action="Register" class="btn hvr-hover" style="margin-top:4.5px ;color:white; padding:10px;">尚未註冊?</a>
                    </div>
                    <div class="text-right" style="position:relative">
                        @*GOOGLE第三方登入測試開始*@
                        <div class="g-signin2" data-onsuccess="onSignIn" style="position:absolute;right:96px;bottom:32px;"></div>
                        <input class="tobs" type="hidden" onclick="window.location.href='@Url.Content("~/Backstage/Home")'" />
                        @*GOOGLE第三方登入測試結束*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>




