@model 鮮蔬果季_前台.ViewModels.MemberViewModel
@{
    ViewData["Title"] = "Register";
}
@section Scripts{
    <script>
        $("#email").blur(function () {
            console.log(this)
            var Useremail = $("#email").val();
            console.log(Useremail)
            const xhr = new XMLHttpRequest()
            xhr.open("get", "@Url.Action("AccountVerification", "Login")?email=" + Useremail)
            xhr.send()
            xhr.addEventListener("load", () => {
                //存放並顯示回傳的文字
                const data = xhr.responseText
                console.log(data)
                $("#emailerr").html(data)
            })
        })
        $("#Password").blur(function () {
            var UserPassword = $("#Password").val();
            const xhr = new XMLHttpRequest()
            xhr.open("get", "@Url.Action("PasswordRegex","Login")?Password=" + UserPassword)
            xhr.send()
            xhr.addEventListener("load", () => {
                const data = xhr.responseText
                $("#Passworderr").html(data)
            })
        })
        $("#MemberName").blur(function () {
            var UserName = $("#MemberName").val();
            const xhr = new XMLHttpRequest()
            xhr.open("get", "@Url.Action("MemberNameRegex","Login")?MemberName=" + UserName)
            xhr.send()
            xhr.addEventListener("load", () => {
                const data = xhr.responseText
                $("#MemberNameerr").html(data)
            })
        })
        $("#Mobile").blur(function () {
            var UserMobile = $("#Mobile").val();
            const xhr = new XMLHttpRequest()
            xhr.open("get", "@Url.Action("MobileRegex","Login")?Mobile=" + UserMobile)
            xhr.send()
            xhr.addEventListener("load", () => {
                const data = xhr.responseText
                $("#Mobileerr").html(data)
            })
        })
        $("#birthdate").blur(function () {
            var UserBD = $("#birthdate").val();
            const xhr = new XMLHttpRequest();
            xhr.open("get", "@Url.Action("BirthDateRegex","Login")?birthdate=" + UserBD)
            xhr.send();
            xhr.addEventListener("load", () => {
                const data = xhr.responseText
                $("#BirthDateerr").html(data)
            })
        })
        $("#contactForm").submit(function () {
            //我們的規則驗證錯誤時要加上這條class，submit時才會送不出去
            if ($("#emailerr").html() == "帳號已被註冊" || $("#emailerr").html() == "帳號格式不正確" || $("#Passworderr").html() == "密碼格式不正確" || $("#MemberNameerr").html() == "字數不能小於兩字" || $("#Mobileerr").html() == "號碼長度不能小於10碼" || $("#Mobileerr").html() == "請輸入數字" || $("#BirthDateerr").html()=="出生日期大於今日")
            {
                var msgClasses = "h3 text-center text-danger";
                $("#msgSubmit").addClass(msgClasses).text("尚未填寫完資料，請確認。");
                return false;
            }
        })
    </script>
}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>註冊系統</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Contact Us  -->
<div class="contact-box-main">
    <div class="container">
        <div class="row" style="margin-right:0px;">
            <div class="col-lg-8 col-sm-7">
                <div class="contact-form-right">
                    <h2>會員註冊系統</h2>
                    <p>請輸入以下資料，以利完成會員註冊。</p>
                    <form id="contactForm" method="post" enctype="application/x-www-form-urlencoded">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <input asp-for="UserId" type="text" placeholder="您的電子郵件帳號" id="email" class="form-control" name="UserId" required data-error="請輸入您的電子郵件">
                                    <div class="help-block with-errors">
                                        @*錯誤訊息的ul要先自己建出來 並且li需要給個id(emailerr)*@
                                        <ul class="list-unstyled"><li id="emailerr"></li></ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Password" type="password" class="form-control" id="Password" name="Password" placeholder="您的密碼" required data-error="請輸入您的密碼">
                                    <div class="help-block with-errors">
                                        <ul class="list-unstyled"><li id="Passworderr"></li></ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="MemberName" type="text" class="form-control" id="MemberName" name="MemberName" placeholder="您的姓名" required data-error="請輸入您的姓名">
                                    <div class="help-block with-errors">
                                        <ul class="list-unstyled"><li id="MemberNameerr"></li></ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select asp-for="Gender" class="form-control" id="gender" name="gender" placeholder="您的生理性別" required data-error="請選擇您的生理性別">
                                        <option></option>
                                        <option>男</option>
                                        <option>女</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="BirthDate" type="date" class="form-control" id="birthdate" name="BirthDate" placeholder="您的生日" required data-error="請輸入您的生日">
                                    <div class="help-block with-errors">
                                        <ul class="list-unstyled"><li id="BirthDateerr"></li></ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select asp-for="city" class="form-control" id="state" name="city" placeholder="您的現居縣市" required data-error="請選擇您的縣市">
                                        <option></option>
                                        <option>台北市</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="MemberAddress" type="text" class="form-control" id="Address" name="MemberAddress" placeholder="您的現居地址" required data-error="請輸入您的住址">
                                    <div class="help-block with-errors">
                                        <ul class="list-unstyled"><li id="MemberAddresserr"></li></ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Mobile" type="text" class="form-control" id="Mobile" name="Mobile" placeholder="您的連絡電話" required data-error="請輸入您的聯絡電話">
                                    <div class="help-block with-errors">
                                        <ul class="list-unstyled"><li id="Mobileerr"></li></ul>
                                    </div>
                                </div>
                                <div class="submit-button text-left">
                                    <button class="btn hvr-hover" id="submit" type="submit">註冊會員</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 " style="padding-top:130px; margin-left:-200px ">
                <div class="contact-info-left">
                    <h2>會員資料註冊範例</h2>
                    <p>請依照下列範例輸入資料</p><!--電子郵件,密碼,姓名,性別,生日,地址,電話-->
                    <ul>
                        <li>
                            <p><i class="fas fa-envelope "></i>電子郵件 : abc123@gmail.com<br /> </p>
                        </li>
                        <li>
                            <p><i class="fas fa-passport"></i>密碼格式 : abc123 (英數混合且6字以上)<br /></p>
                        </li>
                        <li>
                            <p><i class="fas fa-user-tag"></i>姓名 : 王小明 (含姓氏大於2字以上)<br /></p>
                        </li>
                        <li>
                            <p><i class="fas fa-genderless"></i>性別 : 男性 or 女性<br /></p>
                        </li>
                        <li>
                            <p><i class="fas fa-birthday-cake"></i>生日日期格式 : YYYY/MM/DD<br /></p>
                        </li>
                        <li>
                            <p><i class="fas fa-address-book"></i> 地址 : 台北市大安區信義路三段153號<br /></p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone-volume"></i>電話 : 0912345678 (共十碼)<br /></p>
                        </li>
                    </ul>
                </div>
                <div class="submit-button text-right">
                    <a asp-area="" asp-controller="Login" asp-action="Login" class="btn hvr-hover" style="color:white; margin-top:73px; padding:10px;">已經註冊?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Cart -->
