@model List<鮮蔬果季_前台.ViewModels.CouponsListViewModel>

@{
    ViewData["Title"] = "List";
}

@section Styles{
    <style>
        body {
            background: #dedede;
        }

        .coupon .kanan {
            border-left: 1px dashed #ddd;
            width: 40% !important;
            position: relative;
        }

            .coupon .kanan .info::after, .coupon .kanan .info::before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background: #dedede;
                border-radius: 100%;
            }

            .coupon .kanan .info::before {
                top: -10px;
                left: -10px;
            }

            .coupon .kanan .info::after {
                bottom: -10px;
                left: -10px;
            }

        .coupon .time {
            font-size: 1.6rem;
        }

        .date {
            font-size: 6px;
        }

        .bg-white {
            height: 140px;
        }

        #thtitle {
            text-align: center;
        }

        .p-3 {
            padding: 1.5rem !important;
        }
        /*        #QuantityIssued {
            float: right;
            position: absolute;
            bottom:23px;
            right:140px;
            height:17px;
        }*/

        /*navbar的CSS*/

        nav > .nav.nav-tabs {
            border: none;
            color: #fff;
            background: #272e38;
            border-radius: 0;
        }

        nav > div a.nav-item.nav-link,
        nav > div a.nav-item.nav-link.active {
            border: none;
            padding: 18px 25px;
            color: #fff;
            background: #5e5e3d;
            border-radius: 0;
        }

            nav > div a.nav-item.nav-link.active:after {
                content: "";
                position: relative;
                bottom: -60px;
                left: -10%;
                border: 15px solid transparent;
                border-top-color: #e74c3c;
            }

        .tab-content {
            background: #fdfdfd;
            line-height: 25px;
            border: 1px solid #ddd;
            border-top: 5px solid #e74c3c;
            border-bottom: 5px solid #e74c3c;
            padding: 30px 25px;
        }

        nav > div a.nav-item.nav-link:hover,
        nav > div a.nav-item.nav-link:focus {
            border: none;
            background: #e74c3c;
            color: #fff;
            border-radius: 0;
            transition: background 0.20s linear;
        }

        .nav-status a {
            margin: 0;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
        }
        .couponsbar{
            width: 666px;
            height: 59px;
            padding-left: 15px;
        }
        .nav-status {
            width: 666px;
            height: 59px;
        }
        .wishlist-box-main {
            padding-top:0px;
        }
        #rowfix{
            padding-top:70px;
            width:1110px;
        }
    </style>
}
@section Scripts{
    <script>
    </script>
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>優惠券</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="#" asp-action="List">會員中心</a></li>
                    <li class="breadcrumb-item active">優惠券</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Navbar  -->
<div style="padding-bottom:20px" class="container">
    <div class="row" id="rowfix">
        <div class="col-xs-12 couponsbar" style="width:60%">
            <nav class="nav-status">
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" style="width:25%" id="allcoupons" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">全部優惠券</a>
                    <a class="nav-item nav-link" style="width:25%" id="shipped-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">尚未領取</a>
                    <a class="nav-item nav-link" style="width:25%" id="notYetShipped-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">已領取</a>
                    <a class="nav-item nav-link" style="width:25%" id="deliveredNoRecipient-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">已過期</a>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar  -->
<!-- Start All Coupons List -->
<div class="wishlist-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th id="thtitle">優惠券列表</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="container my-5">
                        <div class="row">

                            @foreach (var item in Model)
                            {
                                <div class="col-sm-6">
                                    <div class="coupon bg-white rounded mb-3 d-flex justify-content-between">
                                        <div class="kiri p-3">
                                            <div class="icon-container ">
                                                <div class="icon-container_box">
                                                    <img src="~/images/購物金.png" width="85" alt="totoprayogo.com" class="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tengah py-3 d-flex w-100 justify-content-start">
                                            <div>
                                                @{
                                                    if (item.coupon.CouponEndDate < DateTime.Now)
                                                    {
                                                        <span class="badge badge-success">已結束</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-warning">活動中</span>
                                                        if (item.couponDetail.CouponId == item.coupon.CouponId)
                                                        {
                                                            <span class="badge badge-primary">共<span id="numcount">@item.coupon.CouponQuantityIssued</span>張</span>
                                                            <span class="badge badge-info">剩餘<span id="numcount">@item.couponDetail.CouponQuantity</span>張</span>

                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-primary">共<span id="numcount">@item.coupon.CouponQuantityIssued</span>張</span>

                                                            <span style="background-color:indianred" class="badge badge-info">尚未領取</span>

                                                        }
                                                    }
                                                }
                                                <h3 class="lead">@Html.DisplayFor(modelItem => item.coupon.CouponName)</h3>
                                                @{
                                                    if (item.coupon.DiscountCondition == 0)
                                                    {
                                                        <p class="text-muted mb-0">全館消費不限金額 現折NT $@item.coupon.CouponDiscount</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-muted mb-0">消費滿NT $@item.coupon.DiscountCondition 現折NT $@item.coupon.CouponDiscount</p>

                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="kanan">
                                            <div class="info m-3 d-flex align-items-center">
                                                <div class="w-100">
                                                    <div class="block">
                                                        <p>
                                                            @{
                                                                string strdate = (item.coupon.CouponStartDate).ToString();
                                                                string enddate = (item.coupon.CouponEndDate).ToString();
                                                                string[] chgstrdate = strdate.Split(" ");
                                                                string[] chgenddate = enddate.Split(" ");
                                                            }
                                                            <span class="date">@chgstrdate[0] </span>
                                                        </p>
                                                        <span class="date">至</span>
                                                        <p>
                                                            <span class="date">@chgenddate[0]</span>
                                                        </p>
                                                    </div>
                                                    @{
                                                        if (item.coupon.CouponEndDate < DateTime.Now)
                                                        {
                                                            <a class="btn btn-sm btn-outline-info btn-block disabled">
                                                                已結束
                                                            </a>
                                                        }
                                                        else if (item.couponDetail.CouponQuantity >= 0 && item.couponDetail.CouponId != 0)
                                                        {
                                                            <a style="background-color:#b0b435;color:white;" class="btn btn-sm btn-outline-light btn-block disabled">
                                                                已領取
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a asp-area="" asp-controller="Coupons" asp-action="AddCoupons" asp-route-id="@item.coupon.CouponId" class="btn btn-sm btn-outline-danger btn-block">
                                                                領取
                                                            </a>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End All Coupons List -->
