@model List<鮮蔬果季_前台.ViewModels.CouponsListViewModel>

@foreach (var item in Model)
{
    <div class="col-sm-6">
        <div class="coupon bg-white rounded mb-3 d-flex justify-content-between">
            <div class="kiri p-3">
                <div class="icon-container ">
                    <div class="icon-container_box">
                        <img src="~/images/購物金.png" width="85" alt="totoprayogo.com" class="" />
                    </div>
                </div>
            </div>
            <div class="tengah py-3 d-flex w-100 justify-content-start">
                <div>
                    @{
                        if (item.coupon.CouponEndDate < DateTime.Now)
                        {
                            <span class="badge badge-success">已結束</span>
                        }
                        else
                        {
                            <span class="badge badge-warning">活動中</span>
                            if (item.couponDetail.CouponId == item.coupon.CouponId)
                            {
                                <span class="badge badge-primary">共<span id="numcount">@item.coupon.CouponQuantityIssued</span>張</span>
                                <span class="badge badge-info">剩餘<span id="numcount">@item.couponDetail.CouponQuantity</span>張</span>

                            }
                            else
                            {
                                <span class="badge badge-primary">共<span id="numcount">@item.coupon.CouponQuantityIssued</span>張</span>

                                <span style="background-color:indianred" class="badge badge-info">尚未領取</span>

                            }
                        }
                    }
                    <h3 class="lead">@Html.DisplayFor(modelItem => item.coupon.CouponName)</h3>
                    @{
                        if (item.coupon.DiscountCondition == 0)
                        {
                            <p class="text-muted mb-0">全館消費不限金額 現折NT $@item.coupon.CouponDiscount</p>
                        }
                        else
                        {
                            <p class="text-muted mb-0">消費滿NT $@item.coupon.DiscountCondition 現折NT $@item.coupon.CouponDiscount</p>

                        }
                    }
                </div>
            </div>
            <div class="kanan">
                <div class="info m-3 d-flex align-items-center">
                    <div class="w-100">
                        <div class="block">
                            <p>
                                @{
                                    string strdate = (item.coupon.CouponStartDate).ToString();
                                    string enddate = (item.coupon.CouponEndDate).ToString();
                                    string[] chgstrdate = strdate.Split(" ");
                                    string[] chgenddate = enddate.Split(" ");
                                }
                                <span class="date">@chgstrdate[0] </span>
                            </p>
                            <span class="date">至</span>
                            <p>
                                <span class="date">@chgenddate[0]</span>
                            </p>
                        </div>
                        @{
                            if (item.coupon.CouponEndDate < DateTime.Now)
                            {
                                <a class="btn btn-sm btn-outline-info btn-block disabled">
                                    已結束
                                </a>
                            }
                            else if (item.couponDetail.CouponQuantity >= 0 && item.couponDetail.CouponId != 0)
                            {
                                <a style="background-color:#b0b435;color:white;" class="btn btn-sm btn-outline-light btn-block disabled">
                                    已領取
                                </a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Coupons" asp-action="AddCoupons" asp-route-id="@item.coupon.CouponId" class="btn btn-sm btn-outline-danger btn-block">
                                    領取
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}