@model List<鮮蔬果季_前台.ViewModels.CouponsListViewModel>

@{
    ViewData["Title"] = "List";
}

@section Styles{
    <style>
        body {
            background: #dedede;
        }

        .coupon .kanan {
            border-left: 1px dashed #ddd;
            width: 55% !important;
            position: relative;
        }

            .coupon .kanan .info::after, .coupon .kanan .info::before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background: #dedede;
                border-radius: 100%;
            }

            .coupon .kanan .info::before {
                top: -10px;
                left: -10px;
            }

            .coupon .kanan .info::after {
                bottom: -10px;
                left: -10px;
            }

        .coupon .time {
            font-size: 1.6rem;
        }

        .date {
            font-size: 6px;
        }

        .bg-white {
            height: 140px;
        }

        #thtitle {
            text-align: center;
        }

        .p-3 {
            padding: 1.5rem !important;
        }
        /*        #QuantityIssued {
            float: right;
            position: absolute;
            bottom:23px;
            right:140px;
            height:17px;
        }*/

        /*navbar的CSS*/

        nav > .nav.nav-tabs {
            border: none;
            color: #fff;
            background: #272e38;
            border-radius: 0;
        }

        nav > div a.nav-item.nav-link,
        nav > div a.nav-item.nav-link.active {
            border: none;
            padding: 18px 25px;
            color: #fff;
            background: #5e5e3d;
            border-radius: 0;
        }

            nav > div a.nav-item.nav-link.active:after {
                content: "";
                position: relative;
                bottom: -60px;
                left: -10%;
                border: 15px solid transparent;
                border-top-color: #e74c3c;
            }

        .tab-content {
            background: #fdfdfd;
            line-height: 25px;
            border: 1px solid #ddd;
            border-top: 5px solid #e74c3c;
            border-bottom: 5px solid #e74c3c;
            padding: 30px 25px;
        }

        nav > div a.nav-item.nav-link:hover,
        nav > div a.nav-item.nav-link:focus {
            border: none;
            background: #e74c3c;
            color: #fff;
            border-radius: 0;
            transition: background 0.20s linear;
        }

        .nav-status a {
            margin: 0;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
        }

        .couponsbar {
            width: 666px;
            height: 59px;
            padding-left: 15px;
        }

        .nav-status {
            width: 666px;
            height: 59px;
        }

        .wishlist-box-main {
            padding-top: 0px;
        }

        #rowfix {
            padding-top: 70px;
            width: 1110px;
        }
        #nav-tab a {
            border-right: #b0b435 solid;
            width: 25%;
            cursor: pointer;
        }
        #addmsgbox {
            background-color:#FFE6FF;
            z-index: 100;
            height: 70px;
            width: 150px;
            position: fixed;
            top: 15%;
            left: 50%;
            margin-top: -35px;
            margin-left: -75px;
            align-items:center;
            display:flex;
            padding-top:70px;
            border-radius:30px;
        }
        #addmsgText {
            height: 100px;
            width: 200px;
            text-align: center;
            color:forestgreen;
            font-weight:bold;
        }
        .spldis {
            width: 70px;
            position: absolute;
            right: 62px;
            top: -46px;
            z-index: 10;
        }
        .disdis {
            padding-bottom: 30px;
        }
        .last {
            position: absolute;
            right: 22px;
            top: -22px;
            background-color: ghostwhite;
            border-radius: 16px;
            width: 70px;
            text-align: right;
            padding-right: 12px;
        }
        .lastdate {
            color: red;
            font-weight: bold;
            font-size: 22px;
            text-shadow: 0 0 10px #FFFFFF, 0 0 10px #FFFFFF;
        }
        .lastfont {
            font-weight:bold;
            color:dimgrey;
            text-shadow: 0 0 0.2em #FFFFFF, 0 0 0.2em #FFFFFF;
        }
        .last2 {
            position: absolute;
            right: 6px;
            top: -22px;
            background-color: ghostwhite;
            border-radius: 16px;
            width: 85px;
            text-align: right;
            padding-right: 12px;
        }
        .last3 {
            position: absolute;
            right: 22px;
            top: -22px;
            background-color: ghostwhite;
            border-radius: 16px;
            width: 70px;
            text-align: right;
            padding-right: 12px;
        }
        .container {
            padding-left: 3%;
            padding-right: 3%;
        }
        .lead {
            padding-top: 10px;
            text-shadow: 0.1em 0.1em 0.2em #c7b9bc;
            font-weight:normal;
        }
        .block{
            padding-left:5%;
        }
    </style>
}
@section Scripts{
    <script>
        $('.alert-autocloseable-warning').hide();
        $(document).on("click", "#haventcoupons", function () {
            $("#addcparea").fadeOut(300);
            $('#addcparea').load("@Url.Content("~/Coupons/PartialHavent")", function () {
                $("#addcparea").fadeIn(300);
            })
        })


        $(document).on("click", "#allcoupons", function () {
            $("#addcparea").fadeOut(300);
            $('#addcparea').load("@Url.Content("~/Coupons/PartialAll")", function () {
                $("#addcparea").fadeIn(300);
            })
        })


        $(document).on("click", "#couponsexpired", function () {
            $("#addcparea").fadeOut(300);
            $('#addcparea').load("@Url.Content("~/Coupons/partialexpired")", function () {
                $("#addcparea").fadeIn(300);
            })
        })

        $(document).on("click", "#hadcoupons", function () {
            $("#addcparea").fadeOut(300);
            $('#addcparea').load("@Url.Content("~/Coupons/partialHad")", function () {
                $("#addcparea").fadeIn(300);
            })
        })

        //整頁按的連結
        $(document).on("click", ".addcpbtn", function () {
            var value = $(this).find(".findcid").val();
            //$(this).parent().parent().parent().parent().fadeOut(300);
            //$(this).parent().parent().parent().parent().attr("hidden", true);
            //console.log(value)
            $(this).parent().parent().parent().parent().fadeOut(300);
            //$(this).parent().parent().parent().parent().attr("hidden", true);
            $('#addcparea').load("@Url.Content("~/Coupons/partialAdd/")" + value);
            $(this).parent().parent().parent().parent().fadeOut(500);
            $(this).parent().parent().parent().parent().attr("hidden", true);
            $('.autoclosable-btn-warning').prop("disabled", true);
            $('.alert-autocloseable-warning').show();
            $('.alert-autocloseable-warning').delay(3000).fadeOut("slow", function () {
                // Animation complete.
                $('.autoclosable-btn-warning').prop("disabled", false);
            });
        })
        //篩選頁的連結
        $(document).on("click", ".addcpbtn2", function () {
            //$(this).parent().parent().parent().parent().fadeOut(300);
            //$(this).parent().parent().parent().parent().attr("hidden", true);
            var value = $(this).find(".findcid").val();
            //console.log(value)
            $(this).parent().parent().parent().parent().fadeOut(300);
            //$(this).parent().parent().parent().parent().attr("hidden", true);
            $('#addcparea').load("@Url.Content("~/Coupons/partialAdd_Havent/")" + value);
            $('.autoclosable-btn-warning').prop("disabled", true);
            $('.alert-autocloseable-warning').show();
            $('.alert-autocloseable-warning').delay(3000).fadeOut("slow", function () {
                // Animation complete.
                $('.autoclosable-btn-warning').prop("disabled", false);
            });
        })

        //$(document).on("click", "#allcoupons", function () {
        //    $("#addcparea").fadeOut(0);
        //    $("#addcparea").fadeIn(300);
        //})
        //$(document).on("click", "#haventcoupons", function () {
        //    $("#addcparea").fadeOut(0);
        //    $("#addcparea").fadeIn(300);
        //})
        //$(document).on("click", "#hadcoupons", function () {
        //    $("#addcparea").fadeOut(0);
        //    $("#addcparea").fadeIn(300);
        //})
        //$(document).on("click", "#couponsexpired", function () {
        //    $("#addcparea").fadeOut(0);
        //    $("#addcparea").fadeIn(300);
        //})



    </script>
}

<!-- Start All Title Box -->
<div class="clickmsgbox"></div>
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>優惠券</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">首頁</a></li>
                    <li class="breadcrumb-item active">優惠券</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Navbar  -->
<div style="padding-bottom:20px" class="container">
    <div class="row" id="rowfix">
        <div class="col-xs-12 couponsbar" style="width:60%">
            <nav class="nav-status">
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" style="width:25%" id="allcoupons" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">全部優惠券</a>
                    <a class="nav-item nav-link" style="width:25%" id="haventcoupons" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false">尚未領取</a>
                    <a class="nav-item nav-link" style="width:25%" id="hadcoupons" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">已領取</a>
                    <a class="nav-item nav-link" style="width: 25%; border-right:#5e5e3d" id="couponsexpired" data-toggle="tab" role="tab" aria-controls="nav-about" aria-selected="false">已過期</a>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="alert-autocloseable-warning" id="addmsgbox">
    <div class="alert-autocloseable-warning" id="addmsgText">
        新增優惠券成功！
    </div>
</div>
<!-- End Navbar  -->
<!-- Start All Coupons List -->
<div class="wishlist-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th id="thtitle">優惠券列表</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="container my-5">
                        <div class="row" id="addcparea">
                            @foreach (var item in Model)
                            {
                                <div class="col-sm-6 disdis">
                                    <div class="coupon bg-white rounded mb-3 d-flex justify-content-between">
                                        @{
                                            string dd = (item.CouponEndDate).ToString("dd");
                                            string ndd = (DateTime.Now).ToString("dd");
                                            int ddd = int.Parse(dd);
                                            int nddd = int.Parse(ndd);
                                            int lastdate = ddd - nddd;
                                            string HH = (item.CouponEndDate).ToString("HH");
                                            string nHH = (DateTime.Now).ToString("HH");
                                            int HHH = int.Parse(HH);
                                            int nHHH = int.Parse(nHH);
                                            int lasthour = HHH - nHHH;
                                            string mm = (item.CouponEndDate).ToString("mm");
                                            string nmm = (DateTime.Now).ToString("mm");
                                            int mmm = int.Parse(mm);
                                            int nmmm = int.Parse(nmm);
                                            int lastmin = mmm - nmmm;
                                            if (DateTime.Now.AddDays(+7) >= item.CouponEndDate && item.CouponEndDate >= DateTime.Now && lastdate != 0)
                                            {
                                                <img class="spldis" src="~/images/clock-unscreen.gif" />
                                                <div class="last">
                                                    <span class="lastfont">剩</span><span class="lastdate">@lastdate</span><span class="lastfont">天</span>
                                                </div>
                                            }
                                            else if (DateTime.Now.AddDays(+7) >= item.CouponEndDate && item.CouponEndDate >= DateTime.Now && lastdate == 0 && lasthour != 0)
                                            {
                                                <img class="spldis" src="~/images/clock-unscreen.gif" />
                                                <div class="last2">
                                                    <span class="lastfont">剩</span><span class="lastdate">@lasthour</span><span class="lastfont">小時</span>
                                                </div>
                                            }
                                            else if (DateTime.Now.AddDays(+7) >= item.CouponEndDate && item.CouponEndDate >= DateTime.Now && lastdate == 0 && lasthour == 0 && lastmin!=0)
                                            {
                                                <img class="spldis" src="~/images/clock-unscreen.gif" />
                                                <div class="last3">
                                                    <span class="lastfont">剩</span><span class="lastdate">@lastmin</span><span class="lastfont">分鐘</span>
                                                </div>
                                            }
                                        }
                                        <div class="kiri p-3">
                                            <div class="icon-container ">
                                                <div class="icon-container_box">
                                                    <img src="~/images/購物金.png" width="85" alt="totoprayogo.com" class="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tengah py-3 d-flex w-100 justify-content-start">
                                            <div>
                                                @{
                                                    if (item.coupon.CouponEndDate < DateTime.Now)
                                                    {
                                                        <span class="badge badge-success">已結束</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-warning">活動中</span>
                                                        if (item.couponDetail.CouponId == item.coupon.CouponId)
                                                        {
                                                            <span class="badge badge-primary">共<span id="numcount">@item.coupon.CouponQuantityIssued</span>張</span>
                                                            <span class="badge badge-info">剩餘<span id="numcount">@item.couponDetail.CouponQuantity</span>張</span>

                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-primary">共<span id="numcount">@item.coupon.CouponQuantityIssued</span>張</span>

                                                            <span style="background-color:indianred" class="badge badge-info">尚未領取</span>

                                                        }
                                                    }
                                                }
                                                <h3 class="lead">@Html.DisplayFor(modelItem => item.coupon.CouponName)</h3>
                                                @{
                                                    if (item.coupon.DiscountCondition == 0)
                                                    {
                                                        <p class="text-muted mb-0">全館消費不限金額 現折NT$ @item.coupon.CouponDiscount</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-muted mb-0">消費滿NT$ @item.coupon.DiscountCondition 現折NT$ @item.coupon.CouponDiscount</p>

                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="kanan">
                                            <div class="info m-3 d-flex align-items-center">
                                                <div class="w-100">
                                                    <div class="block">
                                                        <p>
                                                            @{
                                                                string strdate = (item.coupon.CouponStartDate).ToString("yyyy/MM/dd");
                                                                string enddate = (item.coupon.CouponEndDate).ToString("yyyy/MM/dd");
                                                            }
                                                            <span class="date">@strdate </span>
                                                        </p>
                                                        <span class="date">至</span>
                                                        <p>
                                                            <span class="date">@enddate</span>
                                                        </p>
                                                    </div>
                                                    @{
                                                        if (item.coupon.CouponEndDate < DateTime.Now)
                                                        {
                                                            <a class="btn btn-sm btn-outline-info btn-block disabled">
                                                                已結束
                                                            </a>
                                                        }
                                                        else if (item.couponDetail.CouponQuantity >= 0 && item.couponDetail.CouponId != 0)
                                                        {
                                                            <a style="background-color:#b0b435;color:white;" class="btn btn-sm btn-outline-light btn-block disabled">
                                                                已領取
                                                            </a>
                                                        }
                                                        else
                                                        {

                                                            <a class="btn btn-sm btn-outline-danger btn-block addcpbtn autoclosable-btn-warning">
                                                                <input type="hidden" value="@item.coupon.CouponId" class="findcid" />
                                                                領取
                                                            </a>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End All Coupons List -->
