@model List<鮮蔬果季_前台.ViewModels.ShoppingListViewModel>
@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <style>
        .slides-pagination a {
            border-radius: 10px;
            margin-right: 15px;
        }

        .img-setting {
            width: 300px;
            height: 200px;
            object-fit: cover;
        }

        .slides-navigation a {
            border-radius: 10px;
        }
    </style>
}
@section Scripts{
    <script>
                //加入購物車(改用document來解決利用ajax加載partialView後，無法觸發jquery事件 )
        $(document).on("click", ".addCart", function (e) {
            let value = $(this).find(".add").val();
            console.log(value)
            async function AddtoCart() {
                let response = await fetch("@Url.Content("~/Shopping/ListAddToCart/")" + value+"?count=1")
                let data = await response.text() //如果沒登入會回傳0
                console.log(data)
                if (data != 0) {
                    $("#cartNum").html(data)
                    $('#cart-ul').load('@Url.Content("~/Shopping/NavCart")')
                } else {
                    // 創建事件物件
                    var evt = document.createEvent("HTMLEvents");
                    // 初始化
                    evt.initEvent("click", false, false);
                    document.querySelector(".CarttoLogin").dispatchEvent(evt)
                }
            }
            AddtoCart();
        })
        //加入我的最愛
        $(document).on("click", ".addFavorite", function (e) {
            let obj = $(this);
            let value = $(this).find(".FavoritePId").val();
            console.log(obj)
            async function AddtoCart() {
                let response = await fetch("@Url.Content("~/Shopping/ListAddMyFavorite/")" + value)
                let data = await response.text() //如果沒登入會回傳0
                console.log(data)
                if (data != 0) {
                    obj.removeClass().addClass("RemoveFavorite")
                    obj.css("color", "#FF2D2D")
                    obj.find("i").removeClass().addClass("fas fa-heart")
                    obj.attr("data-original-title", "移除我的最愛")
                } else {
                    // 創建事件物件
                    var evt = document.createEvent("HTMLEvents");
                    // 初始化
                    evt.initEvent("click", false, false);
                    document.querySelector(".FavoritetoLogin").dispatchEvent(evt)
                }
            }
            AddtoCart();
        })
         //移除我的最愛
        $(document).on("click", ".RemoveFavorite", function (e) {
            let obj = $(this);
            let value = $(this).find(".FavoritePId").val();
            console.log(obj)
            async function RemovetoCart() {
                let response = await fetch("@Url.Content("~/Shopping/ListRemoveMyFavorite/")" + value)
                let data = await response.text() //如果沒登入會回傳0
                console.log(data)
                if (data != 0) {
                    obj.removeClass().addClass("addFavorite")
                    obj.css("color", "#ffffff")
                    obj.find("i").removeClass().addClass("far fa-heart")
                    obj.attr("data-original-title", "加到我的最愛")
                } else {
                    // 創建事件物件
                    var evt = document.createEvent("HTMLEvents");
                    // 初始化
                    evt.initEvent("click", false, false);
                    document.querySelector(".FavoritetoLogin").dispatchEvent(evt)
                }
            }
            RemovetoCart();
        })
    </script>
 }
<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">

        @foreach (var item in ViewBag.廣告商品列表)
        {
            if (item.productAdvertise.Tag == "首頁輪播")
            {
                <li class="text-center">
                    <img src="~/images/商品照/@item.photoBank[0].PhotoPath" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20">
                                    <strong>歡迎來到 <br> 鮮蔬果季</strong>
                                </h1>
                                <p class="m-b-40">
                                    目前當季最新鮮最好吃的
                                    <span style="color: lightgreen;font-size:22px">@item.product.ProductName</span>
                                    <br>馬上點擊下方連結進行購買
                                </p>
                                <p>
                                    <a class="btn hvr-hover" asp-area="" asp-controller="Shopping" asp-action="List">馬上購買</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/images/categories_img_01.jpg" alt="" />
                    <a class="btn hvr-hover" asp-area="" asp-controller="Shopping" asp-action="List">能量根莖類</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/images/categories_img_02.jpg" alt="" />
                    <a class="btn hvr-hover" asp-area="" asp-controller="Shopping" asp-action="List">鮮甜水果鋪</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/images/categories_img_03.jpg" alt="" />
                    <a class="btn hvr-hover" asp-area="" asp-controller="Shopping" asp-action="List">營養蔬菜街</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories -->
<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>本週推薦蔬菜水果</h1>
                    <p>馬上購買本週果季最推薦的蔬果 路過不錯過</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">查看全部</button>
                        <button data-filter=".top-featured">每週銷售TOP5</button>
                        <button data-filter=".best-seller">果季精選</button>
                        <button data-filter=".best-vegetable">蔬菜推薦</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">

            @{
                foreach (var item in ViewBag.廣告商品列表)
                {
                    if (item.productAdvertise.Tag == "蔬菜推薦")
                    {
                        <div class="col-lg-3 col-md-6 special-grid best-vegetable">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="new" style="background-color:darkorange">推薦</p>
                                    </div>
                                    @{if (@item.photoBank[0] != null)
                                        {
                                            <img src="~/images/商品照/@item.photoBank[0].PhotoPath" class="img-fluid img-setting" alt="Image">
                                        }
                                    }
                                    <div class="mask-icon">
                                        <ul>
                                            <li>
                                                <a asp-area="" asp-controller="Shopping" asp-action="ShopDetail" asp-route-id="@item.product.ProductId" data-toggle="tooltip" data-placement="right" title="查看"><i class="fas fa-eye"></i></a>
                                            </li>
                                            @{
                                                if (item.myFavorite.MyFavoriteId != 0)
                                                {
                                                    <li>
                                                        <a class="RemoveFavorite" style="cursor: pointer; color: #FF2D2D;" data-toggle="tooltip" data-placement="right" title="移除我的最愛">
                                                            <i class="fas fa-heart"></i>
                                                            <input class="FavoritePId" type="hidden" value="@item.product.ProductId" />
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a class="addFavorite" style="cursor: pointer; color: #ffffff;" data-toggle="tooltip" data-placement="right" title="加入我的最愛">
                                                            <i class="far fa-heart"></i>
                                                            <input class="FavoritePId" type="hidden" value="@item.product.ProductId" />
                                                            <input class="FavoritetoLogin" type="hidden" onclick="window.location.href='@Url.Content("~/Login/Login")'" />
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                        @if (item.ProductUnitsInStock == 0)
                                        {
                                            <a class="cart" style="cursor: default;">
                                                已售完(待補貨)
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="cart addCart" style="cursor:pointer">
                                                加入購物車
                                                <input class="add" type="hidden" value="@item.product.ProductId" />
                                                <input class="CarttoLogin" type="hidden" onclick="window.location.href='@Url.Content("~/Login/Login")'" />
                                            </a>
                                        }
                                    </div>
                                </div>
                                <div class="why-text">
                                    @{

                                    }
                                    <h4>【@item.supplier.SupplierName】</h4>
                                    <h4>@item.product.ProductName</h4>
                                    @{
                                        string 規格 = @item.product.ProductSize;
                                        string[] 公克 = 規格.Split("/");
                                    }
                                    @if (item.ProductUnitsInStock == 0)
                                    {
                                        <h5> @公克[0]/NT$@item.product.ProductUnitPrice/已售完</h5>
                                    }
                                    else
                                    {
                                        <h5> @公克[0]/NT$@item.product.ProductUnitPrice</h5>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            @{
                foreach (var item in ViewBag.廣告商品列表)
                {
                    if (item.productAdvertise.Tag == "果季精選")
                    {
                        <div class="col-lg-3 col-md-6 special-grid best-seller">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="new">精選</p>
                                    </div>
                                    @{if (@item.photoBank[0] != null)
                                        {
                                            <img src="~/images/商品照/@item.photoBank[0].PhotoPath" class="img-fluid img-setting" alt="Image">
                                        }
                                    }
                                    <div class="mask-icon">
                                        <ul>
                                            <li>
                                                <a asp-area="" asp-controller="Shopping" asp-action="ShopDetail" asp-route-id="@item.product.ProductId" data-toggle="tooltip" data-placement="right" title="查看"><i class="fas fa-eye"></i></a>
                                            </li>
                                            @{
                                                if (item.myFavorite.MyFavoriteId != 0)
                                                {
                                                    <li>
                                                        <a class="RemoveFavorite" style="cursor: pointer; color: #FF2D2D;" data-toggle="tooltip" data-placement="right" title="移除我的最愛">
                                                            <i class="fas fa-heart"></i>
                                                            <input class="FavoritePId" type="hidden" value="@item.product.ProductId" />
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a class="addFavorite" style="cursor: pointer; color: #ffffff;" data-toggle="tooltip" data-placement="right" title="加入我的最愛">
                                                            <i class="far fa-heart"></i>
                                                            <input class="FavoritePId" type="hidden" value="@item.product.ProductId" />
                                                            <input class="FavoritetoLogin" type="hidden" onclick="window.location.href='@Url.Content("~/Login/Login")'" />
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                        @if (item.ProductUnitsInStock == 0)
                                        {
                                            <a class="cart" style="cursor: default;">
                                                已售完(待補貨)
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="cart addCart" style="cursor:pointer">
                                                加入購物車
                                                <input class="add" type="hidden" value="@item.product.ProductId" />
                                                <input class="CarttoLogin" type="hidden" onclick="window.location.href='@Url.Content("~/Login/Login")'" />
                                            </a>
                                        }
                                    </div>
                                </div>
                                <div class="why-text">
                                    @{

                                    }
                                    <h4>【@item.supplier.SupplierName】</h4>
                                    <h4>@item.product.ProductName</h4>
                                    @{
                                        string 規格 = @item.product.ProductSize;
                                        string[] 公克 = 規格.Split("/");
                                    }
                                    @if (item.ProductUnitsInStock == 0)
                                    {
                                        <h5> @公克[0]/NT$@item.product.ProductUnitPrice/已售完</h5>
                                    }
                                    else
                                    {
                                        <h5> @公克[0]/NT$@item.product.ProductUnitPrice</h5>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            @{
                int count = 0;
                foreach (var item in Model)
                {
                    count++;
                    if (count == 6)
                    {
                        break;
                    }
                    <div class="col-lg-3 col-md-6 special-grid top-featured">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div class="type-lb">
                                    <p class="new" style="background-color:red">HOT</p>
                                </div>
                                @{if (@item.photoBank[0] != null)
                                    {
                                        <img src="~/images/商品照/@item.photoBank[0].PhotoPath" class="img-fluid img-setting" alt="Image">
                                    }
                                }
                                <div class="mask-icon">
                                    <ul>
                                        <li>
                                            <a asp-area="" asp-controller="Shopping" asp-action="ShopDetail" asp-route-id="@item.product.ProductId" data-toggle="tooltip" data-placement="right" title="查看"><i class="fas fa-eye"></i></a>
                                        </li>
                                        @{
                                            if (item.myFavorite.MyFavoriteId != 0)
                                            {
                                                <li>
                                                    <a class="RemoveFavorite" style="cursor: pointer; color: #FF2D2D;" data-toggle="tooltip" data-placement="right" title="移除我的最愛">
                                                        <i class="fas fa-heart"></i>
                                                        <input class="FavoritePId" type="hidden" value="@item.product.ProductId" />
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a class="addFavorite" style="cursor: pointer; color: #ffffff;" data-toggle="tooltip" data-placement="right" title="加入我的最愛">
                                                        <i class="far fa-heart"></i>
                                                        <input class="FavoritePId" type="hidden" value="@item.product.ProductId" />
                                                        <input class="FavoritetoLogin" type="hidden" onclick="window.location.href='@Url.Content("~/Login/Login")'" />
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                    @if (item.ProductUnitsInStock == 0)
                                    {
                                        <a class="cart" style="cursor: default;">
                                            已售完(待補貨)
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="cart addCart" style="cursor:pointer">
                                            加入購物車
                                            <input class="add" type="hidden" value="@item.product.ProductId" />
                                            <input class="CarttoLogin" type="hidden" onclick="window.location.href='@Url.Content("~/Login/Login")'" />
                                        </a>
                                    }
                                </div>
                            </div>
                            <div class="why-text">
                                @{

                                }
                                <h4>
                                    <span style="color:red">【TOP @count】</span>
                                </h4>
                                <h4>【@item.supplier.SupplierName】</h4>
                                <h4>@item.product.ProductName ( 本週銷售 @item.出售量 )</h4>
                                @{
                                    string 規格 = @item.product.ProductSize;
                                    string[] 公克 = 規格.Split("/");
                                }
                                @if (item.ProductUnitsInStock == 0)
                                {
                                    <h5> @公克[0]/NT$@item.product.ProductUnitPrice/已售完</h5>
                                }
                                else
                                {
                                    <h5> @公克[0]/NT$@item.product.ProductUnitPrice</h5>
                                }

                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>
<!-- End Products  -->
<!-- Start Blog  -->
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>小農報報</h1>
                    <p>果季在台灣四處踏查，拜訪農友，尋找台灣在地好糧好食好蔬果。寫下每一位農友漁民的故事，搭起產地與餐桌的橋樑</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="~/images/blog-img.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>【葉菜類】高麗菜</h3>
                            <p>作者:江凱詳</p>
                            <p>產地:鮮蔬果季</p>
                        </div>
                        <ul class="option-blog">
                            <li>
                                <a asp-area="" asp-controller="Member" asp-action="MyFavoriteList"><i class="far fa-heart"></i></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Partner" asp-action="PartnerBlog_1"><i class="fas fa-eye"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="~/images/blog-img-01.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>【根莖瓜果豆類】紅蘿蔔</h3>
                            <p>作者:江凱詳</p>
                            <p>產地:鮮蔬果季</p>
                        </div>
                        <ul class="option-blog">
                            <li>
                                <a asp-area="" asp-controller="Member" asp-action="MyFavoriteList"><i class="far fa-heart"></i></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Partner" asp-action="PartnerBlog_1"><i class="fas fa-eye"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="~/images/blog-img-02.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>
                                台中大甲檳榔心芋頭
                            </h3>
                            <p>作者:村長 </p>
                            <p>日期:2021-12-03</p>
                        </div>
                        <ul class="option-blog">
                            <li>
                                <a asp-area="" asp-controller="Member" asp-action="MyFavoriteList"><i class="far fa-heart"></i></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Partner" asp-action="PartnerBlog_1"><i class="fas fa-eye"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog  -->