@model List<鮮蔬果季_前台.ViewModels.EventListViewModel>


@{
    ViewData["Title"] = "EventList";
}

@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
}

<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title">活動管理</h2>
        <br />

        <button type="button" class="btn btn-primary btn-lg">
            @Html.ActionLink("新增活動", "EventCreate", "BackstageEvent",new { }, new {@style= "color:White" } )
        </button>

        <div class="row my-3">
            <!-- Small table -->
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">


                        <!-- table -->
                        <table class="table datatables border-dark" id="dataTable-1">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>活動ID</th>
                                    <th>活動名稱</th>
                                    <th>供應商ID</th>
                                    <th>供應商名稱</th>
                                    <th>活動人員上限</th>
                                    <th>活動地點</th>
                                    <th>活動費用</th>
                                    <th>活動開始時間</th>
                                    <th>活動結束時間</th>
                                    <th>活動類別ID</th>
                                    <th>活動類別</th>
                                    <th></th>
                                    <th>編輯</th>
                                </tr>
                            </thead>
                            @{
                                foreach (var item in Model)
                                {
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <label class="custom-control-label"></label>
                                                </div>
                                            </td>
                                            <td>@item.Event.EventId</td>
                                            <td>@item.Event.EventName</td>
                                            <td>@item.Event.Supplier.SupplierId</td>
                                            <td>@item.Event.Supplier.SupplierName</td>
                                            <td>@item.Event.EventParticipantCap</td>
                                            <td>@item.Event.EventLocation</td>
                                            <td>@item.Event.EventPrice</td>
                                            <td>@item.Event.EventStartDate.Value.ToString("yyyy/MM/dd HH:mm")</td>
                                            <td>@item.Event.EventEndDate.Value.ToString("yyyy/MM/dd HH:mm")</td>
                                            <td>@item.Event.LableId</td>
                                            <td>@item.Event.Lable</td>
                                            <td></td>
                                            <td>
                                                @*<button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="text-muted sr-only">Action</span>
                                                </button>*@
                                                <div>
                                                    <a class="fe fe-16 fe-edit" asp-area="" asp-controller="BackstageEvent" asp-action="EventEdit"> </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div> <!-- simple table -->
        </div> <!-- end section -->
    </div> <!-- .col-12 -->
</div> <!-- .row -->



@section Scripts{
    <script src='~/backstage/js/jquery.dataTables.min.js'></script>
    <script src='~/backstage/js/dataTables.bootstrap4.min.js'></script>
    <script>
        $('#dataTable-1').DataTable(
            {
                autoWidth: true,
                "lengthMenu": [
                    [16, 32, 64, -1],
                    [16, 32, 64, "All"]
                ]
            });
    </script>
}


