@model List<鮮蔬果季_前台.ViewModels.EventListViewModel>

<table class="table datatables border-dark" id="dataTable-1">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>活動ID</th>
            <th>活動名稱</th>
            <th>供應商名稱</th>
            <th>活動人員上限</th>
            <th>目前報名人數</th>
            <th>活動地點</th>
            <th>活動費用</th>
            <th>活動開始時間</th>
            <th>活動結束時間</th>
            <th>活動類別</th>
            <th></th>
            <th>編輯</th>
        </tr>
    </thead>
    @{
        foreach (var item in Model)
        {
            <tbody class="tEventBody">
                <tr>
                    <td>
                        <!--<div class="custom-control custom-checkbox">-->
                        @*<input type="checkbox" class="custom-control-input">*@
                        @*<label class="custom-control-label"></label>*@
                        <!--</div>-->
                    </td>
                    <td>@item.Event.EventId</td>
                    <td>@item.Event.EventName</td>
                    <td>@item.Event.Supplier.SupplierName</td>
                    <td>@item.Event.EventParticipantCap</td>
                    <td>
                        @item.已報名人數
                        <button style="float:right;" type="button" class="btn btn-primary btnDetail" data-toggle="modal" data-target="#detailModal">查看</button>
                        <input type="hidden" class="eid" value="@item.EventId" />
                    </td>
                    <td>@item.Event.EventLocation</td>
                    <td>@item.Event.EventPrice</td>
                    <td>@item.Event.EventStartDate.Value.ToString("yyyy/MM/dd HH:mm")</td>
                    <td>@item.Event.EventEndDate.Value.ToString("yyyy/MM/dd HH:mm")</td>
                    <td>@item.Event.Lable</td>
                    <td></td>

                    <td>
                        <button type="button" class="btn btn-success btnEdit" data-toggle="modal" data-target="#exampleModal">
                            <i class="fe fe-edit fe-16"></i>
                        </button>
                        <input type="hidden" class="Eid" value="@item.Event.EventId" />
                    </td>                                                

                </tr>
            </tbody>
        }
    }
</table>
