@model List<鮮蔬果季_前台.ViewModels.EventListViewModel>


@{
    ViewData["Title"] = "EventList";
}

@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
}

<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title">活動管理</h2>
        <br />

        <button type="button" class="btn btn-primary btn-lg">
            @Html.ActionLink("新增活動", "EventCreate", "BackstageEvent", new { }, new { @style = "color:White" })
        </button>

        <div class="row my-3" style="margin-top:0.5rem">
            <!-- Small table -->
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">

                        <!-- table -->
                        <table class="table datatables border-dark" id="dataTable-1">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>活動ID</th>
                                    <th>活動名稱</th>
                                    <th>供應商名稱</th>
                                    <th>活動人員上限</th>
                                    <th>目前報名人數</th>
                                    <th>活動地點</th>
                                    <th>活動費用</th>
                                    <th>活動開始時間</th>
                                    <th>活動結束時間</th>
                                    <th>活動類別</th>
                                    <th></th>
                                    <th>編輯</th>
                                </tr>
                            </thead>
                            @{
                                foreach (var item in Model)
                                {
                                    <tbody class="tEventBody">
                                        <tr>
                                            <td>
                                                <!--<div class="custom-control custom-checkbox">-->
                                                @*<input type="checkbox" class="custom-control-input">*@
                                                @*<label class="custom-control-label"></label>*@
                                                <!--</div>-->
                                            </td>
                                            <td>@item.Event.EventId</td>
                                            <td>@item.Event.EventName</td>
                                            <td>@item.Event.Supplier.SupplierName</td>
                                            <td>@item.Event.EventParticipantCap</td>
                                            <td>@item.已報名人數</td>    @*目前不會帶出值*@
                                            <td>@item.Event.EventLocation</td>
                                            <td>@item.Event.EventPrice</td>
                                            <td>@item.Event.EventStartDate.Value.ToString("yyyy/MM/dd HH:mm")</td>
                                            <td>@item.Event.EventEndDate.Value.ToString("yyyy/MM/dd HH:mm")</td>
                                            <td>@item.Event.Lable</td>
                                            <td></td>

                                            <td>
                                                @*修改按鈕*@
                                                <button type="button" class="btn btn-success btnEdit" data-toggle="modal" data-target="#exampleModal">
                                                    <i class="fe fe-edit fe-16"></i>
                                                </button>
                                                <input type="hidden" class="Eid" value="@item.Event.EventId" />
                                            </td>                                                   @*透過vaule回傳的ID*@

                                        </tr>
                                    </tbody>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div> <!-- simple table -->
        </div> <!-- end section -->
    </div> <!-- .col-12 -->
</div> <!-- .row -->
<!-- Modal 修改-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">活動修改</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="EventEdit">
                @*此處Form的內容就是EventEditPartial.cshtml*@
                <div class="modal-body eventBody">
                    @*載入的主體*@
                    <!--內容-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <input type="submit" value="儲存" class="btn btn-primary btnSave" data-dismiss="modal" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script src='~/backstage/js/jquery.dataTables.min.js'></script>
    <script src='~/backstage/js/dataTables.bootstrap4.min.js'></script>
    <script>

        $('#dataTable-1').DataTable(     //套件的表頭排序/搜索
            {
                autoWidth: true,
                "lengthMenu": [
                    [16, 32, 64, -1],
                    [16, 32, 64, "All"]
                ]
            });



            //開啟修改的PartialView
           $(document).on("click", ".btnEdit", function () {
                  var eid = $(this).next(".Eid").val();
                    console.log(eid);
               $(".eventBody").load("@Url.Content("~/BackstageEvent/bEvevtEditPartial")/" + eid, function () {
                   var editor = document.getElementById('editor');    //取得文字編輯器的id
                   if (editor) {
                         //以下為文字編輯器套件的程式碼
                       var toolbarOptions = [
                           [
                               {
                                   'font': []
                               }],
                           [
                               {
                                   'header': [1, 2, 3, 4, 5, 6, false]
                               }],
                           ['bold', 'italic', 'underline', 'strike'],
                           ['blockquote', 'code-block'],
                           [
                               {
                                   'header': 1
                               },
                               {
                                   'header': 2
                               }],
                           [
                               {
                                   'list': 'ordered'
                               },
                               {
                                   'list': 'bullet'
                               }],
                           [
                               {
                                   'script': 'sub'
                               },
                               {
                                   'script': 'super'
                               }],
                           [
                               {
                                   'indent': '-1'
                               },
                               {
                                   'indent': '+1'
                               }], // outdent/indent
                           [
                               {
                                   'direction': 'rtl'
                               }], // text direction
                           [
                               {
                                   'color': []
                               },
                               {
                                   'background': []
                               }], // dropdown with defaults from theme
                           [
                               {
                                   'align': []
                               }],
                           ['clean'] // remove formatting button
                       ];
                       var quill = new Quill(editor,
                           {
                               modules:
                               {
                                   toolbar: toolbarOptions
                               },
                               theme: 'snow'
                           });
                   }
               })
             });




        //修改儲存
        $(document).on("click", ".btnSave", async function (e) {
            e.preventDefault();

            //讀取文字編輯器
            var discription = $(".ql-editor").html();
            $(".eventDescription").val(discription);

            const formData = new FormData(document.EventEdit)     @* bEvevtEditPartial 為Form的Name*@
            const response = await fetch('@Url.Content("~/BackstageEvent/bEvevtEditPartial")', {
                method: "POST",
                body: formData
            })

            const data = await response.text()
            console.log(data)
            if (data == 1) {            //寫入後需要重新載入的原因,在於修改是使用浮動視窗,並不會把更新資料修改上去
                $('.card-body').load("@Url.Content("~/BackstageEvent/EventListPartial")", function () {
                    alert("修改成功")
                    $('#dataTable-1').DataTable(     //此段待確認作用
                        {
                            autoWidth: true,
                            "lengthMenu": [
                                [16, 32, 64, -1],
                                [16, 32, 64, "All"]
                            ]
                        });
                })
            }
        })




         //圖片上傳
        console.log($(".selectphoto"))
        $(document).on("change",".selectphoto",async function () {
            let eid = $(".Eid").val()     @*上傳圖片後，用load進去把圖片新增後，去讀取照片*@
            let obj = $(this);           @*this為目前狀態(selectphoto) *@
            const formData = new FormData(document.EventEdit)      @* EventEdit 為 Form的名稱*@
            const response = await fetch('@Url.Content("~/BackstageEventAPI/PhotoLoad")', {
                method: "POST",
                body: formData
            })
            const data = await response.text()
            console.log(data)
            if (data == 1) {
                $('.imgLoad').load("@Url.Content("~/BackstageEventAPI/imgLoad/")" + eid, function () {
                    alert("上傳圖片成功");
                    obj.val("")
                })
            }
        });
        //圖片清空
        $(document).on("click", ".imgClear", async function (e) {
            let eid = $(".Eid").val()
            console.log("123")
            const response = await fetch('@Url.Content("~/BackstageEventAPI/ClearImg/")'+eid)
            const data = await response.text()
            console.log(data)
            if (data == 1) {
                $('.imgLoad').load("@Url.Content("~/BackstageEventAPI/imgLoad/")" + eid, function () {
                    alert("清空圖片成功")
                })
            }
        })







    </script>
}


