@model List<鮮蔬果季_前台.ViewModels.SupplierViewModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class="table table-striped">
    <thead>
        <tr>
            <td>負責人</td>
            <td>地址</td>
            <td>電話</td>
            <td>城市</td>
        </tr>
    </thead>
    <tbody>
        @{ 
            int count = 0;
            foreach(var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td >@item.supplier.BusinessOwner</td>
                    <td>@item.supplier.SupplierAddress</td>
                    <td>@item.supplier.Mobile</td>
                    <td>@item.city.CityName</td>
                </tr>
            }
        }
    </tbody>
</table>
<div id=""></div>