@model List<鮮蔬果季_前台.ViewModels.SupplierViewModel>
@{
    ViewData["Title"] = "SupplierList";
}
@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
    <style>
        .dropdown-item {
            padding-left: 5px;
        }

            .dropdown-item:focus {
                background-color: transparent;
            }

            .dropdown-item:hover {
                background-color: transparent;
                color: darkcyan;
            }

        .btnAdd {
            font-size: 16px;
            padding: 10px 20px 8px 16px;
        }

        .couponlist tr:hover {
            background-color: aliceblue;
        }

        .control-label {
            font-weight: bold;
        }
    </style>
}

<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title">供應商管理</h2>
        <button type="button" class="btn mb-2 btn-primary btnAdd" data-toggle="modal" data-target="#ModalAdd">新增供應商</button>
        <p class="card-text"></p>
        <div class="row my-4">
            <!-- Small table -->
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <!-- table -->
                        <table class="table datatables border-dark" id="dataTable-1">
                            <thead class="thead-dark">
                                <tr>
                                    <th>序號</th>
                                    <th>@Html.DisplayNameFor(model => model.First().SupplierName)</th>
                                    <th>@Html.DisplayNameFor(model => model.First().BusinessOwner)</th>
                                    <th>@Html.DisplayNameFor(model => model.First().SupplierAddress)</th>
                                    <th>@Html.DisplayNameFor(model => model.First().Mobile)</th>
                                    <th>@Html.DisplayNameFor(model => model.First().CityName)</th>
                                    <th>修改</th>
                                </tr>
                            </thead>
                            <tbody class="SupplierList">
                                @{ int count = 0;
                                    foreach (var item in Model)
                                    {
                                        count++;

                                        <tr>
                                            <td>@count</td>
                                            <td>@item.supplier.SupplierName</td>
                                            <td>@item.supplier.BusinessOwner</td>
                                            <td>@item.supplier.SupplierAddress</td>
                                            <td>@item.supplier.Mobile</td>
                                            <td>@item.city.CityName</td>
                                            <td>
                                                <button type="button" class="dropdown-item btnEdit" data-toggle="modal" data-target="#ModalEdit"><span class="fe fe-16 fe-edit"></span></button>
                                                <input type="hidden" class="supid" id="supid" value="@item.SupplierId" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- simple table -->
        </div> <!-- end section -->
    </div> <!-- .col-12 -->
</div> <!-- .row -->
<!--=================================================================================================================================================-->
<!-- 修改供應商 -->
<div class="modal fade" id="ModalEdit" tabindex="-1" aria-labelledby="ModalEditLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalEditLabel">供應商管理</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="SupplierEdit">
                <div class="modal-body EditBody">
                    <div class="row">
                        <div class="col-md-12 supedit">
                            <!--SupplierEditPartial-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btneditdemo">DEMO</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <input type="submit" value="Save" class="btn btn-primary btnEditSave" data-dismiss="modal" />
                </div>
            </form>
        </div>
    </div>
</div>
<!--===========================================================================================================================================-->>
<!-- 新增供應商 SupplierAddPartial -->
<div class="modal fade" id="ModalAdd" tabindex="-1" aria-labelledby="ModalAddLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalAddLabel">新增供應商</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form name="SupplierAdd">
                <div class="modal-body CreateBody">
                    <div class="row">
                        <div class="col-md-12 supadd">
                            <!--SupplierAddPartial-->>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btncredemo">DEMO</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <input type="submit" value="新增" class="btn btn-primary  btnAddSave" data-dismiss="modal" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src='~/backstage/js/jquery.dataTables.min.js'></script>
    <script src='~/backstage/js/dataTables.bootstrap4.min.js'></script>
    <script>
        $('#dataTable-1').DataTable({
            autoWidth: true,
            "lengthMenu": [
                [16, 32, 64, -1],
                [16, 32, 64, "All"]
            ]
        });
        $(document).on("click", ".btnEditSave", async function (e) {
            e.preventDefault();
            const formdata = new FormData(document.SupplierEdit)
            const response = await fetch('@Url.Content("~/BackStageSupplier/SupplierEditPartail")', {
                method: "POST",
                body: formdata
            })
            const data = await response.text()
            console.log(data)
            if (data == 1) {
                $('.card-body').load("@Url.Content("~/BackStageSupplier/SupplierListPartial")", function () {
                    alert("修改成功")
                    $('#dataTable-1').DataTable(
                        {
                            autoWidth: true,
                            "lengthMenu": [
                                [16, 32, 64, -1],
                                [16, 32, 64, "All"]
                            ]
                        });
                })
            }
        })
        $(document).on("click", ".btnAddSave", async function (e) {
            e.preventDefault();
            const formdata = new FormData(document.SupplierAdd)
            const response = await fetch('@Url.Content("~/BackStageSupplier/SupplierAddPartial")', {
                method: "POST",
                body: formdata
            })
            const data = await response.text()
            if (data == 1) {
                $('.card-body').load('@Url.Content("~/BackStageSupplier/SupplierListPartial")', function () {
                    alert("新增成功")
                    $('#dataTable-1').DataTable(
                        {
                            autoWidth: true,
                            "lengthMenu": [
                                [16, 32, 64, -1],
                                [16,32,64,"All"]
                            ]
                        }
                    );
                })
            }
        })
        $(document).on("click", ".btnEdit", function () {
            var supid = $(this).next(".supid").val();
            console.log(supid);
            $('.supedit').load("@Url.Content("~/BackStageSupplier/SupplierEditPartail")/" + supid)
        })
        $(document).on("click", ".btnAdd", function () {
            $('.supadd').load("@Url.Content("~/BackStageSupplier/SupplierAddPartial")")
        })
    </script>
}