<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>鮮蔬果季</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS  -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Custom CSS -->
    @*<link rel="stylesheet" href="~/css/custom.css">*@
    <link rel="stylesheet" href="~/css/_LayoutSetting.css">

    <style>
        ul.cart-list > li > a.photo {
            width: 60px;
            height: 60px;
        }

        ul.cart-list > li img {
            width: 60px;
            height: 60px;
            object-fit: cover;
        }

        .main-header.fixed-menu {
            -webkit-animation-duration: 0ms;
            animation-duration: 0ms;
        }
        .memberitem:hover {
            color: sienna;
            transition: .5s;
        }
        nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a {
            color:white;
        }
    </style>

    @await RenderSectionAsync("Styles", required: false)
</head>
<body style="margin:0px">
    <!-- Start Main Top -->
    <div class="main-top" @*style="background-color: #5A8100;"*@>
        @*標頭*@
        <div class="container" style="max-width:70%;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    @*col-lg-8 col-md-8調整區塊寬度比例 數字越大就越寬 6為50%*@
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fas fa-bullhorn"></i>寒流來襲菜價狂飆 高麗菜漲3.7倍、茼蒿漲4倍
                                </li>
                                <li>
                                    <i class="fas fa-bullhorn"></i> 寒流連3波 批發菜價漲38.4％
                                </li>
                                <li>
                                    <i class="fas fa-bullhorn"></i> 寒流襲菜價飆 高麗菜13日均價35.6元創同期新高
                                </li>
                                <li>
                                    <i class="fas fa-bullhorn"></i> 寒流侵襲菜價飆 絲瓜.花椰菜漲幅達5成
                                </li>
                                <li>
                                    <i class="fas fa-bullhorn"></i> 低溫生長速度慢 高麗菜.花椰菜喊漲
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    @*col-lg-8 col-md-8調整區塊寬度比例 數字越大就越寬 6為50%*@
                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav " id="navbar-menu">
                        <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp" id="sereachfoucus">
                            @*<li id="member"><a class="nav-link" href="#" onclick="window.open('WebBot.html','網站客服','width=450,height=525')">線上客服(暫時)</a></li>*@
                            @{
                                if (ViewBag.USER != null)
                                {
                                    @*<li id="member">
                                            <i class="fa fa-user s_color"></i> @ViewBag.USER
                                            <input type="hidden" class="userId" value="@ViewBag.userID">
                                        </li>*@
                                    if (ViewBag.userID == 97)
                                    {
                                        <li id="member" class="nav-link dropdown-toggle transition" data-toggle="dropdown" style="cursor:pointer">
                                            <i class="fa fa-user s_color "></i> @ViewBag.USER
                                            <input type="hidden" class="userId" value="@ViewBag.userID">
                                        </li>
                                        <ul class="dropdown-menu">
                                            <li class="">
                                                <a asp-area="" asp-controller="Backstage" asp-action="Home" class="memberitem">前往後台</a>
                                            </li>
                                        </ul>
                                    }
                                    else
                                    {
                                        <li id="member">
                                            <i class="fa fa-user s_color"></i> @ViewBag.USER
                                            <input type="hidden" class="userId" value="@ViewBag.userID">
                                        </li>
                                    }
                                }
                                else if (ViewBag.SUPP != null)
                                {
                                    <li id="member">
                                        <i class="fa fa-user s_color"></i> @ViewBag.SUPP
                                        <input type="hidden" class="userId" value="@ViewBag.userID">
                                    </li>
                                }
                                else
                                {
                                    <li id="member">
                                        <a asp-area="" asp-controller="Login" asp-action="Login"><i class="fa fa-user s_color"></i> 會員註冊/登入</a>
                                    </li>
                                }
                            }

                            @*<li id="member">
                                    <a asp-area="" asp-controller="Backstage" asp-action="Home"><i class="fa fa-user s_color"></i> 後台登入</a>
                                </li>*@
                        </ul>
                    </div>


                    <!-- End Atribute Navigation -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->
    <!-- Start Main Top -->
    <header class="main-header" style="z-index:999">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light navbar-default bootsnav  " style="background-color:#FFF9E9">
            <div class="container" style="max-width:70%;">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo4.png" class="logo" alt="首頁" style="width:250px"></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto transition" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">首頁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="AboutUs" asp-action="AboutUs">關於我們</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Partner" asp-action="PartnerBlog">合作農友</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Event" asp-action="EventBlog">農友活動</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="ContactUs" asp-action="ContactUs">聯絡我們</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Shopping" asp-action="List">購物專區</a>
                        </li>
                        @*<li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle transition" data-toggle="dropdown">
                                    購物專區 <i class="fas fa-chevron-down arrowcustomer"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-area="" asp-controller="Shopping" asp-action="List" class="transition">蔬菜</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Shopping" asp-action="List" class="transition">水果</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Shopping" asp-action="List" class="transition">台灣茶</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Shopping" asp-action="List" class="transition">五穀雜糧</a>
                                    </li>
                                </ul>
                            </li>*@
                        <li class="dropdown">
                            @if (ViewBag.SUPP != null)
                            {
                                <a href="#" class="nav-link dropdown-toggle transition" data-toggle="dropdown">
                                    廠商中心 <i class="fas fa-chevron-down arrowcustomer"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-area="" asp-controller="Member" asp-action="MemberCenter" class="transition">廠商資料</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Supplier" asp-action="ProductList" class="transition">產品管理</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Member" asp-action="MyFavoriteList" class="transition">訂單管理</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Order" asp-action="Orders" class="transition">活動管理</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Member" asp-action="Logout" class="transition">登出</a>
                                    </li>
                                </ul>
                            }
                            else
                            {

                                <a href="#" class="nav-link dropdown-toggle transition" data-toggle="dropdown">
                                    會員中心 <i class="fas fa-chevron-down arrowcustomer"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-area="" asp-controller="Member" asp-action="MemberCenter" class="transition">會員資料</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Order" asp-action="Orders" class="transition">訂單紀錄</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Member" asp-action="MyFavoriteList" class="transition">我的收藏</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Coupons" asp-action="CouponsList" class="transition">優惠券</a>
                                    </li>
                                    @if (ViewBag.USER != null)
                                    {
                                        <li>
                                            <a asp-area="" asp-controller="Member" asp-action="Logout" class="transition">登出</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <div class="attr-nav">
                    <ul>
                        <li class="search">
                            <a href="#"><i class="fa fa-search"></i></a>
                        </li>
                        <li class="side-menu">
                            <a id="cartIcon" href="#">
                                <i class="fa fa-shopping-bag"></i>
                                <span id="cartNum" class="badge"></span>
                                <p>購物車</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Start Side Menu -->
            <div id="navCartView" class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul id="cart-ul" class="cart-list">
                        <li>
                            <p>購物車內無商品</p>
                        </li>
                        <li class="total">
                            <a asp-area="" asp-controller="Shopping" asp-action="Cart" class="btn btn-default hvr-hover btn-cart">查看購物車</a>
                            <span id="totalPrice" class="float-right"><strong>總價</strong>: NT$ 0</span>
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- Start Top Search -->
    <div class="top-search" style="max-height: 60px;">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->
    @*<div class="container">
        <main role="main" class="pb-3">*@
    @RenderBody()
    @*</main>
        </div>*@
    <!-- Start Footer  -->
    <footer>
        <div class="footer-main" @*style="background-color: #5A8100;"*@>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>關於鮮蔬果季</h4>
                            <p>我們是快樂的碼農，整天種田寫下一行一行程式碼。採收以後可以拿來賣錢就可以在台北市買房子結婚生小孩。讚讚讚。</p>
                            <p>我們是快樂的碼農，整天種田寫下一行一行程式碼。採收以後可以拿來賣錢就可以在台北市買房子結婚生小孩。讚讚讚。 </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>友善連結</h4>
                            <ul>
                                <li>
                                    <p class="paddingChange">
                                        <a href="https://www.coa.gov.tw/ws.php?id=2505838" target="_blank">推動友善環境農業 (農委會)</a>
                                    </p>
                                </li>
                                <li>
                                    <p class="paddingChange">
                                        <a href="https://www.newsmarket.com.tw/" target="_blank">上下游 News&Market</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>聯絡我們</h4>
                            <ul>
                                <li>
                                    <p>
                                        <i class="fas fa-map-marker-alt"></i>Address: 台北市大安區
                                        <br>信義路三段153號3樓
                                        <br>(農會大樓)
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <i class="fas fa-phone-square"></i>Phone:
                                        <a href="tel:+886 975871316">+886-975-871-316</a>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <i class="fas fa-envelope"></i>Email:
                                        <a href="mailto:contact@harvestfresh.com">contact@harvestfresh.com</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="chat-img-click" style="">
        <img src="~/images/chat.png" style="width: 100%; border-radius: 50%; border: 2px solid #b0b435;" />
        <input class="toLogin" type="hidden" onclick="window.location.href='@Url.Content("~/Login/Login")'" />
    </div>

    @*<a href="#" id="back-to-top" title="Back to top" style="display: none;width:40px;height:40px;bottom:100px;right:50px;"><i class="fas fa-caret-up" style="font-size: 40px; letter-spacing: 0px "></i></a>*@
    <span id="bot-close" class="contact-bot action" style="cursor:pointer;"><i class="fas fa-comments"></i> 數位客服</span>
    <div id="bot-open" class="div-bot ">
        <span style=""><i class="far fa-times-circle"></i></span>
        @*<iframe src='https://webchat.botframework.com/embed/msit132siangqna-bot?s=o-jd3mt_SHY.Cr7wCanCvakK4Oq4AGZkXbZhUvENa72PZYJ8jhX6PNM' style=''></iframe>*@
        @*<iframe src="https://webchat.botframework.com/embed/msit132-qnaservice-bot?s=9wEb4gaG9DA.AkXH3WBxMrTscteB_bg-w3D7neD1NwD7et_4CiKju5I"></iframe>*@
    </div>

    <!-- End Footer  -->
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>1212*@
    <!-- ALL JS FILES -->
    @* <script src="~/js/jquery-3.2.1.min.js"></script>*@
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/js/jquery.superslides.min.js"></script>
    <script src="~/js/bootstrap-select.js"></script>
    <script src="~/js/inewsticker.js"></script>
    <script src="~/js/bootsnav.js"></script>
    <script src="~/js/images-loded.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/baguetteBox.min.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script type="text/javascript" src="~/js/contact-form-script.js" charset="big5"></script>
    <script src="~/js/custom.js"></script>
    <script>
        $("#bot-close").click(function () {
            $("#bot-open").append("<iframe id='botadd' src='https://webchat.botframework.com/embed/msit132-qnaservice-bot?s=9wEb4gaG9DA.AkXH3WBxMrTscteB_bg-w3D7neD1NwD7et_4CiKju5I'></iframe>")
            setTimeout(function () {
                $("#bot-close").removeClass("action");
                $("#bot-open").addClass("action");
            }, 200);


        })
        $("#bot-open span").click(function () {
            $("#bot-open").removeClass("action");
            $("#bot-close").addClass("action");
            setTimeout(function () {
                $("#botadd").remove();
            }, 1500);


        })

        $('#cartIcon').click(function () {
            $('#cart-ul').load('@Url.Content("~/Shopping/NavCart")')
        })

        var cartNum = document.querySelector('#cartNum')
        var value = $(".userId").val()
        $(document).ready(async function () {
            console.log(value)
            var response = await fetch('@Url.Content("~/Shopping/CartNum")')
            var data = await response.text()
            console.log(data)
            if(data!=0)
            cartNum.innerHTML = data
        })
        $("#chat-img-click").click(async function () {
            let response = await fetch('@Url.Content("~/Home/LoginCheck")');
            let userCheck = await response.text();
            console.log(userCheck)
            if (userCheck == 1) {
                window.open('@Url.Content("~/Home/Chat")', "廣場聊天室", config = "height=720, width=500, toolbar=none, menubar=none, scrollbars=none, resizable=none, location=none, status=none")
            }
            else if (userCheck == 0) {
                // 創建事件物件
                var evt = document.createEvent("HTMLEvents");
                // 初始化
                evt.initEvent("click", false, false);
                document.querySelector(".toLogin").dispatchEvent(evt)
            }

        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>