@model List<鮮蔬果季_前台.ViewModels.CouponsListViewModel>

@{
    ViewData["Title"] = "Coupons";
}

@section Styles{
    <link rel="stylesheet" href="~/backstage/css/dataTables.bootstrap4.css">
    <style>
        .dropdown-item{
            padding-left:5px;
        }
        .dropdown-item:focus {
            background-color: transparent;
        }
        .dropdown-item:hover {
            background-color: transparent;
            color: darkcyan;
        }
    </style>
}

<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title">酷碰券管理</h2>
        <button type="button" class="btn mb-2 btn-primary">+新增</button>
        <p class="card-text"></p>
        <div class="row my-4">
            <!-- Small table -->
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <!-- table -->
                        <table class="table datatables border-dark" id="dataTable-1">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>序</th>
                                    <th>酷碰券名稱</th>
                                    <th>折扣條件</th>
                                    <th>折扣金額</th>
                                    <th>酷碰券描述</th>
                                    <th>開始日</th>
                                    <th>結束日</th>
                                    <th>每人發放數量</th>
                                    <th>修改</th>
                                    <th>刪除</th>
                                    @*<th>編輯</th>*@
                                </tr>
                            </thead>
                            <tbody class="couponlist">
                                @{ int count = 0;
                                    foreach (var item in Model)
                                    {
                                        count++;
                                        string strdate = (item.CouponStartDate).ToString("yyyy/MM/dd tt hh:mm");
                                        string enddate = (item.CouponEndDate).ToString("yyyy/MM/dd tt hh:mm");
                                                                <tr>
                                                                    <td>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="@count">
                                                                            <label class="custom-control-label" for="@count"></label>
                                                                        </div>
                                                                    </td>
                                                                    <td>@count</td>
                                                                    <td>@item.CouponName</td>
                                                                    <td>消費滿NT$ @item.DiscountCondition</td>
                                                                    <td>折NT$ @item.CouponDiscount</td>
                                                                    <td>@item.CouponDescription</td>
                                                                    <td>@strdate</td>
                                                                    <td>@enddate</td>
                                                                    <td>@item.CouponQuantityIssued<span>張</span></td>
                                                                    <td>
                                                                        <button type="button" class="dropdown-item btnEdit" data-toggle="modal" data-target="#exampleModal"><span class="fe fe-16 fe-edit"></span></button>
                                                                        <input type="hidden" class="Cid" value="@item.CouponId" />
                                                                    </td>
                                                                    <td>
                                                                        <a class="dropdown-item btnDel" href="#"><span class="fe fe-16 fe-trash-2"></span></a>
                                                                    </td>
                                                                    @*<td>
                                                                        <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <span class="text-muted sr-only">Action</span>
                                                                        </button>
                                                                        <div class="dropdown-menu dropdown-menu-right">
                                                                            <button type="button" class="dropdown-item btnEdit" data-toggle="modal" data-target="#exampleModal">
                                                                                修改
                                                                            </button>
                                                                            <input type="hidden" class="Cid" value="@item.CouponId" />
                                                                            <a class="dropdown-item btnDel" href="#">移除</a>
                                                                        </div>
                                                                    </td>*@
                                                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" style="max-width: 1000px;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">酷碰券修改</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form name="CouponsEdit">
                                        <div class="modal-body EditBody">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="text-danger"></div>
                                                    <input type="hidden" />
                                                    <div class="form-group">
                                                        <label class="control-label"></label>
                                                        <input class="form-control" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label"></label>
                                                        <input class="form-control" min="1" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label"></label>
                                                        <input class="form-control" min="0" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label"></label>
                                                        <input class="form-control" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label"></label>
                                                        <input class="form-control" id="startDate" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label"></label>
                                                        <input class="form-control" id="endDate" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label"></label>
                                                        <input class="form-control" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                            <input type="submit" value="儲存" class="btn btn-primary btnSave" data-dismiss="modal" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Modal2 -->
                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" style="max-width: 1000px;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">酷碰券修改</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form name="CouponsEdit2">
                                        <div class="modal-body EditBody">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="text-danger"></div>
                                                    <input type="hidden" />
                                                    <div class="form-group">
                                                        <label class="control-label"></label>
                                                        <input class="form-control" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label"></label>
                                                        <input class="form-control" min="1" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label"></label>
                                                        <input class="form-control" min="0" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label"></label>
                                                        <input class="form-control" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label"></label>
                                                        <input class="form-control" id="startDate" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label"></label>
                                                        <input class="form-control" id="endDate" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label"></label>
                                                        <input class="form-control" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                            <input type="submit" value="儲存" class="btn btn-primary btnSave" data-dismiss="modal" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- simple table -->
        </div> <!-- end section -->
    </div> <!-- .col-12 -->
</div> <!-- .row -->
@section Scripts{
    <script src='~/backstage/js/jquery.dataTables.min.js'></script>
    <script src='~/backstage/js/dataTables.bootstrap4.min.js'></script>
    <script>
        $('#dataTable-1').DataTable(
            {
                autoWidth: true,
                "lengthMenu": [
                    [16, 32, 64, -1],
                    [16, 32, 64, "All"]
                ]
            });

        $(document).on("click", ".btnEdit", function () {
            var Cid = $(this).next(".Cid").val();
            //console.log(Cid);
            $('.EditBody').load("@Url.Content("~/BackstageCouponsApi/CouponsPartial")/" + Cid)
        })
        $(document).on("click", ".btnSave", function () {
            var strdate = $("#startDate").val();
            var enddate = $("#endDate").val();
            if (strdate > enddate) {
                alert("日期格式錯誤!");
                return;
            }
        });

        $(document).on("click", ".btnSave", async function (e) {
            e.preventDefault();
            const formData = new FormData(document.CouponsEdit)
            const response = await fetch('@Url.Content("~/BackstageCouponsApi/CouponsEditPartial")', {
                method: "POST",
                body: formData
            })
            const data = await response.text()
            console.log(data)
            if (data == 1) {
                $('.couponlist').load("@Url.Content("~/BackstageCouponsApi/CouponsListPartial")", function () {
                    alert("修改成功")
                })
            }
        })
        $(document).on("blur", "#startDate", function () {
            var strdate = $("#startDate").val();
            var enddate = $("#endDate").val();
            //console.log(strdate);
            //console.log(enddate);
            if (strdate > enddate) {
                alert("開始日期不能大於結束日期!");
                $(".btnSave").attr("disabled", true);
            }
            else{
                $(".btnSave").removeAttr("disabled");
            }

        });
        $(document).on("blur", "#endDate", function () {
            var strdate = $("#startDate").val();
            var enddate = $("#endDate").val();
            //console.log(strdate);
            //console.log(enddate);
            if (enddate < strdate) {
                alert("結束日期不能小於開始日期!");
                $(".btnSave").attr("disabled", true);
            }
            else {
                $(".btnSave").removeAttr("disabled");
            }

        })
    </script>

}
