@model 鮮蔬果季_前台.ViewModels.ShoppingListViewModel

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ProductName" class="control-label"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SupplierName" class="control-label"></label>
            <select asp-for="SupplierName" class="form-control">
                @foreach (var item in ViewBag.AllSupp)
                {
                    <option>@item.SupplierName</option>

                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" style="display:block">產品分類</label>
            <label class="control-label" style="float: left;">品項：</label>
            <select class="form-control CategeoryCreateFirst" style="width: 10%; display: inline; overflow: auto; float: left; margin-right: 10px "size="4" name="CategeoryFirst" >
                @{
                    @foreach (var item in ViewBag.次類別)
                    {
                        if (item.CategoryId == 1 || item.CategoryId == 6)
                        {
                            <option value="@item.CategoryId">@item.CategoryName</option>
                        }
                    }
                }
            </select>
            <select class="form-control CategeoryCreateSecond"style="width: 10%; display: inline; overflow: auto; float: left; margin-right: 10px "size="4"  name="CategeorySecond">
                @{
                    @foreach (var item in ViewBag.次類別)
                    {
                        if (item.CategoryId <= 5 && item.CategoryId >= 2)
                        {
                            <option value="@item.CategoryId">@item.CategoryName</option>
                        }
                    }
                }
            </select>
            <label class="control-label" style="float: left;">商品等級：</label>
            <select class="form-control " style="width: 10%; display: inline; overflow: auto; float: left; margin-right: 10px "size="4"  name="CategeoryLevel">
                @{
                    @foreach (var item in ViewBag.次類別)
                    {
                        if (item.CategoryId == 20 || item.CategoryId == 21)
                        {
                            <option value="@item.CategoryId">@item.CategoryName</option>
                        }
                    }
                }
            </select>
            <label class="control-label" style="float: left;">溫層：</label>
            <select class="form-control " style="width: 10%; display: inline; overflow: auto; float: left; margin-right: 10px "size="4"  name="CategeoryTemp">
                @{
                    @foreach (var item in ViewBag.次類別)
                    {
                        if (item.CategoryId == 17 || item.CategoryId == 18)
                        {
                            <option value="@item.CategoryId">@item.CategoryName</option>
                        }
                    }
                }
            </select>
            <label class="control-label" style="float: left;">產季：</label>
            <select class="form-control " style="width: 10%; display: inline; overflow: auto; margin-right: 10px " multiple  name="CategeorySeason">
                @{
                    @foreach (var item in ViewBag.次類別)
                    {
                        if (item.CategoryId <= 15 && item.CategoryId >= 12 || item.CategoryId == 23)
                        {
                            <option value="@item.CategoryId">@item.CategoryName</option>
                        }
                    }
                }
            </select>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductUnitPrice" class="control-label"></label>
            <input asp-for="ProductUnitPrice" oninput = "if(value<0)value=0" class="form-control" />
            <span asp-validation-for="ProductUnitPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductCostPrice" class="control-label"></label>
            <input asp-for="ProductCostPrice" oninput = "if(value<0)value=0" class="form-control" />
            <span asp-validation-for="ProductCostPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductUnitsInStock" class="control-label"></label>
            <input asp-for="ProductUnitsInStock" oninput = "if(value<0)value=0" class="form-control" />
            <span asp-validation-for="ProductUnitsInStock" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductSize" class="control-label"></label>
            <input asp-for="ProductSize" class="form-control" />
            <span asp-validation-for="ProductSize" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductDescription" class="control-label"></label>
            <div id="editorcreate" class="descript" style="min-height:200px;" name="ProductDescription">
            </div>
            <input type="hidden" class="prodCreateDescription" name="ProductDescription">
        </div>
        <div class="form-group">
            <label class="control-label">產品相片(第一張圖片會為封面)</label>
            <div class="col-md-12 photobox" style="border:1px solid lightgray;padding:20px">
                <div class="imgCreate">
                </div>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" multiple class="custom-file-input createimg" id="createimg" name="photo">
                        <label class="custom-file-label" for="createimg" aria-describedby="inputGroupFileAddon02">選擇圖片</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="DefectiveGood" /> @Html.DisplayNameFor(model => model.DefectiveGood)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="InShop" /> @Html.DisplayNameFor(model => model.InShop)
            </label>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
