@model 鮮蔬果季_前台.ViewModels.ShoppingListViewModel
@section Styles{
    <style>
        .custom-file-label::after {
            content: "選擇";
        }
    </style>


}
<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProductId" />
        <div class="form-group">
            <label asp-for="ProductName" class="control-label"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        @*<div class="form-group">
            <label asp-for="SupplierId" class="control-label"></label>
            <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
            <span asp-validation-for="SupplierId" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <label asp-for="SupplierName" class="control-label"></label>
            <select asp-for="SupplierName" class="form-control">
                @foreach (var item in ViewBag.AllSupp)
                {
                    if (Model.SupplierName == item.SupplierName)
                    {
                        <option selected>@item.SupplierName</option>
                    }
                    else
                    {
                        <option>@item.SupplierName</option>
                    }

                }

            </select>
            <span asp-validation-for="SupplierName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label" style="display:block">產品分類</label>
            <label class="control-label" style="float: left;">品項：</label>
            <select class="form-control  CategeoryFirst" style="width: 10%; display: inline; overflow: auto; float: left; margin-right: 10px " name="CategeoryFirst" size="4">
                @{
                    int id = 0;
                    @foreach (var item2 in Model.categoryDetails2)
                    {
                        if (item2.CategoryId == 1 || item2.CategoryId == 6)
                        {
                            id = item2.CategoryId;
                        }
                    }
                    @foreach (var item in ViewBag.次類別)
                    {
                        if (item.CategoryId == 1 || item.CategoryId == 6)
                        {
                            if (item.CategoryId == id)
                            {
                                <option selected value="@item.CategoryId">@item.CategoryName</option>
                            }
                            else
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        }
                    }
                }
            </select>
            <select class="form-control CategeorySecond" style="width: 15%; display: inline; overflow: auto; float: left; margin-right: 10px " name="CategeorySecond" size="4">
                @{
                    int id2 = 0;
                    @foreach (var item2 in Model.categoryDetails2)
                    {
                        if (item2.CategoryId <= 5 && item2.CategoryId >= 2 || item2.CategoryId == 7)
                        {
                            id2 = item2.CategoryId;
                        }
                    }
                    @foreach (var item in ViewBag.次類別)
                    {
                        if (item.CategoryId <= 5 && item.CategoryId >= 2 || item.CategoryId == 7)
                        {
                            if (item.CategoryId == id2)
                            {
                                <option selected value="@item.CategoryId">@item.CategoryName</option>
                            }
                            else if (id2 == 7) { }
                            else if (item.CategoryId <= 5 && item.CategoryId >= 2)
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        }
                    }
                }
            </select>
            <label class="control-label" style="float: left;">商品等級：</label>
            <select class="form-control " style="width: 10%; display: inline; overflow: auto; float: left; margin-right: 10px " name="CategeoryLevel" size="4">
                @{
                    int id3 = 0;
                    @foreach (var item2 in Model.categoryDetails2)
                    {
                        if (item2.CategoryId == 20 || item2.CategoryId == 21)
                        {
                            id3 = item2.CategoryId;
                        }
                    }
                    @foreach (var item in ViewBag.次類別)
                    {
                        if (item.CategoryId == 20 || item.CategoryId == 21)
                        {
                            if (item.CategoryId == id3)
                            {
                                <option selected value="@item.CategoryId">@item.CategoryName</option>
                            }
                            else
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        }
                    }
                }
            </select>
            <label class="control-label" style="float: left;">溫層：</label>
            <select class="form-control " style="width: 10%; display: inline; overflow: auto; float: left;margin-right:10px" name="CategeoryTemp" size="4">
                @{
                    int id4 = 0;
                    @foreach (var item2 in Model.categoryDetails2)
                    {
                        if (item2.CategoryId == 17 || item2.CategoryId == 18)
                        {
                            id4 = item2.CategoryId;
                        }
                    }
                    @foreach (var item in ViewBag.次類別)
                    {
                        if (item.CategoryId == 17 || item.CategoryId == 18)
                        {
                            if (item.CategoryId == id4)
                            {
                                <option selected value="@item.CategoryId">@item.CategoryName</option>
                            }
                            else
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        }
                    }
                }
            </select>
            <label class="control-label" style="float: left;">產季：</label>
            <select class="form-control " style="width: 10%; display: inline; overflow: auto;  " name="CategeorySeason" multiple>
                @{
                    int id5 = 0, id6 = 0, id7 = 0, id8 = 0, id9 = 0;
                    bool flag1 = true, flag2 = true, flag3 = true, flag4 = true;
                    @foreach (var item2 in Model.categoryDetails2)
                    {
                        if (item2.CategoryId <= 15 && item2.CategoryId >= 12 || item2.CategoryId == 23)
                        {
                            if (flag1)
                            {
                                id5 = item2.CategoryId;
                                flag1 = false;
                            }
                            else if (flag2)
                            {
                                id6 = item2.CategoryId;
                                flag2 = false;
                            }
                            else if (flag3)
                            {
                                id7 = item2.CategoryId;
                                flag3 = false;
                            }
                            else if (flag4)
                            {
                                id8 = item2.CategoryId;
                                flag4 = false;
                            }
                            else
                            {
                                id9 = item2.CategoryId;
                            }
                        }
                    }
                    @foreach (var item in ViewBag.次類別)
                    {
                        if (item.CategoryId <= 15 && item.CategoryId >= 12 || item.CategoryId == 23)
                        {
                            if (item.CategoryId == id5 || item.CategoryId == id6 || item.CategoryId == id7 || item.CategoryId == id8 || item.CategoryId == id9)
                            {
                                <option selected value="@item.CategoryId">@item.CategoryName</option>
                            }
                            else
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        }
                    }
                }
            </select>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductUnitPrice" oninput="if(value<0)value=0" class="control-label"></label>
            @if (Model.product.DefectiveGood)
            {
                decimal price = Convert.ToDecimal(Model.product.ProductUnitPrice / Model.product.ProductDisCount);
                int 打折過 = Convert.ToInt32(Math.Round(price, 0, MidpointRounding.AwayFromZero));
                <input id="ProductUnitPrice" name="ProductUnitPrice" value="@打折過" class="form-control" />
            }
            else
            {
                <input asp-for="ProductUnitPrice" class="form-control" />
            }

            <span asp-validation-for="ProductUnitPrice" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="DefectiveGood" /> @Html.DisplayNameFor(model => model.DefectiveGood)
            </label>
        </div>
        <div class="form-group form-check">
            @if (Model.product.DefectiveGood)
            {
                <label asp-for="ProductDisCount" class="control-label">
                    @Html.DisplayNameFor(model => model.ProductDisCount)<br><input asp-for="ProductDisCount" class="form-control" style="display:inline;width:40%"/> <br>折後金額：<br><input name="disCountPrice" value="@Model.product.ProductUnitPrice " style="display:inline;width:40%" class="form-control countprice" disabled />
                </label>
            }
            else
            {
        <label asp-for="ProductDisCount" class="control-label">
            @Html.DisplayNameFor(model => model.ProductDisCount)<br><input asp-for="ProductDisCount" class="form-control" style="display:inline;width:40%" disabled /> <br>折後金額：<br><input name="disCountPrice" value=" " style="display:inline;width:40%" class="form-control countprice" disabled />
        </label>
            }

        </div>
        <div class="form-group">
            <label asp-for="ProductCostPrice" oninput="if(value<0)value=0" class="control-label"></label>
            <input asp-for="ProductCostPrice" class="form-control" />
            <span asp-validation-for="ProductCostPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductUnitsInStock" oninput="if(value<0)value=0" class="control-label"></label>
            <input asp-for="ProductUnitsInStock" class="form-control" />
            <span asp-validation-for="ProductUnitsInStock" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductSize" class="control-label"></label>
            <input asp-for="ProductSize" class="form-control" />
            <span asp-validation-for="ProductSize" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductDescription" class="control-label"></label>
            @*<input asp-for="ProductDescription" class="form-control" />
            <span asp-validation-for="ProductDescription" class="text-danger"></span>*@
            <div id="editor" class="descript" style="min-height:200px;" name="ProductDescription">
                @Html.Raw(Model.ProductDescription)
            </div>
            <input type="hidden" class="prodDescription" name="ProductDescription">
        </div>

        <div class="form-group">
            <label class="control-label">產品相片(第一張圖片會為封面)</label>
            <div class="col-md-12 photobox" style="border:1px solid lightgray;padding:20px">
                <div class="imgLoad">
                    @foreach (var item in Model.photoBank)
                    {
                        <img src="~/images/商品照/@item.PhotoPath" style="width:150px;height:100px;object-fit:cover;margin-right:10px;margin-bottom:10px;">
                        <input type="hidden" name="photoList" class="photoHid" value="@item.PhotoPath" />
                    }
                </div>
                <div class="input-group mb-3">
                    @*<input type="file" class="selectphoto"/>*@
                    <div class="custom-file">
                        <input type="file" multiple class="custom-file-input selectphoto" id="inputGroupFile02" name="photo">
                        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">選擇圖片</label>
                    </div>
                    <div class="input-group-append">
                        <a class="input-group-text imgClear" style="cursor:pointer">清空</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="InShop" /> @Html.DisplayNameFor(model => model.InShop)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="ProduceDate" class="control-label"></label>
            @if (Model.InShop)
            {
                <input asp-for="ProduceDate" class="form-control" disabled />
            }
            else
            {
                <input value="尚未上架" class="form-control" disabled />
            }

            <span asp-validation-for="ProduceDate" class="text-danger"></span>
        </div>



    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
                // editor

    </script>
}
