@model 鮮蔬果季_前台.ViewModels.ShoppingListViewModel
@section Styles{
    <style>
        .custom-file-label::after {
            content: "選擇";
        }
    </style>


}
<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProductId" />
        <div class="form-group">
            <label asp-for="ProductName" class="control-label"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        @*<div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>*@
        <div class="form-group">
            <label asp-for="SupplierName" class="control-label"></label>
            <select asp-for="SupplierName" class="form-control">
                @foreach (var item in ViewBag.AllSupp)
                {
                    if (Model.SupplierName == item.SupplierName)
                    {
                        <option selected>@item.SupplierName</option>
                    }
                    else
                    {
                        <option>@item.SupplierName</option>
                    }

                }

            </select>
            <span asp-validation-for="SupplierName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label" style="display:block">產品分類</label>
            <label class="control-label" style="">品項：</label>
            <select class="form-control  CategeoryFirst" style="width:10%;display:inline" name="CategeoryFirst">
                @{
                    int id = 0;
                    @foreach (var item2 in Model.categoryDetails2)
                    {
                        if (item2.CategoryId == 1 || item2.CategoryId == 6)
                        {
                            id = item2.CategoryId;
                        }
                    }
                    @foreach (var item in ViewBag.次類別)
                    {
                        if (item.CategoryId == 1 || item.CategoryId == 6)
                        {
                            if (item.CategoryId == id)
                            {
                                <option selected value="@item.CategoryId">@item.CategoryName</option>
                            }
                            else
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        }
                    }
                }
            </select>
            <select class="form-control CategeorySecond" style="width:15%;display:inline" name="CategeorySecond">
                @{
                    int id2 = 0;
                    @foreach (var item2 in Model.categoryDetails2)
                    {
                        if (item2.CategoryId <= 5 && item2.CategoryId >= 2 || item2.CategoryId == 7)
                        {
                            id2 = item2.CategoryId;
                        }
                    }
                    @foreach (var item in ViewBag.次類別)
                    {
                        if (item.CategoryId <= 5 && item.CategoryId >= 2 || item.CategoryId == 7)
                        {
                            if (item.CategoryId == id2)
                            {
                                <option selected value="@item.CategoryId">@item.CategoryName</option>
                            }
                            else if (id2 == 7) { }
                            else if (item.CategoryId <= 5 && item.CategoryId >= 2)
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        }
                    }
                }
            </select>
            <label class="control-label" style="">商品等級：</label>
            <select class="form-control " style="width:10%;display:inline" name="CategeoryLevel">
                @{
                    int id3 = 0;
                    @foreach (var item2 in Model.categoryDetails2)
                    {
                        if (item2.CategoryId == 20 || item2.CategoryId == 21)
                        {
                            id3 = item2.CategoryId;
                        }
                    }
                    @foreach (var item in ViewBag.次類別)
                    {
                        if (item.CategoryId == 20 || item.CategoryId == 21)
                        {
                            if (item.CategoryId == id3)
                            {
                                <option selected value="@item.CategoryId">@item.CategoryName</option>
                            }
                            else
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        }
                    }
                }
            </select>
            <label class="control-label" style="">溫層：</label>
            <select class="form-control " style="width:10%;display:inline" name="CategeoryTemp">
                @{
                    int id4 = 0;
                    @foreach (var item2 in Model.categoryDetails2)
                    {
                        if (item2.CategoryId == 17 || item2.CategoryId == 18)
                        {
                            id4 = item2.CategoryId;
                        }
                    }
                    @foreach (var item in ViewBag.次類別)
                    {
                        if (item.CategoryId == 17 || item.CategoryId == 18)
                        {
                            if (item.CategoryId == id4)
                            {
                                <option selected value="@item.CategoryId">@item.CategoryName</option>
                            }
                            else
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        }
                    }
                }
            </select>
            <label class="control-label" style="">產季：</label>
            <select class="form-control " style="width:10%;display:inline" name="CategeorySeason">
                @{
                    int id5 = 0;
                    @foreach (var item2 in Model.categoryDetails2)
                    {
                        if (item2.CategoryId <= 15 && item2.CategoryId >= 12 || item2.CategoryId == 23)
                        {
                            id5 = item2.CategoryId;
                        }
                    }
                    @foreach (var item in ViewBag.次類別)
                    {
                        if (item.CategoryId <= 15 && item.CategoryId >= 12 || item.CategoryId == 23)
                        {
                            if (item.CategoryId == id5)
                            {
                                <option selected value="@item.CategoryId">@item.CategoryName</option>
                            }
                            else
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        }
                    }
                }
            </select>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductUnitPrice" class="control-label"></label>
            <input asp-for="ProductUnitPrice" class="form-control" />
            <span asp-validation-for="ProductUnitPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductCostPrice" class="control-label"></label>
            <input asp-for="ProductCostPrice" class="form-control" />
            <span asp-validation-for="ProductCostPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductUnitsInStock" class="control-label"></label>
            <input asp-for="ProductUnitsInStock" class="form-control" />
            <span asp-validation-for="ProductUnitsInStock" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProductDescription" class="control-label"></label>
            @*<input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>*@
            <div id="editor" class="descript" style="min-height:200px;" name="ProductDescription">
               @Html.Raw(Model.ProductDescription)
            </div>
            <input type="hidden" class="prodDescription" name="ProductDescription">
        </div>
        <div class="form-group">
            <label asp-for="ProductSize" class="control-label"></label>
            <input asp-for="ProductSize" class="form-control" />
            <span asp-validation-for="ProductSize" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">產品相片(第一張圖片會為封面)</label>
            <div class="col-md-12 photobox" style="border:1px solid lightgray;padding:20px">
                <div class="imgLoad">
                    @foreach (var item in Model.photoBank)
                    {
                        <img src="~/images/商品照/@item.PhotoPath" style="width:150px;height:100px;object-fit:cover;margin-right:10px;margin-bottom:10px;">
                        <input type="hidden" name="photoList" class="photoHid" value="@item.PhotoPath" />
                    }
                </div>
                <div class="input-group mb-3">
                    @*<input type="file" class="selectphoto"/>*@
                    <div class="custom-file">
                        <input type="file" multiple class="custom-file-input selectphoto" id="inputGroupFile02" name="photo">
                        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">選擇圖片</label>
                    </div>
                    <div class="input-group-append">
                        <a class="input-group-text imgClear" style="cursor:pointer">清空</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="InShop" /> @Html.DisplayNameFor(model => model.InShop)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="ProduceDate" class="control-label"></label>
            @if (Model.InShop)
            {
                <input asp-for="ProduceDate" class="form-control" disabled />
            }
            else
            {
                <input value="尚未上架" class="form-control" disabled />
            }

            <span asp-validation-for="ProduceDate" class="text-danger"></span>
        </div>


        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="DefectiveGood" /> @Html.DisplayNameFor(model => model.DefectiveGood)
            </label>
        </div>

        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="HotProduct" /> @Html.DisplayNameFor(model => model.HotProduct)
            </label>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
            // editor

    </script>
}
